[2014-04-22 07:24] davidpelaez opened #42 "Cannot build"
Hi,

I was trying to play a little bit with STI to test some stuff with geard. I didn't manage to make if work in OS X or Fedora 20. When I run `sti build test_sources/applications/html pmorie/fedora-mock sti_app` this is what I get:

[code]

I don't really know Python so digging into the code to find out myself isn't that easy. Any help is appreciated, thanks.

[2014-05-22 18:00] ncdc opened #62 "STI should return non-zero exit code upon failure"
STI's exit code is always 0. This makes it difficult to determine if the build failed, for example, unless you scrape the invocation's output. I'd recommend that we exit non-zero when appropriate.

[2014-05-22 23:37] #42 closed, assigned to nobody

[2014-10-23 02:23] csrwng opened #66 "Add more information to STI callback payload"
Include builder image, source repo, date, time, image tag

[2014-10-23 02:26] csrwng opened #67 "Switch STI to use glog instead of log"
Verbosity wouldn't need to be passed around and more levels can be supported.

[2014-10-23 02:28] csrwng opened #68 "Support multi platform build of STI"
Switch hack/build-release.sh to use the same as openshift/origin

[2014-10-23 14:35] csrwng opened #69 "Improve unit test coverage for STI"
Run `hack/test-go.sh <pkg>; go tool cover -html=_output/go/tmp.out` for every package to look at coverage.

[2014-10-23 14:36] csrwng opened #70 "Add Docker registry authentication support to STI"

[2014-11-02 15:21] ghost opened #74 "install to _output?"
As a go newbie, it took me about half an hour to work out where the `sti` command was being installed. I eventually found it in `_output` by reading the `hack` sources.

Is this normal, or some kind of go convention? Should it be added to the installation instructions?

[2014-11-04 08:46] accursoft opened #75 "Include STI scripts in image"
I would like to include STI scripts inside the image. Seeing as the image and sti scripts will likely be developed together, this seem like a reasonable requirement.

[2014-11-10 08:39] accursoft opened #81 "Build and run as different users"
I would like the built image to run with a more restricted user than the one which performed the build. This could be supported by running `assemble` as a non-default user, or by changing the image's default user after assembly.

It can be done now with `docker run -u`, but it would be nice to support this automatically.

[2014-11-10 20:33] #74 closed, assigned to nobody

[2014-11-13 15:33] iocanel opened #82 "Can't call the assemble script when providing the scripts url using -s option"
I am trying to use the sti and provide a url to the sti scripts as follows:

sti build https://github.com/iocanel/test-sti.git fabric8/karaf-2.4 fabric8/test-sti -s file:/somepath/.sti/bin

The error I am getting is:

/bin/bash: assemble: No such file or directory
An error occured: Container exited with exit code: 127

[2014-11-13 15:40] iocanel opened #83 "Can't find script when using STI_SCRIPTS_URL"
My base image contains the following:

ENV STI_SCRIPTS_URL file:/opt/sti
it also adds the sti scripts under /opt/sti/

I am trying to use sti as follows:

sti build https://github.com/iocanel/test-sti.git fabric8/karaf-2.4 fabric8/test-sti

and get the error:

An error occured: Scripts download failed

[2014-11-14 15:57] #83 closed, assigned to nobody

[2014-11-14 21:06] #82 closed, assigned to nobody

[2014-12-04 09:12] #75 closed, assigned to nobody

[2014-12-04 09:42] accursoft opened #92 "repeat build ignores image:// save-artifacts script"
From the build log (a previously build `test` image exists):

[code]

If I specify the same scripts with `-s`, it re-uses the build artifacts.

[2014-12-05 14:39] #62 closed, assigned to nobody

[2014-12-11 14:42] #92 closed, assigned to nobody

[2014-12-19 11:10] soltysh opened #100 "Hide private `Request` fields"
Since the extraction of `types.go` into their own package `api` there a couple of fields unnecessarily public, this includes:
* `WorkingDir`
* `Incremental`
* `ExternalRequiredScripts`
* `ExternalOptionalScripts`

[2015-01-11 09:17] accursoft opened #106 "Building an image without sti-helper from a file system source fails silently"
`sti build` using source from the local filesystem and an image without `sti-helper` fails silently when copying the source to `upload/src`, as the upload directory does not exist yet.

The error output from `cp` is suppressed, even with `--loglevel=3`.

[2015-01-11 14:56] accursoft commented on #106
Quick fix for `sti build`, in `executor.go:293`:
[code]

[2015-01-12 13:04] bparees commented on #106
thanks for the PR: https://github.com/openshift/source-to-image/pull/107

[2015-01-12 22:31] #106 closed

[2015-01-12 22:32] bparees commented on #106
merged https://github.com/openshift/source-to-image/pull/107, good to close this?

[2015-01-13 14:32] soltysh opened #108 "`ONBUILD ENTRYPOINT` in base images"
Since just recently STI allows using arbitrary images for doing build, the problem arises when one of the base images includes [ONBUILD ENTRYPOINT](https://docs.docker.com/reference/builder/#onbuild) instruction. This results in an image where the `.sti/bin/run` command will be appended after the [ENTRYPOINT](https://docs.docker.com/reference/builder/#entrypoint). This results in some weird behavi

[2015-01-20 14:12] soltysh commented on #108
Similar problem exists k8s guys, see https://github.com/GoogleCloudPlatform/kubernetes/issues/2316

[2015-01-23 17:55] goldmann opened #114 "Make run script optional"
Currently the `run` script is required. I would like it to have optional. This would let it reuse the `CMD` command which was specified in the image we could possibly extend by creating the builder image.

Imagine the `jboss/wildfly` image. This is upstream image has already defined a `CMD` command. I don't see a reason to duplicate it just to satisfy the requirement of having the `run` command. I

[2015-01-23 18:41] bparees commented on #114
+1, sounds good to me...  @csrwng / @soltysh ?

[2015-01-23 19:05] mfojtik commented on #114
+1
On Jan 23, 2015 7:41 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-01-23 19:06] csrwng commented on #114
+1

[2015-01-26 09:57] goldmann commented on #114
I'll work on a PR for this, give me a bit, since I'm new to golang :)

[2015-02-09 09:40] mfojtik opened #121 "Remove the 'sti' from the package namespace"
Is it really necessary to have 'sti' in the package name?

What we do now:
[code]

What we should do:

[code]

[2015-02-09 09:43] mfojtik opened #122 "STI is not extendable"
Rightnow  the STI source code is very 'sti-centric'. If I want to add my custom build type (heroku build-pack, generic Docker build, etc...) I can't easily plug this into the existing STI codebase. We should have better interfaces and have factories for this:

[code]

What we have right now is something like:

[code]

and so on... the STI will be still 'default' build type, but we can also support

[2015-02-09 09:48] mfojtik commented on #108
@soltysh we should have more modular builds that detect ONBUILD instruction and execute 'on-build' type of build. We should not be trying to do anything smart if the image we consume already have ONBUILD it uses this mechanism to build the application images.

[2015-02-09 11:50] mfojtik commented on #122
@soltysh @bparees fyi ^^

[2015-02-09 13:06] bparees commented on #121
+1

[2015-02-09 13:10] bparees commented on #122
+1

[2015-02-09 14:47] kargakis commented on #122
I am still not very familiar with the STI codebase but this interface design feels quite rough with all the methods stacked into one interface.

tl;dr +1, a more composable interface design will probably be better

[2015-02-09 15:09] mfojtik commented on #122
This is some very rough attempt to sneak build 'strategies' into STI:

https://github.com/mfojtik/source-to-image/commit/faec143c260d4a0f38c94db2a54226a1cea48bf1

and it actually works:

https://gist.github.com/mfojtik/a3b1504f6e222ee38db2

[2015-02-13 07:46] mfojtik commented on #122
Fixed.

[2015-02-13 07:46] #122 closed

[2015-02-13 07:46] mfojtik commented on #121
Fixed.

[2015-02-13 07:46] #121 closed

[2015-02-13 07:46] mfojtik commented on #108
Fixed in https://github.com/openshift/source-to-image/pull/124 you can now close this issue.

[2015-02-13 07:48] mfojtik commented on #114
@goldmann the run script is now optional for the OnBuild type of build. You will have to rebase this against the new code layout and make it part of the sti build strategy.

[2015-02-13 07:50] goldmann commented on #114
@mfojtik Cool, thanks for heads up, I'll rebase it. I just had no time so far to work on this, but it's on my TODO list.

[2015-02-13 09:59] #108 closed

[2015-02-19 12:25] soltysh opened #133 "Allow seeing STI logs when doing integration tests"
Currently adding `-v` flag to `hack/test-integration.sh` shows only the logs from the integration tests itself. Whereas when searching for test error I'd like also to see STI internal which you turn on with `--loglevel=3`.

[2015-02-24 10:25] soltysh opened #144 "Add better mechanism for `api.Request` validation"
Currently `api.Request` object is validated only [here](https://github.com/openshift/source-to-image/blob/master/cmd/sti/main.go#L70) and in all functions creating those objects. As long as STI is used as standalone this is OK, but when you incorporate STI as part of [origin](https://github.com/openshift/origin/blob/master/pkg/build/builder/sti.go) then the validation does not happen, but it shoul

[2015-02-25 11:31] soltysh opened #146 "Make output image optional"
This comes from here: https://github.com/openshift/origin/pull/1119#discussion-diff-25241156. Generally speaking the idea is to stress test the building process itself without actually producing/committing image. STI currently requires that image and we should not especially when that PR gets into origin.

[2015-02-25 14:55] bparees commented on #146
@soltysh are you working on this or do you want me to take a crack at it since it's my downstream change that's affected?

[2015-02-25 15:19] soltysh commented on #146
@bparees I haven't started working on it yet, but if you don't mind I'll do it but don't tell @mfojtik, we're competing in number of commits in STI :wink:

[2015-02-25 15:44] bparees commented on #146
@danmcp looks like the source-to-image repo teams need adjusting too, I can't assign @soltysh.

[2015-02-25 15:56] danmcp commented on #146
@bparees Should be fixed

[2015-02-26 12:29] soltysh commented on #67
@csrwng can we close this by now?

[2015-02-26 12:30] soltysh commented on #68
@csrwng can we close this by now?

[2015-02-26 14:03] soltysh commented on #146
PR is [here](https://github.com/openshift/source-to-image/pull/147).

[2015-02-26 14:09] csrwng commented on #67
@soltysh yup

[2015-02-26 14:09] #67 closed

[2015-02-26 14:09] csrwng commented on #68
yes

[2015-02-26 14:09] #68 closed

[2015-02-27 20:21] iocanel opened #149 "sti build hangs"
I am using sti from the command line and in most cases, I notice that it "hungs".

When I am using log level 3 I see that the build output always hungs at exactly the same line.

What is strange though is that when I check the docker logs, I can see that the assemble script has successfully finished and also that the container has exited gracefully. The target image of course is never created.

Th

[2015-02-27 20:27] bparees commented on #149
Can you give us steps to recreate?  what STI image, what STI scripts, what commit level of STI, etc?

(also what docker version)

[2015-02-27 20:37] iocanel commented on #149
I've been using the https://github.com/fabric8io/base-sti base image. The sti scripts are part of the image and they are referenced using their github url.

My docker is at 1.4.1 and I'll try to upgrade and see if it makes any difference.

Here's an example of how I use the command:

sti build https://github.com/fabric8io/example-camel-cdi.git fabric8/base-sti fabric8/camel-example --loglevel=3

[2015-02-27 20:52] bparees commented on #149
yup, I was able to reproduce this just running your sti command.  and I do see the container has exited after running assemble successfully.

Given that the sti output hangs partway through the assemble script output, i'm guessing we're screwing up/overfilling a buffer somewhere.  @soltysh can you take a look?

[2015-02-27 20:53] iocanel commented on #149
The behaviour that I see makes me feel that the issue is related with the readers of the containers output and error. It seems like on of them stops reading and fails to close preventing the method to return? (limited understanding of golang here).

[2015-02-27 20:54] bparees commented on #149
in the meantime, could you edit your assemble script to redirect the maven output to /dev/null?  that might let you make progress...

[2015-02-28 03:55] iocanel commented on #149
It does seem to make a difference.

[2015-03-02 10:45] soltysh commented on #149
Looking...

[2015-03-11 18:55] thoraxe opened #154 "support "additive" scripts for STI process"
Currently, when customizing the STI scripts, one must take the original script and then add to it.

It would be nice if we supported some kind of additive mechnaism. Either by indicating it in the script, or by having a script of the same name with a number (eg: ##-assemble [happens before assemble] and assemble-## [happens after assemble])

[2015-03-12 04:52] mfojtik commented on #154
this logic can be done today by modifying the assemble script to source other scripts.

[2015-03-12 11:43] soltysh commented on #154
I don't see any value in that, especially that when you want different behavior you already have the option to modify all the scripts.

[2015-03-12 13:08] bparees commented on #154
@mfojtik not sure how your approach would work.  The user would have to first create their own assemble script, and then they couldn't source in the original (image) assemble script because it would be difficult for them to know where to source it from (and in some cases it won't even be present to be sourced)

@soltysh not clear to me what you're objecting to.

[2015-03-12 14:17] thoraxe commented on #154
@soltysh The value is that I might want to "add" something extra (eg: calling out to external systems) at the end of the assemble process. But if I copy the current builder image script, when the builder image gets updated, I need to know how to find the updated script, and keep track of when it is updated.

[2015-03-12 14:18] soltysh commented on #154
IMHO the amount of work being done in those script is mostly minimal, meaning if you decide to change it or expand it, I'd suggest you take full control over the script.

[2015-03-12 14:19] thoraxe commented on #154
Minimal is not zero. And expecting the end user to maintain our build scripts just because they want to add a single curl statement is unreasonable. It is also a regression from V2.

[2015-03-12 14:19] soltysh commented on #154
@thoraxe for notifications I'd suggest to use [callbackURL](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#callback-url)

[2015-03-12 14:20] thoraxe commented on #154
@soltysh that was a simple example. It is not the only example or use case. Not having an "additive" model means we have gone from an extensible system to a less flexible system.

[2015-03-12 14:26] bparees commented on #154
@soltysh I agree with @thoraxe, our current mechanism for modifying assemble/run behavior leaves something to be desired.  Whether this is a priority or not depends on whether we find that users really need to customize those scripts frequently and the nature of those customizations, but if they are needed, additive is the right way to go.

[2015-03-12 14:40] soltysh commented on #154
OK, I feel convinced :bowtie:

[2015-03-12 15:08] soltysh commented on #154
trelloed: https://trello.com/c/WpdJNDz7/524-as-an-sti-user-i-d-like-to-extend-the-default-scripts

[2015-03-13 15:55] iocanel commented on #149
Using the latest master, I still have the same issue.

[2015-03-16 15:09] soltysh commented on #149
@iocanel can you please check this once more. I just did a fresh build of STI ([this revision](https://github.com/openshift/source-to-image/commit/aded45154b8b3bd2297d7643bde6176b4d71f01f)) and the command:
[code]
worked without any problem resulting in `fabric8/camel-example` image. The only problem I hit was running that result image ended in:
[code]
But that is not a STI problem from what I see

[2015-03-16 15:17] iocanel commented on #149
Will check and get back to you.

[2015-03-17 06:47] wangzhezhe opened #155 "An error occurred: non-zero (13) exit code from openshift/wildfly-8-centos"
when i testing the command : stil build , according to the readme.md I got the follwing error:
sti build git://github.com/bparees/openshift-jee-sample openshift/wildfly-8-centos test-jee-app
I0317 14:39:07.592323 26821 sti.go:111] Building test-jee-app
Cloning into '/tmp/sti424670445/upload/src'...
remote: Counting objects: 29, done.
remote: Compressing objects: 100% (19/19), done.
remote: Total 2

[2015-03-17 14:08] goldmann commented on #149
I'm seeing this too. It feels like the build is stuck on downloading some Maven artifacts in my case, but in fact, the build container already exited with status `0` and new image was created as it should. My example command is:

[code]

Where the `8fffd6ce363a` image is a custom EAP image, but probably the `wildfly8-centos` image could be used too.

One note: this does not happen every time. If I

[2015-03-17 14:19] bparees commented on #155
works for me, can you confirm that
1) you're using the latest STI code?
2) docker pull openshift/wildfly-8-centos so you're using the latest STI builder image? (sti does not pull by default, but if you specify --forcePull=true it will)
3) run with --loglevel=5  for more verbose output

in sum, if you can make sure you're on the latest code level (or at least download the latest release) and run:
s

[2015-03-18 01:13] wangzhezhe commented on #155
Thans for your suggestions !
I used the  command : go get github.com/openshift/source-to-image  to get the src yesterday the sti version is : sti v0.1-100-gaded451
I was just using the --loglevel=5 flag it seems that some problem with maven ， I'm a little confused with that , could you give me some suggestions , thank you !:

sti build git://github.com/bparees/openshift-jee-sample openshift/wildfl

[2015-03-18 14:00] bparees commented on #155
It looks like your container is unable to reach repo.maven.apache.org.

On your system, can you run  "docker run -it centos /bin/bash"  and then from within the prompt run "ping repo.maven.apache.org"?  (also confirm you can ping it directly from your host).

it seems like perhaps something is broken in your docker networking that's preventing containers from eaching remote sites, which obviously

[2015-03-19 04:07] wangzhezhe commented on #155
It' worked , it's maybe the network problems.
Thanks for your patience!

[2015-03-19 13:31] bparees commented on #155
no problem, glad you got it working.

[2015-03-19 13:31] #155 closed

[2015-03-19 16:27] #146 closed

[2015-03-20 10:13] goldmann opened #156 "Send output to stdout, not stderr"
Currently everything is sent to `stderr`. The console output should be sent to `stdout` instead. Only errors should be sent to `stderr`.

[2015-03-20 10:25] goldmann opened #157 "Cannot redirect output"
It seems that it's not possible to redirect output of `sti` command to somewhere:

[code]

[2015-03-20 10:31] goldmann commented on #157
False positive, works. I had a typo, the file should be: `~/sti-test.log`.

[2015-03-20 10:31] #157 closed

[2015-03-20 14:59] soltysh commented on #156
Yeah, I'd like that too, see [here](https://github.com/openshift/source-to-image/blob/master/cmd/sti/main.go#L181-L183). I guess I need to work on a PR to glog.

[2015-03-24 12:43] mfojtik opened #158 "Add support for STI config file to exists in GIT repo"
I think this will help to have much cleaner user experience with STI command line, where the user don't need to know all possible options/docker image names/etc to just trigger the STI build.

I'm proposing that this command:

[code]

will clone the GIT repo, then check if there is 'sti.json' (naming TBD) file and prefill the STI build options automatically (reusing the `--use-config` logic)

[2015-03-24 12:47] mfojtik commented on #158
FYI, this is more like future feature proposal, not need to be done now (as the STI is not stable itself anyway).

[2015-03-24 12:50] soltysh commented on #158
Let's stick to what you already proposed [here](https://github.com/openshift/source-to-image/blob/master/pkg/config/config.go#L15):wink: But generally :+1:

[2015-03-24 14:29] bparees commented on #158
so would you have an sti.json in the root of the repo and the sti.json would specify a contextDir?  or would contextDir still have to be passed to sti explicitly and we'd look for sti.json in that contextDir?

[2015-03-24 14:39] mfojtik commented on #158
@bparees everything will be set in sti.json (or .stifile) you just do `sti build <repo>`

[2015-03-24 16:46] bparees commented on #158
@mfojtik this means i can only have one sti.json per repo.  so i can't have multiple projects in a single repo and use contextDir to pick specific ones.

[2015-03-24 20:03] soltysh commented on #158
@bparees actually you could have both, either you'd specify `contextDir` in that case it'll be only one per repo, or you don't in which case we'll do default to current and you can still use `--context-dir` flag to point to that dir in the repo in which all the other options (builder image, name, etc.) are defined. At least that's my understanding.

[2015-03-24 20:35] bparees commented on #158
@soltysh that definitely wasn't my interpretation of the proposal since that would mean a two-phase processing of options:

1) process options (including --contextDir)
2) clone the repo
3) if --contextDir is set, change to contextDir
3) check for sti.json in current directory
4) process sti.json options if present
5) change to contextDir from sti.json if it had one
6) continue build.

[2015-03-25 09:15] mfojtik opened #159 "Need to show output of assemble script run in default loglevel"
As the output of assemble is most like the most important thing end-users will want to see we should display it by default (or have special option for that --output-assemble?).

In Origin we should show this output, nothing else is important for the end user (if the end user is not debugging issue in STI itself)

[2015-03-25 09:18] soltysh commented on #159
:+1:

[2015-03-25 09:18] mfojtik commented on #159
@bparees - want to cleanup the Build logs in Origin :-)

[2015-03-25 09:37] soltysh commented on #158
@bparees yeah, maybe I went to far with that. It's still open discussion :wink: right?

[2015-03-25 10:17] mfojtik commented on #158
@bparees I think the approach I proposed will work for >80% of cases (where users have just one application in GIT repo). For the next 20% they can either not support it or have some default stifile and use contextDir manually.

[2015-03-25 10:18] mfojtik commented on #158
btw. it also makes me things about if 'contextDir' is the proper name for this option and if it should not be 'sourceDir' or 'sourcePath'

[2015-03-25 11:57] bparees commented on #159
@mfojtik the request actually came from @smarterclayton but yes...  the only thing i'd add is that it's probably worth printing out where we pulled the various scripts from.  That's pretty commonly useful information that shouldn't require special debug settings to see, imho.  If someone thinks they're using assemble from their repo and they're not, it'd be nice to be able to quickly see that.

[2015-03-25 12:01] bparees commented on #158
@mfojtik yeah that's fine, i just want it clearly stated how those scenarios would play out/interact.

[2015-03-26 14:44] goldmann commented on #149
Any news on this? Since we added STI to our CI this is now failing our builds.

[2015-03-26 14:55] mfojtik commented on #149
https://github.com/openshift/source-to-image/pull/160

@goldmann this might fix you (--assebleOutput=false)

[2015-03-26 14:57] goldmann commented on #149
@mfojtik Well, this is more like a workaround :) Is there a way to redirect the output to somewhere. We would still need the logs for further investigation.

[2015-03-26 15:45] soltysh commented on #149
@goldmann sorry but I can't still reproduce it and I'm still investigating the the source of the problem.

[2015-03-26 16:46] goldmann commented on #149
@soltysh Fair enough, update this issues if you have something. Thanks!

[2015-03-29 12:51] wangzhezhe opened #162 "Does sti support the building from a war file?"
Hi, I want to know if sti support the building from a war file to an image. I only find the examples about building from the  source code into an image. But I found in this page : https://github.com/openshift/openshift-pep/blob/master/openshift-pep-013-openshift-3.md
in the " Build " section , it says:
"Example: post a WAR file to a source-to-images build that results in that WAR being deployed"
C

[2015-03-30 03:29] bparees commented on #162
the existing wildfly STI image supports two things:
1) supply a source repo containing a pom.xml that produces a war file.
  - in this case the resulting war file will be deployed in the resulting image
2) supply a "source" repo containing a war file pre-built
  - in this case the war file in the repo will be deployed in the resulting image.

either way, this is controlled by the assemble script l

[2015-03-30 04:55] wangzhezhe commented on #162
Thanks for your suggestions!
It seems that the .war file should be put in the ‘development’ directory?
I have tested the basic example just like:
sti build /home/wangzhe/Downloads/test openshift/wildfly-8-centos  test-jee-app9 --forcePull=true --loglevel=5
（I have already put a .war (an simple java web example) file which could run normally by tomcat in the /home/wangzhe/Downloads/test/deployments

[2015-03-30 12:04] bparees commented on #162
Yes the deployments directory is the correct place to put the war file, it appears you did that correctly as it looks like wildfly picked up the war:
04:49:21,866 INFO org.jboss.as.server JBAS018558: Undeployed "book.war" (runtime-name: "book.war")

I don't have any specific advice to offer you on the particular error your application is getting, it looks like either a configuration error (might n

[2015-03-30 16:01] soltysh opened #163 "STI swallows error messages from assemble script"
I'm currently building [sti-python](https://github.com/openshift/sti-python) image and found that STI swallows error messages from assemble script.
[code]
vs.
[code]

The swallowed line is:
[code]

[2015-03-30 18:16] mfojtik commented on #163
seems like stderr is silenced for some reason. I will fix it.
On Mar 30, 2015 6:01 PM, "Maciej Szulik" <notifications@github.com> wrote:

[2015-03-30 20:27] soltysh commented on #163
Actually I was planning to handle that tomorrow on the train :wink:

On Mon, Mar 30, 2015 at 8:16 PM Michal Fojtik <notifications@github.com>
wrote:

[2015-03-31 01:50] wangzhezhe commented on #162
Thans for your suggesion , it maybe the conflict of the package in the app , now it's worked !

[2015-03-31 02:42] bparees commented on #162
Great!

[2015-03-31 02:42] #162 closed

[2015-03-31 09:32] #159 closed

[2015-03-31 09:33] mfojtik commented on #159
STI now prints only assemble output/errors

[2015-03-31 09:43] #163 closed

[2015-04-02 10:16] ianmiell opened #165 "git clone, sti create, make results in failure"
[code]

Adding a contrib folder works. If adding the folder as part of create is the solution, I can code this.

Before I do this, have I misunderstood something though?

[2015-04-02 15:52] soltysh commented on #165
@ianmiell thanks for trying out STI! Looking at your output I'm guessing these are not all steps you did. Above output suggests you tried building STI, which should work without any problems, I just did that:
[code]
But that part of the output:
[code]
suggests you're trying to create a builder image based on our [openshift/base-centos7](https://github.com/openshift/sti-base/) image. Which requires

[2015-04-10 10:10] forhot2000 opened #168 "How to build from private git repository?"
My git repository is private, how to build from private git repository?

[2015-04-10 14:26] bparees commented on #168
STI just runs a git clone:
https://github.com/openshift/source-to-image/blob/master/pkg/git/git.go#L80
so if your environment is setup with a config for your keys/auth to access the private git repo, it should "just work"

[2015-04-15 15:37] cianclarke opened #169 "README.md still makes reference to --clean"
https://github.com/openshift/source-to-image/blame/master/README.md#L92

    If a save-artifacts script exists, a prior image already exists, and the --clean option is not used, the workflow is as follows:

I'm not sure how this line should read, as the operation seems to have been flipped too? --clean=true is --incremental=false - but should probably update README. Would be good to also

[2015-04-15 16:52] bparees commented on #169
thanks, clarified it here:
https://github.com/openshift/source-to-image/pull/170

[2015-04-15 16:53] #169 closed

[2015-04-15 22:05] jhadvig opened #171 "Unable to perform Incremental build"
When trying to provide incremental build, I get the following result:

[code]

The whole log of the incremental build is available at http://pastebin.test.redhat.com/276603

[2015-04-27 21:33] bparees opened #173 "must override run and assemble scripts together"
if you only supply one or the other, the resulting image fails to build.

[2015-04-27 21:34] bparees commented on #173
@soltysh I thought we had an issue for this but i couldn't find one..feel free to close if you have one.

[2015-04-28 09:14] soltysh commented on #173
I have an open PR for that #167, but it's far from being ready, as I've find some bugs in it, it's on top of my todo list.

[2015-04-28 15:56] jmtd opened #174 "environment variables can't contain commas"
Since you split the env command-line argument on ',', the environment variable values themselves can't contain commas. I hit this trying to pass "-P some-repo,some-other-repo" to maven via `MAVEN_ARGS`.

[2015-04-28 16:03] mfojtik commented on #174
Good catch. Is this broken also when you quote them ?
On Apr 28, 2015 17:56, "Jonathan Dowland" <notifications@github.com> wrote:

[2015-04-30 04:27] smarterclayton commented on #156
glog won't accept PRs.  We probably need to switch to a different library in our code that expects to run in these contexts (glog isn't really intended for the "display output to end users" use case).  A good starting point would be implementing the core static glog API against log (including V) as a drop in package replacement for glog.

[2015-04-30 07:43] soltysh commented on #156
@smarterclayton maybe before implementing that, we could spent some time and investigate other logging libraries like https://github.com/Sirupsen/logrus or https://github.com/op/go-loggin or others (?), I remember the first being mentioned upstream.

[2015-04-30 12:45] smarterclayton commented on #156
All of those bring more complexity which we don't have time for.  I also don't want to move away from glog on the server..

[2015-04-30 12:48] rhcarvalho opened #175 "Set the WORKDIR to the path where the application code lives"
It would be useful to have the `WORKDIR` set to the path where your application code lives in images created with STI.

That way, it would be possible to call scripts you might have in your code base passing its relative path to `docker exec` or `osc exec`.

`docker exec -it <container> bash` would start in the "right" directory.

If there is no opposition to this idea, I could implement this myse

[2015-04-30 14:23] bparees commented on #175
templates would be one place, you'll always want to update our existing Dockerfiles for our STI images.  or better, set it in the sti-base Dockerfile since it should be common to all the downstream images.

[2015-04-30 17:45] thesteve0 opened #176 "Move the complete doc over to the real site"
Please move the contents from the readme.md over to the real site

http://docs.openshift.org/latest/creating_images/sti.html

This way all your good work can be seen by the rest of the world

[2015-04-30 17:49] bparees commented on #176
what do you feel should be on that page that isn't already there?

frankly I think there's probably already too much there...  STI deserves its own doc as it is its own project, and openshfit should simply be referencing that doc.  What we have in place now was a compromise.

@soltysh

[2015-04-30 18:55] thesteve0 commented on #176
We cleared this up in IRC. They are same doc, I was just fooled by formatting. I agree that if this is a standalone tool then the docs should live here and linked from the main doc site. I would say you still need a more detailed walk through on how to construct an STI image. My doc should help with that.

[2015-05-05 08:58] soltysh commented on #168
@forhot2000 did the solution @bparees provided work for you? If so, can you close this issue, otherwise please provide us with a test case we could test against. Thanks.

[2015-05-05 08:58] soltysh commented on #165
@ianmiell do you have any update on this issue? If it's not applicable anymore, can you please close it?

[2015-05-05 11:22] soltysh commented on #171
@jhadvig can you provide more details around how did you achieve that, because by default openshift/ruby-20-centos7 does not provide `save-artifacts` which is required to perform incremental build. If you built your own, can you please share? The error:
[code]
indicates your `save-artifacts` script did not streamed tar contents into stdout.
Could you also describe all the steps you did to get to t

[2015-05-05 11:40] rhcarvalho commented on #175
@bparees it turns out that [the WORKDIR is set in the base image](https://github.com/openshift/sti-base/blob/ad0585fad74260dd32f858a307beb84c42ec5cbd/Dockerfile#L58), and `docker run/exec ... pwd` on images generated by `sti` produces the expected output:

[code]

So the problem seems to be within `osc exec` / `kubectl exec`. I'm looking into that.

[2015-05-05 13:58] bparees commented on #175
@rhcarvalho so this can be closed?

[2015-05-05 14:01] rhcarvalho commented on #175
@bparees yes, closed. `kubectl exec` is documented to set the working directory for the command to root ('/'), just don't know why (yet).

[2015-05-05 14:01] #175 closed

[2015-05-06 07:22] soltysh commented on #173
@bparees can you close this one?

[2015-05-06 12:31] #173 closed

[2015-05-06 22:53] bparees opened #179 "sti hangs in docker pull if tag is invalid"
run STI and provide no tag on the image name, for an image repo where there is no "latest" tag, result is STI hangs forever in "pulling image"... seems like it must not be handling an error correctly:

$ docker pull ce-registry.usersys.redhat.com/jboss-webserver3/tomcat8-openshift
FATA[0005] Tag latest not found in repository ce-registry.usersys.redhat.com/jboss-webserver3/tomcat8-openshift

$ sti

[2015-05-06 22:56] bparees commented on #179
@soltysh fyi.

[2015-05-07 12:33] thoraxe opened #180 "run image as part of running source-to-image"
It came up in conversation that it might be nice if the sti "program" accepted a flag that would: cause the resulting built Docker image to stay running instead of actually being a created image.

There may be cases where I want to test the result of my STI process locally without having to push the Docker image somewhere.

I guess this flag would essentially cause "run" to be executed immediately

[2015-05-07 13:11] bparees commented on #180
I would actually describe it as immediately running the output image, as opposed to running the run script after the assemble script.  (among other things, that's much easier to implement).

[2015-05-07 16:53] thoraxe commented on #180
I guess I don't understand how it's easier.

If there's an env-var for "run immediately", assemble calls run?

I'm probably missing something.

[2015-05-07 17:04] bparees commented on #180
what you're proposing would require every single assemble script be updated to respect that env var and invoke run.

in addition, even if you want to run immediately, we're still going to want to commit the output of your assemble script.  so polluting that container by running the run command in it makes that hard/impossible.

it's just cleaner to run the assemble script, commit the result, and t

[2015-05-07 17:16] thoraxe commented on #180
Well, the point of this RFE was to improve time and make for more rapid development cycles. Having to stop the result of the build, commit it, and then run the new image takes time. Sure, it's a trivial amount of time, but still time.

You can kind of look at it both ways. Either we "pollute" the running container and then might have to rebuild, or we "pollute" the local user's Docker with lots of

[2015-05-07 17:59] bparees commented on #180
there will be junk images either way, since even with your suggestion you'll get a new image everytime you run STI.

you will have fewer junk containers with your approach (half as many) *if* we don't run with --rm

anyway i take your point, but it also seems like there is value in producing a re-runnable image when you build, even if you want to run it immediately initially.  Which means paying t

[2015-05-08 12:12] thoraxe commented on #180
Yes, I think there's value in both sides. Sounds like we're on the same page.

[2015-05-08 12:12] soltysh commented on #180
One important question is, should we publish the exposed ports to host by default when doing this run? I assume yes, but what if port is already in use, should we increment number to find first free and tell the user? As for the first question I'm positive, the latter I'm quite reluctant for doing so. Thoughts?

[2015-05-08 12:15] thoraxe commented on #180
I would think that if the port is already in use we should probably just fail?

[2015-05-08 12:15] soltysh commented on #180
One other question that just popped in my head, what if running image requires passing certain vars, see our DB images (I know these are not the STI case, but I can imagine such requirement). What then? We'll just print the image usage (if one is provided, like in our DB images) and finish. I guess that's acceptable, we tried, but it's up to the user to provide those.

[2015-05-08 12:17] thoraxe commented on #180
If the tool can accept the vars to pass to the container, then yeah.

If the container needs vars but we don't offer a way to get them into the container, then the "run" flag becomes slightly less useful...

[2015-05-08 12:19] soltysh commented on #180
We do support providing env vars, but only for build process itself. I think OOTB we should provide simple run with exposing the EXPOSE port to host but without any vars.

[2015-05-08 13:32] bparees commented on #180
@soltysh if you provide env vars to the build process, they get fed into assemble but then committed into the image so they'd be available for run as well, right?  So i think we're sort of ok there.

For ports, yeah i guess we should try to expose it on the port the image declares and fail if we can't get it, rather than exposing on a random port and making the user figure it out.... though we pro

[2015-05-08 15:05] soltysh commented on #180
@bparees yeah, but I think I wouldn't want to have an image (even locally) with commited secrets or other env variables, which supposed to be configurable at run time. I'm not sure if docker will let you override those though. But generally speaking this is a big security whole IMHO.

[2015-05-08 15:16] bparees commented on #180
@soltysh I think you're beyond the local dev use case now.

[2015-05-11 06:36] forhot2000 commented on #168
yeh, I have passed the test, thanks @bparees

[2015-05-11 06:36] #168 closed

[2015-05-11 08:56] soltysh commented on #180
@bparees I think that applies to local dev flow as well.

[2015-05-11 12:15] bparees commented on #180
@soltysh why do i care if my secrets/config are embedded in my image if i'm not pushing that image anywhere and i'm repeatedly rebuilding the image?

[2015-05-11 12:34] soltysh commented on #180
@bparees maybe that's one of my obsessions about security :wink:

[2015-05-14 09:06] mfojtik opened #183 "Convert STI_SCRIPTS_URL environment variable into LABEL"
Currently, we use `ENV STI_SCRIPTS_URL image://...` in our Docker images. This variable points into default location for the STI scripts used for the STI build. I think it would be nice to switch this from the ENV variable to LABEL instructions. There are several benefits of doing that:

* We can namespace (`openshift.io/sti-scripts-url`)
* UI would be able to import this and offer user a text box

[2015-05-14 09:16] soltysh commented on #183
I'm not sure at this point we could replace env with proposed label, but definitely we can support both, where the label would take precedence, if both defined.

[2015-05-14 09:17] mfojtik commented on #183
@soltysh yeah, although I'm not sure if we want to keep this backward compatible (we already require Docker 1.6).

[2015-05-14 09:19] soltysh commented on #183
If so we'd have to do this before this sprint ends, @bparees any objections?

[2015-05-14 12:02] Maxim-Filimonov commented on #171
I'm having similar issue. But looks like it actually works for me at least.
Our [save-artifacts script] (https://github.com/play2lead/sinatra-app-example/blob/master/.sti/bin/save-artifacts)
[Sti log] (https://gist.github.com/Maxim-Filimonov/8594dfdbe1b075ff57bb)
Looks like incremental build does work but it throws some weird errors for some reason. At least when I run it without incremental it do

[2015-05-14 13:04] bparees commented on #183
if we're not going to keep backwards compatibility, we need to go tell the middleware guys to do this in all their images...   i'm not really convinced this should be a label though.  it's easier to consume as an env variable, isn't it?

[2015-05-14 13:08] bparees commented on #171
if your save-artifacts script outputs to stderr that ought to get displayed and not piped into the tar, so you could try that.

[2015-05-14 13:09] soltysh commented on #171
@Maxim-Filimonov thx for your comment, this line from the log worries me:
[code]

You're hitting `too many open files` limit. Can I ask you  to verify 2 things:

1. Your open files limit `ulimit -n`
1. The number of files that `save-artifacts` puts into tar

Based on that answer I'll be able to diagnose the problem better.

[2015-05-14 13:29] soltysh commented on #183
@bparees only sti uses that value, so it does make sense to be label rather than env. Env are meant to be consumed inside the image, whereas labels by the tools using those images, that's at least my understanding. Based on that `STI_SCRIPTS_URL` ideally fits into label category.

[2015-05-14 14:19] Maxim-Filimonov commented on #171
Not sure which one applies i'll give you all 3
[code]

[code]
Not saving assets yet only bundle. Need to fix this error first.

[2015-05-14 15:11] soltysh commented on #171
@Maxim-Filimonov thanks, you've perfectly shown me what I was suspecting, we're relying on Go's `defer` in [here](https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L190) instead of manually closing those files. Will fix that.

[2015-05-14 15:20] bparees commented on #171
@soltysh looks like i was wrong about stderr, we should be capturing stderr and echoing it out (along with capturing stdout into the tar file) so there's a way to debug a save artifacts script.

[2015-05-14 15:21] bparees commented on #183
@soltysh yeah ok i was thinking we used it differently.  in anycase we need to support both w/ label taking precedence.

[2015-05-15 08:44] Maxim-Filimonov commented on #171
@soltysh yeah I have just realised that it is causing problems downline as gems are not properly untarred and app cannot run anymore

[2015-05-15 09:59] soltysh commented on #171
@Maxim-Filimonov I'm currently working on a fix for that, I'll have a PR ready in some time.

[2015-05-15 10:24] mfojtik opened #187 "Switch to dashed case from the camelCase in sti CLI"
Since origin also now use dashed syntax, we should switch our options as well, so instead of `--forcePull` just `--force-pull`. Same for other options...

@bparees @soltysh should be easy fix and should be done before we release 'sti' standalone (or somebody package it ;-)

[2015-05-15 10:54] soltysh commented on #187
:+1:

[2015-05-15 14:45] bparees commented on #187
ok w/ me.

[2015-05-15 14:59] #187 closed

[2015-05-17 08:33] Maxim-Filimonov opened #192 "0.5 - Linux only release?"
Hi is there a reason why [last release](https://github.com/openshift/source-to-image/releases/tag/v0.5) is linux only? All previous ones where available for mac and windows too.

[2015-05-17 08:56] mfojtik commented on #192
@Maxim-Filimonov we tried to build Windows && Max binaries, but we have some problems with Go cross-compiler. This should be there as well soon, sorry for trouble.

[2015-05-18 02:25] Maxim-Filimonov commented on #192
@mfojtik ah ok thanks. I have tried to build it locally but as I don't have Go installed on mac, building it inside docker linux container causes the same errors with cross platform build :(

[2015-05-18 13:43] bparees commented on #183
also update STI-base to use this.

[2015-05-18 13:48] #176 closed

[2015-05-18 13:50] bparees commented on #171
@Maxim-Filimonov can you try with the latest STI?  we'll get a mac release out momentarily.

[2015-05-18 13:51] bparees commented on #165
closing due to age+no response, feel free to reopen.

[2015-05-18 13:51] #165 closed

[2015-05-18 13:54] bparees commented on #149
@goldmann still an issue?

[2015-05-18 13:56] goldmann commented on #149
Haven't seen it in a while.

[2015-05-18 13:57] bparees commented on #100
should also rename Request to Config?

[2015-05-18 14:00] #70 closed

[2015-05-18 14:00] #69 closed

[2015-05-18 14:13] bparees commented on #149
closing, feel free to reopen if it recurs.

[2015-05-18 14:13] #149 closed

[2015-05-18 16:47] bparees commented on #192
new release with windows + mac binaries available here:
https://github.com/openshift/source-to-image/releases/tag/v0.5.1

[2015-05-18 16:47] #192 closed

[2015-05-18 18:03] goldmann commented on #149
After we upgraded to ac0b2512c9f933afa985b056a7f3cbce1942cacb, there is no output **at all** on our CI and the STI process is waiting (hanging) forever for the container, which exited cleanly.

Last lines of the container log:

[code]

[2015-05-18 18:13] mfojtik commented on #149
@goldmann is https://github.com/openshift/source-to-image/issues/149#issuecomment-82372044 still a reproducer for this?

[2015-05-18 18:54] bparees commented on #171
@Maxim-Filimonov osx+windows releases are available now as well (See the v0.5.1 release)

[2015-05-19 06:11] goldmann commented on #149
Just to let all know - we talked with @mfojtik and the issue is probably with the goroutines and wait when reading the container output.

[2015-05-19 12:22] mfojtik commented on #174
@bparees we are still broken at this:

π ~/sandbox/ruby sti build --loglevel=5 -e "MAVEN_ARGS='-P some-repo,some-other-repo'" file:///home/mfojtik/sandbox/ruby openshift/ruby-20-centos7 foo
I0519 14:20:51.410089 17228 util.go:34] Using mi@mifo.sk credentials for pulling openshift/ruby-20-centos7
I0519 14:20:51.410222 17228 main.go:239] An error occurred: malformed env string: some-other-repo'

Thi

[2015-05-19 12:42] mfojtik commented on #174
@bparees @jmtd I was looking into how to fix this and it does not seems trivial (we will have to honor quotes inside env segments, deal with single vs. double vs. no quotes, etc... @jmtd can you use the `.sti/environment` file in your source code repository to set those variables? That way should work.

For STI I think we will have to implement -E <file> option where you can pass the `environment`

[2015-05-19 12:59] Maxim-Filimonov commented on #171
@bparees getting new error now - `cp: error writing '/root/src/data/dump/local.1': No space left on device`

[2015-05-19 13:33] Maxim-Filimonov commented on #171
@bparees actually ditch this i was running it from wrong folder. it works now :+1:

[2015-05-19 14:13] bparees commented on #174
@mfojtik could we just take multiple -e args instead of a comma separated list?

[2015-05-19 14:25] mfojtik commented on #174
@bparees i'm not sure if cobra can handle that

[2015-05-19 15:34] bparees commented on #174
@mfojtik if it can't, -E seems reasonable.

This will break if you create an openshift buildconfig w/ STI strategy env values with commas, right?  That seems like the bigger issue at the moment and adding -E won't fix that (unless we do more work to turn the env var list into a file in openshift)

[2015-05-19 15:35] bparees commented on #171
great! closing.

[2015-05-19 15:35] #171 closed

[2015-05-20 11:23] mfojtik commented on #174
@bparees I just tried to mock STI and set Environment to:

[code]

and it works, so this is only command line parsing problem and it is not affecting the Source strategy in OpenShift.

[2015-05-20 13:09] bparees commented on #174
@mfojtik cool, marking p3 then.

[2015-05-20 13:22] #174 closed

[2015-05-22 05:15] Maxim-Filimonov opened #196 "Docker caching and incremental build"
Hi,
I'm wondering am I holding it wrong or have I found a problem with sti. I have the following images:
Base image -> ruby x version and all other deps like imagemagick and etc. Based on Dockerfile. Built by docker build in seconds.
Test image -> build by STI based on base image. Contains all gems from gemfile.
Staging image -> build by STI based on base image. Excludes test and development gems

[2015-05-22 14:30] Maxim-Filimonov opened #197 "Ignoring files"
During investigation of a very big image sizes produced by STI I have found that STI ignores completely .gitignore or .dockerignore and puts every folder into the container it is building.
We have some temporarily files which are ignored in both git and dockerignore with significant weight(about 125MB) adding quite a lot of unnecessary data to production image. I cannot find a way to make STI igno

[2015-05-22 14:37] bparees commented on #197
STI does a git clone of your repo, so if you have files that are in your .gitignore, why are they in your repo in the first place?

[2015-05-22 16:20] soltysh commented on #196
@Maxim-Filimonov I'm assuming you're building the `save-artifacts` on your own. Since you're using the incremental build there are two elements that come into play when looking at the size of the resulting image, specifically the final layer that STI adds. The first is the artifacts you get from previous image and the second your new dependencies. You can verify what exactly gets into your new ima

[2015-05-22 22:25] soltysh commented on #197
Is this a continuation of the problem you described in #196 or something different?

[2015-05-22 23:16] Maxim-Filimonov commented on #197
@bparees we don't use git clone. As we are running sti on CI we just use 'sti build .' inside checked out folder. Files there are artifacts from running tests inside the same folder and mongodb journal from tests again. With docker directly we just added those files to .dockerignore while I can't wait the wait to do it with sti.
@soltysh it is different problem

[2015-05-22 23:24] bparees commented on #197
Though it's it's not an ideal solution, for now you could make a custom assemble script that deletes the files you don't care about as part of the "build". 

Ben Parees | OpenShift

From: tpaktop <notifications@github.com>
Sent: May 22, 2015 7:16 PM
To: openshift/source-to-image
Cc: Ben Parees
Subject: Re: [source-to-image] Ignoring files (#197)

@bparees we don't use git clone. As we are running

[2015-05-22 23:25] Maxim-Filimonov commented on #196
Ok I think I'm not being clear. My problem is really not the size of the image. Example:
When I add a new Ruby gem I would expect to push only difference between old bundle and new bundle with a new gem installed. Currently, I need to push the whole bundle all over again.
Moreover, even if i don't add any new gems I need to push new bundle as its one giant layer which gets regenerated every time.

[2015-05-22 23:27] Maxim-Filimonov commented on #196
Sti scripts https://gist.github.com/Maxim-Filimonov/8a0407ba1d905c931ebb

[2015-05-22 23:31] Maxim-Filimonov commented on #197
@bparees yeah i'm gonna do exactly that for `tmp/cache` as it's not needed for running app. But it still takes 2 minutes to transfer all those files inside the image before the build. I'll try to hack some PR over weekend

[2015-05-23 01:29] bparees commented on #196
Yeah, unfortunately we need to be measured about how many "common bundles" we install in the ruby image we provide.  However you are more than welcome to take our image(dockerfile) and add a layer that adds the bundles you want, and use that as your custom STI ruby builder, to avoid this problem.  That's part of the intended flexibility of STI.

Unfortunately there's no way, given how STI is archi

[2015-05-23 01:31] bparees commented on #197
Cool, just a thought as you're working on it....we'd probably prefer to introduce a new ".stiignore" file over using existing files so we don't get unintended behavior.

If you do want to use add a patch to respect existing .dockerignore/.gitignore files i think it would be best to do it as a non-default flag that must be passed to STI, again to avoid unexpected behavior for users in which files d

[2015-05-25 09:46] soltysh commented on #197
@bparees since under the covers we do actually docker build, I don't mind us reusing .dockerignore. Especially if somebody already has one. One other options would be to treat those files (.stiignore and .dockerignore) equally, meaning the same format and behavior.

[2015-05-25 14:06] bparees commented on #197
We don't always do a docker build under the covers. Only under certain circumstances right? 

Ben Parees | OpenShift

From: Maciej Szulik <notifications@github.com>
Sent: May 25, 2015 5:46 AM
To: openshift/source-to-image
Cc: Ben Parees
Subject: Re: [source-to-image] Ignoring files (#197)

@bparees since under the covers we do actually docker build, I don't mind us reusing .dockerignore. Especiall

[2015-05-25 14:08] soltysh commented on #197
Right, that was a shortcut in my head :wink:

[2015-05-25 14:55] soltysh opened #199 "UID isolation"
Per @smarterclayton comment on my recent PR, I'm opening issue to verify if following comment is still valid (from https://github.com/openshift/source-to-image/blob/master/test/integration/images/sti-fake/Dockerfile)
[code]

[2015-05-25 15:07] soltysh commented on #199
I've tested this without this line as well as with other images, namely `openshift/python-33-centos7` the is no problem. I'm guessing this is a leftover from the time we were doing bind-mounts to copy the sources of the application. Since we currently stream it with tar, the resulting files are created with permissions of the user defined in the dockerfile. @bparees @smarterclayton @csrwng @mfojti

[2015-05-26 01:45] Maxim-Filimonov commented on #197
@bparees Yeah I hacked something locally but trying to figure out how to make it build the local version from inside docker machine is not trivial :\ Hacking.md doesn't seem to help as I cannot push the version to github.
I was thinking to either make an option which allows to add exclude patterns something like
[code]
Or or just do
[code]
That way existing behaviour doesn't change in case if some

[2015-05-26 03:40] bparees commented on #199
@soltysh sounds plausible to me.

[2015-05-26 07:41] soltysh commented on #197
@Maxim-Filimonov what's your exact problem with building sti? I see that our Hacking.md only tells about building a release and testing, but it's missing local development description. I'll fix that later today. For now all you need to know is we provide you with a `Makefile` which has following targets:
- `build` - builds STI;
- `clean` - clean build artifacts;
- `test` - runs `hack/test-go.sh`;

[2015-05-26 07:43] soltysh commented on #183
@mfojtik please close this since #198 got merged.

[2015-05-26 08:26] #183 closed

[2015-05-26 12:49] csrwng commented on #199
@soltysh I'm fine with removing that line. Doesn't seem like it's needed.

[2015-05-27 13:35] soltysh opened #203 "Add ONBUILD integration tests"
Currently we don't have **ANY** integration tests for onbuild strategy. We should have a couple at least!

[2015-05-27 13:37] soltysh commented on #199
Closing per #179.

[2015-05-27 13:37] #199 closed

[2015-05-27 13:38] soltysh commented on #179
@bparees addressed in #202, please close.

[2015-05-28 00:27] bparees commented on #179
@soltysh your changes don't address the issue I reported which was the case where :latest was specified on the ref, but there was no :latest tag in the registry.  your changes just add a :latest tag if no tag is specified.

that said, this seems to be working now (as in it immediately returns an error due to the invalid tag), so maybe docker fixed their registry:

$  sti build https://github.com/b

[2015-05-28 00:27] #179 closed

[2015-05-28 08:54] soltysh commented on #179
@bparees that's exactly what I saw when testing this. Still the message returned from the server was not clear, from top of my head it was something about image metadata, which isn't clear IMHO. I've then decided to add that :latest tag to builder images without it specified. At least this way the message is clear that there's no such tag as 'latest' on image xyz. Besides that should also address

[2015-05-28 14:29] soltysh commented on #156
Also see [this comment from origin](https://github.com/openshift/origin/issues/1647#issuecomment-100244784).

[2015-05-28 17:06] mfojtik opened #205 "Remove "sti" from the LABEL"
Should be "source". Also the namespace should be without "openshift".

@bparees @soltysh FYI

[2015-05-28 22:58] soltysh commented on #205
If we do, it would be good to own that namespace/domain, maybe. That's the preferred way of dealing with this. But :+1:

[2015-05-29 01:55] bparees commented on #205
you can use s2i for the label.   io.s2i.location

how's that?

but again if we're doing this, let's get it done before 3.0 ships so we don't have to support the existing label definition.

[2015-05-29 05:48] soltysh commented on #205
Deal it'll be io.s2i.lcation and io.s2i.scripts. And yes we're aware of
that, that's why we created this issue to have it ready today before
updating sti in origin.  Btw if we promote s2i name should we also rename
our binary to s2i?
On May 29, 2015 3:55 AM, "Ben Parees" <notifications@github.com> wrote:

[2015-05-29 09:52] soltysh opened #206 "Review code in cmd/sti/main.go#newCmdBuild to extract what might be useful to have in origin."
Per [this comment](https://github.com/openshift/source-to-image/pull/204#discussion_r31258661), we should review the code in cmd/sti/main.go#newCmdBuild and extract as much as we can from there into separate package that we'll be able to reduce the amount of duplication in code in S2I and origin.

[2015-05-29 10:37] #100 closed

[2015-05-29 10:37] #144 closed

[2015-05-30 00:32] bparees commented on #205
i'd really like to minimize the amount of time we're spending updating examples/doc/etc on this, so i'd suggest not renaming the binary.

[2015-06-01 12:55] #205 closed

[2015-06-01 18:12] bparees commented on #196
@Maxim-Filimonov I don't think there's anything additional we can do here, did my comment answer your question/clarify why it works the way it does?

[2015-06-03 08:41] jhadvig opened #211 "Permission denied when using the STI scripts from application repo"
When doing the STI build manually with an app repository which contains app specific STI scripts, user will hit and permission issue when running the built image.
`permission denied
FATA[0001] Error response from daemon: Cannot start container 287fcc0b96584f370ca012f4ca339d37a40f61f684e86f9ef4c0a620c325eb85: [8] System error: permission denied `

I've tested this scenario with OpenShift Origin usi

[2015-06-03 13:19] mfojtik commented on #211
@jhadvig so if running the image in OpenShift Pod is not an issue, then I think we should mark this as post-3.0 (and probably trello this)

[2015-06-04 06:31] Maxim-Filimonov commented on #196
Yeah all good thx

[2015-06-07 02:57] Maxim-Filimonov commented on #196
I had some more thoughts about this one and it might be possible to do what I was trying to speed up bundler without increasing image size that much.
I was thinking of the following flow:
- bundle install (part of assemble)
- save bundler gem cache not /bundle folder
- remove bundle cache folder as we don't need it to be part of final image
- docker commit final image
Incremental build
- restore b

[2015-06-07 03:26] bparees commented on #196
I don't understand how your incremental flow works....
Where are you saving the bundler gem cache to, given that you remove it so it's not a part of the final image? and where are you restoring it from in the incremental build?

incremental builds can help with the build speed, but i thought your primary concern was avoiding having the gems in the same layer as the app code because that necessitat

[2015-06-07 10:34] Maxim-Filimonov commented on #196
Yeah it is still split from app source already. There are two conflicting problems:
- Build speed
- Size of layer to push
The faster we make the build the bigger the layer becomes because we are increasing the diff. The middle ground would be to remove the artefacts folders (vendor/cache) from the container before we commit to as it is not required for running the app anyway. However, as we need v

[2015-06-07 16:43] bparees commented on #196
There is no "after it's saved to tar" unfortunately.  When you do an incremental build, the saved artifacts are being restored from the previous version of the application image.  The flow is...

first run:
1) STI starts a container using the base builder image (eg ruby-20-centos7) and tells it to run the assemble script
2) assemble executes, pulling down any dependencies, builds app, produces app

[2015-06-07 16:44] bparees commented on #196
(The summary point i'm trying to make is the default incremental implementation assumes the deps you want to reuse exist in the previous application image you are incrementing on, so if you remove the deps from the app image before committing it, you will have nothing to restore/reuse later, unless you do the external storage idea).

[2015-06-09 05:16] Maxim-Filimonov commented on #196
Hm... I see yeah it becomes quite problematic then. I'll close this for now as I think it's enough explanation of how it works. Thanks @bparees for your patience

[2015-06-09 05:16] #196 closed

[2015-06-26 03:13] bparees commented on #133
@gabemontero note that this is in the source-to-image repo, not origin.

[2015-06-26 03:15] bparees commented on #66
@mfojtik given that you just added a bunch of this information as labels, you want to add it to the callback too?

[2015-06-26 09:14] mfojtik opened #219 "Add sti rebuild command"
Since we now have labels set for the output images, we can easily add the `sti rebuild <image>` command. If the <image> has the S2I labels set, we know what is the source and what was the builder image.

Just to clarify what `sti rebuild my-app-image` will do:

* Pull the image (of not available locally)
* Read the labels (if exists)
* Create `Config{}` for build
* Build the image using the ref,so

[2015-06-26 09:14] mfojtik commented on #219
@bparees @soltysh

[2015-06-26 10:08] soltysh commented on #219
Yeah, my suggestion was the `--latest-version` would only ignore `commitID`, the `ref` would still be the same.

[2015-06-26 13:26] gabemontero commented on #133
Based on some chatter in #openshift-brno, this item could also encompass creating a debug guide for STI.

[2015-06-26 13:59] bparees commented on #219
i like it.

[2015-07-02 16:57] ewolinetz commented on #203
It also looks like when we do a `make test` we do not run our integration tests along with the other tests.

[centos@ip-10-155-13-188 source-to-image]$ make test
hack/test-go.sh
. . .
?   	github.com/openshift/source-to-image/test/integration	[no test files]

[2015-07-02 18:48] gabemontero commented on #158
OK ... Ben and I are conferring as I type.  To confirm / close the discussion, I'm going to
1) leverage a sti.json file that sits in <repo root>/.sti/cfg
2) format is the same as .stifile ... (Ben want to move away from the file name, so we are not reusing it here)
3) you can specify a contextDir in that file
4) if --context-dir is specified on the cmd line, that overrides the setting in sti.json,

[2015-07-05 19:22] thesteve0 opened #231 "Make the naming consistent before new doc and wider publicity"
The project needs to either get everything to s2i or sti and then be consistent everywhere. Please do it ASAP so we can get our docs, blog posts, and CLI usage aligned

[2015-07-07 02:54] gabemontero commented on #133
pull 233 delivered the code changes which have been merged into openshift:master, but leaving this open to address the debug guide for STI.

I've solicited (and already received some) feedback on what could feed into a debug guide.  I'll paste that initial feedback here once it seems to have stabilized, and start writing from there.

[2015-07-09 08:40] #219 closed

[2015-07-09 08:40] mfojtik commented on #219
Included in https://github.com/openshift/source-to-image/releases/tag/v1.0.1

[2015-07-09 08:44] soltysh opened #235 "Optional output image does not work for onbuild strategy"
If I run:
[code]
The `sti_test/sti-fake-onbuild` is one of the integration images introduced by @ewolinetz in #229, notice that I **didn't** specify the output image name, because it's optional, right :wink:, I'm getting:

[code]
This was using:
[code]

[2015-07-09 08:53] mfojtik commented on #235
@bparees taking this one

[2015-07-09 09:10] soltysh opened #236 "No valid entrypoint with onbuild strategy"
I wrote following `Dockerfile`:
[code]
The run scripts is from [here](https://github.com/soltysh/source-to-image/blob/master/test/integration/scripts/.sti/bin/run).

Now I'm running:
[code]
S2I complains about no valid entrypoint, but I do set one in my builder image, imho it should accept that one as well.

[2015-07-09 09:11] soltysh commented on #236
Forgot to add:
[code]

[2015-07-09 09:25] mfojtik commented on #236
This is not error, nor a bug. The ONBUILD strategy requires you to provide the 'run' script. You can't rely on the builder image that it provides a valid 'run' script for your source code as entrypoint/cmd. We should not attempt to be smart here. If we really must have this 'smart' detection, I would rather have `--use-builder-entrypoint` option that will tell S2I explicitly to copy the ENTRYPOINT

[2015-07-09 09:27] soltysh commented on #235
That was a quick one, thx @mfojtik !

[2015-07-09 09:27] #235 closed

[2015-07-09 09:33] soltysh commented on #236
Makes sense, I just wanted to hear from others what they think about it. I run into this problem yesterday when playing with onbuild tests.

[2015-07-09 14:39] mfojtik commented on #236
@bparees FYI

[2015-07-09 14:58] bparees commented on #236
is this not a dupe of https://github.com/openshift/source-to-image/issues/114 ?

[2015-07-09 15:00] soltysh commented on #236
Partially yes, but 114 talks about regular s2i build whereas this covers
onbuild one.
On Jul 9, 2015 4:58 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-07-09 15:18] bparees commented on #236
there should not be a difference in behavior between those two.

[2015-07-10 08:49] soltysh commented on #236
@bparees totally agree with you, that's why I opened this one, as I saw it logically similar to what we're planning to do in #114.

[2015-07-10 13:18] bparees commented on #236
I would have just updated #114 but ok, however you want to track it :)

[2015-07-10 14:08] soltysh commented on #114
Migrated from #236, to have both in the same place as they cover the same idea of having optional run script:

I wrote following `Dockerfile`:
[code]
The run scripts is from [here](https://github.com/soltysh/source-to-image/blob/master/test/integration/scripts/.sti/bin/run).

Now I'm running:
[code]
S2I complains about no valid entrypoint, but I do set one in my builder image, imho it should accep

[2015-07-10 14:08] soltysh commented on #236
@bparees moved the first description to #114, closing this one then.

[2015-07-10 14:08] #236 closed

[2015-07-10 14:17] bparees commented on #236
thanks

[2015-07-15 17:41] gabemontero commented on #158
@bparees @mfojtik hey guys - quick question:  I'm seeing in the sti code that the git cloning of the source repo today is done off of Config.WorkingDir/upload/src (or upload/tmp in the case of the context dir before the copy).  For the src repo cloning to be done as part of the form "sti build <src repo url>" becoming allowing with this issue, do we want to follow that same pattern, or was the tho

[2015-07-15 18:13] bparees commented on #158
hm?

[2015-07-15 18:14] bparees commented on #158
and I would not expect this change to affect cloning.  it just affects what you look for (for config parameters) after you've done the clone.

[2015-07-15 18:32] gabemontero commented on #158
ok ... yes, upon reflection,  my question is fundamentally grounded in *where* I insert the examination of the new file.  I think I've connected a couple of dots with this exchange - reworking my prototype - thx.

[2015-07-15 18:34] gabemontero commented on #158
Though my previous insertion point avoided changes to the min num of param checks ... still, it may be the lesser pain point to move the search for the s2i.json file.

[2015-07-15 20:29] gabemontero commented on #158
@bparees Parsing the s2i.json at the point of the code where sti clones the source repo today won't work as the code is constructed.  My old friend strategies.GetStrategy(cfg) comes into play.  It needs config.BuilderImage set (which we ultimately want to get from the s2i.json), so it can get the docker image and inspect the image's OnBuild flag.

The code then constructs a separate builder based

[2015-07-15 20:33] bparees commented on #158
if i understand you correctly you're saying we work with the builder image parameter before we do the git clone?

[2015-07-15 20:34] gabemontero commented on #158
Yes that is correct.

[2015-07-15 20:42] bparees commented on #158
hm.  refactor!  :)

how bad does the refactor look like it would be?

[2015-07-16 10:04] soltysh commented on #158
You're gonna have to extract the `Prepare`, it's already a separate interface @mfojtik did. Currently both sti and onbuild use the implementation of `Prepare` from sti and call them directly in `Build` method. Maybe we should change that and the code which is getting strategy and runs the build should invoke Prepare, Build and Clean. This way we'll be able to modify parts of the actual build proce

[2015-07-16 11:22] mfojtik commented on #203
@ewolinetz @soltysh @bparees we can close this now?

[2015-07-16 11:25] soltysh commented on #203
I think so.

[2015-07-16 11:25] #203 closed

[2015-07-16 14:48] mfojtik commented on #158
closing as this is being trelloed :-) @gabemontero will provide link to trello card, also @gabemontero can you link this issue to trello so we don't loose the discussion...

[2015-07-16 14:48] #158 closed

[2015-07-16 15:16] gabemontero commented on #158
Trello card link:  https://trello.com/c/4kdTqLc7/641-r-d-into-what-sti-build-related-parameters-are-useful-to-store-into-a-build-s-source-repo

And this issue is linked in that trello card as well.

Thanks everyone.

[2015-07-16 20:56] gabemontero commented on #133
The feedback I received regarding an STI debug guide:

From Maciej:
I suggest you have a look at our pkg/errors/errors.go where we've put
'suggestions' to certain errors. Those contain some hints which could
be a good starting point for such guide. Additionally when you'll be
going further down the road don't hesitate to add/change that parts
and update the suggestions or even adding additional er

[2015-07-17 07:18] soltysh commented on #133
Don't forget about your initial experience with s2i, all the questions and doubts you were having when doing your first s2i build :wink:

[2015-07-17 13:56] gabemontero commented on #133
@soltysh Absolutely ;-) .... though I will say that so far my questions/doubts have not been with the mechanics of using s2i (i.e. items for a debug guide) but more the higher level concepts in the README.md.  Now, some of that most certainly stems from my inexperience with Docker / OpenShift in general.  But as I'm going through this, I'm wondering if some dialogue not just of the s2i process, bu

[2015-07-17 18:15] gabemontero commented on #133
Here is the PR for the debug guide doc changes:  https://github.com/openshift/source-to-image/pull/242

[2015-07-20 17:54] bparees opened #244 "rename sti binary to s2i"
Need to
- [ ] have build produce an s2i binary instead of sti binary
- [ ] have build produce a symlink sti that points to s2i
- [ ] add logic to the CLI processing so that if the binary is invoked with the "sti" name, print a deprecation warning
- [ ] update remaining doc to say s2i.
- [ ] update image tests to use "s2i" instead of "sti" invocation.

[2015-07-20 17:55] bparees commented on #244
@gabemontero @soltysh fyi.

[2015-07-20 20:36] soltysh commented on #244
You have my full support in doing this, I'll buy you kofola for that :wink:

[2015-07-20 20:40] bparees commented on #244
Vinea?

[2015-07-20 20:42] soltysh commented on #244
Deal, it can be even both :smile:

[2015-07-21 09:56] soltysh commented on #244
btw. @bparees do you have somebody interested in doing this?

[2015-07-21 13:38] bparees commented on #244
@soltysh i kinda thought i might get to it, but no, no one has explicitly raised their hand.

[2015-07-21 13:40] soltysh commented on #244
Then I am, I still want to keep my no. 1 s2i commiter :crown: Besides I initiated that change some time ago, and I want to finish that. That will make @thesteve0 especially happy :smile:

[2015-07-21 13:41] mfojtik commented on #244
this also includes updating all our images tests :-)

[2015-07-21 13:45] soltysh commented on #244
This is GH magic, I can see @mfojtik comment in my inbox, but no sign of it
on gh issue, lol.
@bparees can you add updating image tests to the list of actions?

On Tue, Jul 21, 2015 at 3:41 PM, Michal Fojtik <notifications@github.com>
wrote:

[2015-07-21 13:47] bparees commented on #244
He must have deleted his comment.

[2015-07-21 13:49] mfojtik commented on #244
I deleted it because I realized that it is already noted in @bparees checklist :-)

[2015-07-21 13:51] soltysh commented on #244
It wasn't explicitly.

[2015-07-22 16:54] #133 closed

[2015-07-23 02:50] gabemontero commented on #197
I have a prototype of a .s2iignore file working.  However, as part of moving this to the next step, I'm at a point where a decision on whether to support .gitignore or .dockerignore capabilities (I would call .dockerignore a subset of .gitignore since it is not recursive), or maybe even a subset of .dockerignore (if we want something simpler).

.dockerignore does interface with Go a bit more direc

[2015-07-23 12:44] Maxim-Filimonov commented on #197
For my purposes .dockerignore as a first step will be sufficient enough to close the issue.

[2015-07-24 08:36] vbehar opened #246 "Tar exclusions are not configurable"
Hi,

it seems like the tar processing use a defaultExclusionPattern (for .git metadata), but this is not configurable.

It would be nice to be able to configure the exclusionPattern, for example using a --exclude flag in the sti build command.

Thanks,
Vincent

[2015-07-24 17:42] bparees commented on #246
dupe of https://github.com/openshift/source-to-image/issues/197 ?

[2015-07-27 07:07] vbehar commented on #246
Yes indeed, I'll close this one

[2015-07-27 07:07] #246 closed

[2015-07-27 11:48] kastork commented on #168
Would it be possible to have some docs on how to do this securely?

[2015-07-27 14:03] bparees commented on #168
@kastork what do you mean?  s2i uses your git configuration so doing it securely just means setting up your git config to use security.

[2015-07-27 15:11] soltysh commented on #168
@bparees I think we just need to ad a sentence or two that if you want to access private git repo make sure you're having your ssh keys setup and s2i will use them. I'm not sure what will happen if you try to access private repo without ssh keys, iow. when in normal circumstances git asks your for a password, will the same work with s2i, I doubt it, but we could check that and document.

[2015-07-27 15:40] kastork commented on #168
Sorry, new to OpenShift.  I've been reading the docs quite a bit, but may be missing something that should be obvious.

I know I need my local machine to be configured to work with a private repo.  This is normal daily business for working with the repo.

I'm talking about deploying that repo up to OpenShift.

The docs say that my local repo needs to have an "origin" remote defined that OpenShift

[2015-07-27 16:59] bparees commented on #168
@kastork I see, you're not concerned with using s2i directly.

openshift has docs about how to use private repositories here:
https://docs.openshift.org/latest/dev_guide/builds.html#using-private-repositories-for-builds

that is how you give openshift the keys needed to access your private repository during the build.

[2015-07-27 19:29] kastork commented on #168
@bparees Thanks, that's what I was looking for.  And I was right, should have been obvious.

Thanks for the answer.

[2015-07-27 19:30] bparees commented on #168
@kastork yw

[2015-07-29 19:00] #197 closed

[2015-07-30 09:12] functionalprogrammer opened #251 "Option to suppress "You are using <source> location that is not valid GIT repository" warning"
Building from local source issues a warning:
`You are using <source> location that is not valid GIT repository. The source code information will not be stored into the output image. Use this image only for local testing and development`
For those of us who don't use git (we're people too!) there's no alternative. It would be nice to have an option to suppress the warning to keep noise out of the b

[2015-07-30 09:41] mfojtik commented on #251
@functionalprogrammer problem is that without labels that are added when using the GIT repository some functions does not work right:

1) `sti rebuild` won't work
2) OpenShift will not recognize the labels, etc..

One solution would be to leverage the `-q` option that will turn off this warning.

[2015-08-05 18:05] gabemontero commented on #180
So I've got a prototype of the form @bparees suggested working.  A few devil in the details type items (or perhaps opportunities for folks to educate me on Docker and Go ;-) ) arose when I looked at attaching to the container and piping stdout/stderr to glog so the users could see the output of their build in real time as a way to determine image validity.

1)  If the resulting image from the `sti

[2015-08-05 18:40] bparees commented on #180
given that even in (ii) the user ultimately has to docker kill the container that got launched, I think we should go with (iii) in which we explicitly tell them "we launched this for you, but you need to go inspect/manage it yourself"  (along with (i) as the default behavior)

[2015-08-05 18:40] bparees commented on #180
@thoraxe this was your request so please weigh in.

[2015-08-05 20:58] gabemontero commented on #180
It appears there is a fly in the ointment with iii) from the earlier comments that I missed last night.  With either avoiding the `docker wait` equivalent call altogether, or doing it in a separate thread, the container is exiting prematurely and not staying up.  I'm able to grab the exit code on the container when waiting on a separate thread, and it appears to be 137.  There are some google hits

[2015-08-05 22:18] bparees commented on #180
definitely prefer (a) but we ought to be able to launch the container and then exit.  I wonder if the s2i process is simply exiting before the call to the docker daemon is complete.

you said you're getting a 137 rc?  i'm confused about the circumstances under which you're getting that given that docker ps -a doesn't even show the container having run.

[2015-08-06 02:16] gabemontero commented on #180
Yep, that was one of my theories.  The `sti` process exiting has something to do with it, but it appears that the way it exits matters.  In other words, ending "naturally" as the last instruction completes results in different behavior than a Ctrl-C.

Here's what I've tried:
1) First call "InspectContainer" on the docker client and confirm the container was in Running state before moving on.  That

[2015-08-06 04:03] bparees commented on #180
sounds like you're running the container with the equivalent of "docker run -rm" which removes the container after it terminates.  that would explain it not showing up in docker ps -a later.  A quick survey of the client library doesn't show me a way to control that behavior, unfortunately, but we don't necessarily have to change it as long as we're convinced the container is being run when it's s

[2015-08-06 21:36] gabemontero commented on #180
Ctrl-c while s2i is sleeping leaves the container up - i.e. the same as when we ctrl-c during the `docker wait ..` call.

And my interpretation of the fsouza client library is the same as yours, in that they do not expose the -rm switch.  RE: https://github.com/openshift/source-to-image/blob/master/Godeps/_workspace/src/github.com/fsouza/go-dockerclient/container.go#L405-L447

And the google hits

[2015-08-07 13:26] bparees commented on #180
@gabemontero maybe you can do something with this to stop the container:
http://nathanleclaire.com/blog/2014/08/24/handling-ctrl-c-interrupt-signal-in-golang-programs/

[2015-08-09 22:25] thoraxe commented on #180
I'm fine with @bparees suggestion from https://github.com/openshift/source-to-image/issues/180#issuecomment-128103661

Although I'm wondering now about being able to edit the filesystem in the running image, since you can't do that in the "built" image later... but since the build needs to be able to write, perhaps this is the way we can achieve the "hot edit" stuff that we wanted? I forget which

[2015-08-10 02:22] bparees commented on #180
since this is running via s2i directly, not via openshift, the container we ultimately run (the one running your application code) will be running as the same user who did the assemble/build steps.  so you'll be able to exec in and modify code in this scenario.  But it will have no impact on the ability to do so when running in openshift.

[2015-08-11 10:49] soltysh commented on #251
@functionalprogrammer does #252 fix your problem? If so please close this issue.

[2015-08-11 11:05] functionalprogrammer commented on #251
I actually need the rest of the build output, so `-q` isn't really an option for me. Not a huge deal though, I wouldn't complain if this went to the bottom of the list :-)

[2015-08-11 12:20] bparees commented on #251
@mfojtik we should make sure we're sending warnings to stderr and build output to stdout.  @functionalprogrammer could then filter that way.

[2015-08-11 12:50] soltysh commented on #251
@bparees we are sending all output to stderr (see #156), this should be fixed with the new logging system we were talking about some time ago.

[2015-08-11 20:54] dhirajsb opened #257 "sti rebuild fails with index out of range"
The sti and sample app are on github, running the following commands causes an index out of range

[code]

[2015-08-12 02:49] gabemontero commented on #180
@bparees the signal handling got us the consistent behavior we wanted - thx again for the tip.

So now, we can pipe stdout/stderr to glog, but the customer can also use docker commands to inspect the container running the image (the code prints out a easy to spot message citing the container id).

Once the customer ctrl-c's, `sti` exits and cleans up the running container.

Aside from scrubbing th

[2015-08-12 09:13] soltysh commented on #180
@gabemontero can we see your POC as a PR, I'd like to give it a try and then provide some useful feedback.

[2015-08-12 13:17] bparees commented on #180
@gabemontero sounds good to me, nice work!

[2015-08-12 13:20] gabemontero commented on #180
Absolutely @soltysh I will be doing that later today (have an appt this AM so it may be after lunch US EST).  Among other things, I'm curious about your take on where I hooked in the running of the container (among other things, I decided *NOT* to use the PostExecute phase).

Thanks @bparees

[2015-08-12 13:32] soltysh commented on #180
Perfect, I'd expect this to be completely separate from the Build process withing S2I, that's why I'd like to see the code behind it.

[2015-08-12 13:33] gabemontero commented on #180
OK cool.

[2015-08-13 22:25] #180 closed

[2015-08-17 09:54] mfojtik commented on #257
@dhirajsb I can't reproduce this using the `sti` binary built from the master. Can you please try to update?

[code]

[2015-08-17 09:57] mfojtik commented on #251
@functionalprogrammer @soltysh @bparees we added this message to warn a user that using local folders won't produce the same image in terms of metadata than a build using GIT source. Some functions like `sti rebuild` won't work correctly.

The real solution for people that don't use GIT is to add support for more SCM which is planned (there is a Trello card for that). So then less folks should see

[2015-08-17 12:54] bparees commented on #251
as long as it's going to stderr it shouldn't be a problem since you can filter w/ appropriate redirect/piping.  @functionalprogrammer ?

[2015-08-18 14:14] ibotty opened #265 "support building images not based on the builder image"
e.g. to support statically linked applications (golang), etc.

I can try to implement that myself, if given some pointers on where to start.

[2015-08-18 14:18] bparees commented on #265
we're carrying a feature request for this on our trello board:
https://trello.com/c/MWUAjl6k/237-13-extended-builds-separate-mvn-vs-jboss-build-future

i think this feature is going to need some design work because we need to decide how we're going to build in one image and then extract the build content and layer it into the runtime image (sort of like save-artifacts does) so i don't know that th

[2015-08-19 04:38] dhirajsb commented on #257
Is it possible the issue was in v1.0.1 and has since been fixed on master? Maybe if you can quickly test it against 1.0.1 and it causes the same error then we'd know it's been fixed on master.

[2015-08-19 06:27] nak3 opened #269 ""tag" in sti command --help causes confusion"
For example...

[code]

[code]

It seems that `<tag>` and `<new-tag>` means image name. However, in general docker, "tag" means `latest`, `v3` and so on.

[2015-08-19 07:28] nak3 commented on #269
`$ docker build` also has `--tag` option to add Repository name. So it may be not wrong.
Is it just me or it causes confusion?

[2015-08-19 11:55] nitintutlani opened #270 ".bowerrc file is getting skipped from project root"
It appears s2i is skipping dot files like .gitignore, .bowerrc etc. I have not tested this exhaustively but I was not able to use .bowerrc until I renamed it to bowerrc and then renamed it back during assemble.

[2015-08-19 12:38] bparees commented on #269
The syntax follows docker's build syntax which uses the "-t" tag argument
to tag the result image of a docker build.

Tag can mean either what you described, or the entire name of the image.

Ben Parees | OpenShift
On Aug 19, 2015 2:27 AM, "Kenjiro Nakayama" <notifications@github.com>
wrote:

[2015-08-19 13:59] bparees commented on #270
@gabemontero can you take a look at this?  sounds like maybe we aren't using the right args when we tar up the src to inject it into the builder image.

@nitintutlani can you provide the exact command line you're running so we can try it with your repository and builder image?

[2015-08-19 14:00] gabemontero commented on #270
@bparees will do

[2015-08-19 15:04] nak3 commented on #269
Thank you. I understand. It looks like no problem. Please feel free to close this issue.

[2015-08-19 15:10] #269 closed

[2015-08-19 18:48] nitintutlani commented on #270
@bparees I have a fairly simple html/js website and an openshift source strategy buildConfig. Inside .sti/bin/assemble script as expected the source is delivered inside `tmp/src/*` but all dot files are missing including .bowerrc . There really is no command I am running in particular. Unfortunately this particular work is in a private repo.

[2015-08-20 01:21] gabemontero commented on #270
and internet search of "tar hidden file" unveiled a common theme of appending a dot ( `.`) to the dir path.

For example:  http://www.digitesters.com/linux-include-hidden-files-in-tar-archive/

If our go based tar implementation holds to this behavior, I believe the solution here could be a simple one - append a dot to the directory parameter that serves as the source for the tar file.

I'll try a

[2015-08-20 01:52] gabemontero commented on #270
Hmm ... actually, some of the search links say just specifying the dir, without say a `*` wildcard, should also include dot/hidden files.  And my experiments with both the current form and adding a `.` including files like .gitignore.

@nitintutlani could you re-run `sti` with the `--save-temp-dir=true" option?  In the `/tmp/sti<random number>` directory there should be a tar file called `tar<rand

[2015-08-20 06:19] nitintutlani commented on #270
As per this log: `I0820 11:24:52.274283 20065 tar.go:133] Adding to tar: /tmp/sti008846339/upload/src/.bowerrc as src/.bowerrc`, `/bowerrc` file is inside the tmp/src folder.
There is a bug in my code. Due to presence of artifacts I could not move the entire `src` folder. I need to move regular files and hidden files in two steps:
[code]
Thanks for your support and sorry for trouble.

[2015-08-20 06:19] #270 closed

[2015-08-21 02:26] bparees commented on #251
@functionalprogrammer closing since we haven't heard from you but if you have a reason why filtering based on stderr/stdout isn't sufficient, feel free to reopen.

[2015-08-21 02:27] bparees commented on #231
we're getting there:
https://github.com/openshift/source-to-image/issues/244

[2015-08-21 02:27] #231 closed

[2015-08-21 02:29] bparees commented on #251
oops, realized we are sending everything to stderr still.  reopening.

[2015-08-21 11:46] mfojtik commented on #251
@bparees I would suggest to open a new issue for "Sanitize usage of stderr and stdout by S2I"

[2015-08-21 12:21] soltysh commented on #251
@mfojtik there already is one #156

[2015-08-24 08:01] ibotty commented on #265
Is there some way to draw attention to this issue? I'd like to move that ticket forward.

[2015-08-24 11:49] mfojtik opened #273 "Add --use-local-image option"
The `--force-pull=false` seems pretty confusing if somebody wants to do local development and don't want S2I to pull images from external registries. I would suggest to add `--use-local-image` to be more explicit.  We don't need to change anything in `Config`. If user set this option, it will be just an alias for `--force-pull=false`.

[2015-08-24 11:50] mfojtik commented on #273
@soltysh @goldmann @bparees FYI

[2015-08-24 11:55] mfojtik commented on #273
[code]

[2015-08-24 12:14] soltysh commented on #273
:+1:

[2015-08-24 12:22] bparees commented on #273
just setting force-pull to false will not have all the behaviors you describe, specifically it will not prevent pulling images from remote registries if they are not present locally.

[2015-08-24 12:23] bparees commented on #273
so you'd have to add other new logic.

[2015-08-24 12:56] goldmann opened #274 "STI fails when specified image is the ID of the image not the name"
Below log is pretty much self-explaining :)

[code]

[2015-08-24 12:59] mfojtik commented on #274
@goldmann the Go docker client don't know how to get image using the image_id. It parses "56b402f12dab" as image name and since it does not have repository name, it defaults to "library/".

I wonder if there is a call in Go docker client that allow us to search for the Docker image using the image 'id'.

[2015-08-24 13:01] mfojtik commented on #273
@bparees reason why I think this is important is to support the CI/CD flows that users do with the S2I tool, where they build the image elsewhere (or locally) and then they use `s2i` binary to build the application image they test.

We should have option that turns `s2i` into mode that it won't even attempt to call remote registry.

[2015-08-24 14:01] bparees commented on #273
@mfojtik ok that makes sense.  but you can't just have it be an alias for "force-pull=false" then, you need to actually go change a lot of logic where we do things like CheckAndPull.

[2015-08-24 14:29] soltysh commented on #273
@bparees maybe that's a good chance to clean the logic around force-pull, we'll deprecate it and educate users about the new flag. Even at the cost of having slightly different behavior.

[2015-08-24 16:45] bparees commented on #273
@soltysh force pull has value.  there are three distinct options here:
1) always pull (force pull)
2) pull if not present (what you get today w/ force pull =false)
3) never pull (what @mfojtik is proposing).

we can't get rid of (1).

[2015-08-24 19:48] soltysh commented on #273
@bparees in that case instead of adding additional boolean flag, how about refactoring this into `--pull-policy`, witch values `always`, `never`, `ifnotpresent`?

[2015-08-24 19:49] soltysh commented on #273
I just realized I've seen those values somewhere :wink: and I did, [here](https://github.com/kubernetes/kubernetes/blob/master/pkg/api/types.go#L869-L871)

[2015-08-24 20:00] #244 closed

[2015-08-24 20:25] soltysh opened #275 "Rename sti leftovers"
This is a followup task to #244 and #250. I'm copying here the notes from my PR regarding what still needs to be changed (in that particular order):

* [x] change `.sti/` directory to `.s2i/` directory
* [x] change `/tmp/sti/` to `/tmp/s2i` or other not using `/tmp` directory
* [ ] change internals to use s2i everywhere

[2015-09-01 08:37] mwiora opened #279 "build image fails on run ALLOWED_UIDS"
moving from openshift/origin to sti - https://github.com/openshift/origin/issues/4409:

# DESCRIPTION

today I've been running a fresh installation of openshift using the ansible cookbook and got the new openshift origin 1.0.5 version.
Everything seems fine (existing docker images are getting deployed), but for the builder-part the process seems currently not working. It requires the specification

[2015-09-01 08:52] mfojtik commented on #279
This seems more like a origin bug when parsing the ALLOWED_UIDS.... The `1-` means the container is not allowed to run as root. @soltysh can you take a look?

[2015-09-01 08:58] mwiora commented on #279
info: getting the current sti-master-branch and running "s2i build http://openshift-code.domain.tld/root/some3_visualizer.git openshift/wildfly-8-centos some3_visualizer" the image is being build fine.

@all: where are these ALLOWED_UIDS defined?

[2015-09-01 08:58] mfojtik commented on #279
We should:

* Fail the build immediately when this happen (can't run as root). The builder should not even be created.
* Give users much more helpful information about how to fix this (presumably something is wrong in the ansible configuration that disallows running build containers as root).

[2015-09-01 09:00] mwiora commented on #279
the question is, why this build must be run as root - actually I see no reason for this - which are the circumstances when a build must be run with such privileges?

[2015-09-01 09:00] mfojtik commented on #279
@mwiora running the build manually (with `s2i build`) and in OpenShift are two different things :-) OpenShift have security policies defined that prevents you running container as root (they run with random user ID). The build is a special case, I don't think we currently support running builds as non-root. I don't know where exactly is this behavior configured, but @soltysh or @csrwng or @liggitt

[2015-09-01 09:00] mfojtik commented on #279
@mwiora it must build as root because it is creating container on the node and need to have access to the host/hode docker socket...

[2015-09-01 09:02] mwiora commented on #279
@mfojtik - thank you very much for these explenations! I hope we'll be able to find the mysterious switch soon!

[2015-09-01 09:34] mwiora commented on #279
already logged in origin issue:
workaround found on https://trello.com/c/eGlfwXcs/603-3-prevent-sti-builder-images-from-running-as-root-build-security

I had to run:
[code]
and add the last line.
[code]
while sample01 is my project name...

[2015-09-01 09:35] mfojtik commented on #279
@mwiora nice one!

[2015-09-01 10:42] soltysh commented on #279
I'll leave that to @csrwng, iirc he was reworking s2i to allow building as non-root.

[2015-09-01 12:28] bparees commented on #279
@csrwng pretty sure you documented this but i'm not seeing it offhand... can you confirm/provide the link here and i think we can close this?

[2015-09-01 12:44] csrwng commented on #279
https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-specific-guidelines under "Support arbitrary user ids"

[2015-09-01 12:47] csrwng commented on #279
@mwiora if possible, you should create a builder image that specifies a non-root default user. This is a new requirement in release 1.0.5.

[2015-09-01 12:55] soltysh commented on #279
@csrwng looking at the attached output @mwiora  is using our sti-wildfly image, which has that [user set to 1001](https://github.com/openshift/sti-wildfly/blob/master/8.1/Dockerfile#L44), unless @mwiora is using an older image where that was not specified yet.

[2015-09-01 12:57] csrwng commented on #279
@soltysh sorry didn't notice that. Yes, it looks like it's an outdated image. @mwiora pls make sure that you pull the latest sti-wildfly image.

[2015-09-01 13:05] liggitt commented on #279
The build pod is created by the build controller, which is already in the privileged SCC... you shouldn't need to add a particular builder service account.

[2015-09-01 13:13] mwiora commented on #279
@soltysh @csrwng actually I'm using the latest checked in version, which is being pulled by the ansible script (run by 4:00 PM UTC). By default it would be helpful for newbies to be able to use the provided image without any customizations. Maybe it would be possible to merge the latest version of the sti-image to the origin bundle.

[2015-09-01 13:15] soltysh commented on #279
You're right, they should be usable without any customization and that's the case for other images. We need to check sti-wildfly then, there must be some bug in that case.

[2015-09-01 13:19] mwiora commented on #279
1+

[2015-09-01 13:56] csrwng commented on #279
@mwiora I see the issue, the image streams json file was referring to the wrong image (which had 'widfly' as the user, instead of a numeric user). @bparees fixed it recently: https://github.com/openshift/origin/pull/4343

[2015-09-02 08:42] mwiora commented on #279
@csrwng thx!

[2015-09-02 12:22] soltysh commented on #279
@mwiora if that solves your problem can you please close the issue?

[2015-09-03 11:12] mwiora commented on #279
works like a charm with the updated templates. would be great when merged to the current master branch.

[2015-09-03 11:12] #279 closed

[2015-09-04 19:48] mfojtik opened #281 "Execution of GIT requires better error messages"
[code]

I have no idea what is going on ;-)

[2015-09-04 19:48] mfojtik commented on #281
@bparees @soltysh

[2015-09-04 20:21] mfojtik opened #282 "Allow s2i to work without GIT"
I'm trying to build a `scratch` image for s2i and one problem I found is that S2I cannot work without 'git' binary. I can get statically compiled git but another problem is that git-submodule is a bash script that won't work with scratch (it does not have bash...)...

So I think we should have option to allow execution of "s2i build file:///..." without requiring 'git' binary. In that case, S2I sh

[2015-09-04 20:21] mfojtik commented on #282
@bparees @soltysh low priority, but would be nice to have 7MB docker image with s2i that we can use to build local source code ;-)

[2015-09-04 20:23] mfojtik commented on #282
btw. https://github.com/mfojtik/s2i is  my repo... just execute ./build.sh and you will get Docker image with statically linked s2i or git. It is broken now as the `--recursive` option we use to get all submodules call bash...

(can we make --recursive optional? it is not needed for >80% of git repos ;-)

[2015-09-07 09:10] mfojtik commented on #281
(for the record, `git clone --recursive` failed because the image I was calling `git` does not have `bash` installed (it is scratch image) and `git submodule` is a bash wrapper.

[2015-09-07 12:27] soltysh commented on #281
Big fat :+1: for this! Somebody just recently was asking about `Git clone failed: exit status 128` error and we don't provide more information about what happened. I'd propose buffering output and printing it only if git failed. This should save us from polluting the output by default, yet having an option to provide detailed output when it fails.

[2015-09-07 12:34] mfojtik commented on #281
@soltysh I think this should come by hand with the refactoring of how we execute Git (and how we deal with SCM in general).

[2015-09-10 10:00] mfojtik commented on #282
running without recursive: https://github.com/openshift/source-to-image/pull/283

[2015-09-10 10:01] mfojtik commented on #282
next step: opt-out GIT when using local sources

[2015-09-10 10:01] mfojtik commented on #281
https://github.com/openshift/source-to-image/pull/284 fixed here.

[2015-09-10 10:01] #281 closed

[2015-09-10 10:59] mfojtik opened #287 "Add Atomic labels"
@hhorak @vpavlin @rhatdan

As we discussed, we need to be able to add the Atomic INSTALL/RUN/etc labels when we build the application from the source code. I will leave this issue open for you guys as we need to know:

* What labels we need to add (INSTALL, UNINSTALL, RUN, all of them?)
* What will be the template for systemd unit files for applications produced by the S2I build?
* What will be th

[2015-09-10 11:19] mfojtik commented on #282
S2I can now work without GIT when using the `file://` protocol. Closing this.

[2015-09-10 11:19] #282 closed

[2015-09-10 11:43] vpavlin commented on #287
ad systemd unit files - I wouldn't use them by default. Let's keep the usage of `--privileged` and changes to the host as minimal as possible

What do you mean by format?

[2015-09-10 11:53] mfojtik commented on #287
@vpavlin I mean how the labels should look like: https://github.com/openshift/mysql/pull/83

[2015-09-10 11:56] hhorak commented on #287
This one is now deprecated with favor of https://github.com/openshift/mysql/pull/92 (I'm about to close the former), but the interesting discussion was happening there, that's right.

Anyway, this is a not-yet-tested example how a very simple generic label can look like without the systemd and any extra setup stuff:
[code]
Inspired by working example: https://github.com/openshift/mysql/pull/92.

@

[2015-09-10 11:59] hhorak commented on #287
The only thing these labels do is to pass all unknown arguments as docker arguments, not as `CMD args` (which would do atomic by default). And setting some restart count limit.

[2015-09-10 12:00] hhorak commented on #287
I'm actually thinking about whether this wouldn't be better default for `atomic`, since it seems to be more common to me. @rhatdan ?

[2015-09-10 12:11] mfojtik commented on #287
@vpavlin I thought you want to "install" the image you build using S2I as it contains your application (wordpress for example). I don't see too much sense to just `docker run` it as I can do this manually without `atomic` command, right?

[2015-09-10 12:28] vpavlin commented on #287
Yes, I want to install the container - that's why @hhorak has the `--restart` option there, right?

You can always replace atomic commands with docker run/create/stop... but that means you need to remember a bunch of commands..for bunch of containers...

[2015-09-10 13:49] mfojtik commented on #275
@soltysh

1) We will have to support both .sti and .s2i at least for some time

[2015-09-10 13:53] soltysh commented on #275
Yes, I'm aware of that.

[2015-09-18 10:13] nitintutlani opened #290 "Symlink artifacts extracted as zero byte files"
In reference to Bug #87 , symbolic links are restored only as zero byte files. I have setup a small github project `https://github.com/nitintutlani/s2iSymlinks` to help reproduce this:

First time build:
[code]
The assemble script generates two files `src/content.txt` and `src/content.lnk`. Resulting image works well.
[code]
content.txt has valid content:
[code]

The `save-artifacts` should preser

[2015-09-29 04:40] ncoghlan commented on #265
Since the current behaviour is useful for local development purposes, I posted the following suggestion to the trello card:

* add a `build-devel` subcommand that focuses on the "local development" use case (where having a full build and debugging environment available inside the image is useful)
* add a `build-release` subcommand that focuses on producing lean images for use in automated CI and e

[2015-09-29 07:11] bparees commented on #265
@ncoghlan that's an interesting idea but fundamentally using this feature is going to require that 2 images be provided to s2i.  One that contains the build packages, and one that contains the runtime packages.  So rather than introduce new build commands, i think we just want to introduce new args to the existing build commands.  One to specify the builder image and one to specify the runtime ima

[2015-09-29 07:23] ncoghlan commented on #265
That approach sounds good to me, since supplying a single image will retain the current behaviour, while supplying both images would opt in to splitting the output.

[2015-09-29 07:28] mfojtik commented on #265
@ncoghlan @bparees this will require support in the image, right? If you want to have 'development' mode enabled, that means you need to use the builder image that has all necessary tools installed.

I think what you're suggesting is already possible, for example I can have 2 images:

`mfojtik/php-builder-release` and `mfojtik/php-builder-devel`. For development I will use the later and for 'relea

[2015-09-29 07:34] ncoghlan commented on #265
Sorry, I confused the issue by mentioning debug mode. Even release builders will want to separate build dependencies (e.g. maven, pip, bundler, npm, bower, grunt, gcc) from a more stripped down runtime environment, and that's the main focus here.

[2015-09-29 07:35] mfojtik commented on #265
@ncoghlan I think that is already possible by using different image for building the release and building 'development' application image. But maybe I'm missing something.

[2015-09-29 07:44] jimmidyson commented on #265
@mfojtik There is normally a lot of stuff in the builder image that isn't required at runtime. e.g. in a Java Maven S2I there is Maven itself. Then the Maven build will pull down lots of plugins & their dependencies that are only required at build time. Even the chance of JDK at build time vs JRE at runtime.

So from my PoV the e.g assemble script being able to export a tarball containing only run

[2015-09-29 07:53] ncoghlan commented on #265
Exactly. In my case, for a Python application paired with a Patternfly/AngularJS front end, I need pip in the builder to bring in the back end dependencies, and tools like npm, bower & grunt for the front end. I'll also end up with a lot of cached artifacts that I may want to keep around for the next build (if I'm not using my own central pre-built artifact store in something like Pulp or pinrepo)

[2015-09-29 09:03] bparees commented on #265
@ncoghlan yup that's the story we want to implement.  it is much like the current incremental flow.  today with the incremental flow you perform an s2i build, then later you pull content out of the result image from the first build and inject it into the second build flow.

with this we'd do pretty much the same thing but all at one time:
1) invoke s2i using the builder image
2) copy the produced

[2015-09-29 10:02] ncoghlan commented on #265
That sounds good to me - I'll continue with the migration of my current app to the s2i builder model, and not worry too much about the size of the resulting image until after this feature is available.

[2015-09-29 11:00] mfojtik commented on #265
@ncoghlan another option is to strip the output image by removing all the development things and then squashing (after you `sti build`)

[2015-09-30 13:56] strzibny opened #294 "s2i build /path/lo/local/project fails"
It seems that s2i fails when I am trying to build an application image referencing `/local/path`

- it needs to be a .git repository
[code]
- location needs to be specified with `file:///`

[code]

Even though documentation suggest this is possible it's not.

[2015-09-30 15:07] bparees commented on #294
@mfojtik i thought this worked, why are we requiring a remote git repo?

[2015-09-30 15:08] mfojtik commented on #294
@bparees this is a bug, it should work

[2015-10-01 14:44] #294 closed

[2015-10-01 14:54] mfojtik commented on #294
@strzibny this should be now all fixed, but you will have to build the binary yourself or wait for the new release.

[2015-10-01 18:23] mfojtik opened #297 "Add "docker://" source type"
Invoking the `sti build docker://image/path builder target`  should pull the `image` and then extract the `/path` from it and use it as a source, where the `/path` does not necessarily need to be a GIT repository.

This allows us to use local host directory as a source in OpenShift without pushing the code to external GIT server. It also allows bundling stuff like secrets or binary artifacts into

[2015-10-01 18:25] mfojtik commented on #297
@bparees this also allow us to do S2I build pipeline like:

1. `s2i build file://java-app java-devel-builder java-app-with-dependencies`
2. `s2i build docker://java-app-with-dependencies/war java-runtime final-app`

[2015-10-01 18:26] mfojtik commented on #297
related to: https://github.com/openshift/source-to-image/issues/265

[2015-10-01 18:29] mfojtik commented on #297
also `docker cp` supports this:

so we can 'stream' the directory in container like we do currently.

[2015-10-01 19:38] bparees commented on #297
i think that's what @smarterclayton was proposing as an alternative way to do binary sourced builds.

and i think if people hate the idea of binaries in a git repo, this is arguably worse :)  but i'm sure i'm going to lose that debate.

[2015-10-02 08:44] mfojtik commented on #297
related trello card: https://trello.com/c/MWUAjl6k/237-13-extended-builds-separate-mvn-vs-jboss

[2015-10-02 09:51] jorgemoralespou commented on #265
@mfojtik But that will have inpact on build time.

From my PoV looking for a solution to this would solve many different issues:
- Runtime images (eap, wildfly, tomcat, node.js,...) will be easier to produce. Hence more runtime images wiill come into OpenShift from community faster
- Builder images (maven, gradle, ant, npm, rake,...) will easier to produce. Hence more builder images wiill come int

[2015-10-02 12:37] strzibny opened #298 "Unhelpful error message if .git project repository is empty"
e.g. I have a not-empty project repository with my Ruby app, but with an empty .git repository. Then the following error message is misleading since I as a user have nothing to do with `/tmp/src`.
[code]

[2015-10-02 14:45] bparees commented on #274
closing as working as designed.

[2015-10-02 14:45] #274 closed

[2015-10-02 14:56] bparees commented on #257
@dhirajsb can you try this with the 1.0.2 release?

[2015-10-02 15:59] bparees commented on #298
sorry i'm not clear on your terms.  does your local directory contain anything or not?

[2015-10-02 16:01] strzibny commented on #298
`.git` repository is empty, the project can be there but it's ignored anyways.

[2015-10-02 17:37] mfojtik commented on #298
why you have empty .git folder in your project folder?
On Oct 2, 2015 6:01 PM, "Josef Strzibny" <notifications@github.com> wrote:

[2015-10-02 18:33] strzibny commented on #298
It was by accident ;) but I had hard time understanding what's wrong because I thought there is an problem of the image side e.g. the src is not mounted.

[2015-10-02 19:43] bparees commented on #298
at first i was going to say we should always copy the source (instead of cloning the source) when the directory is local.

but given that we attempt to include commit information in the built image if your source was a git repo, i'm going to say the current behavior is correct but we can definitely try to improve the error message i guess.

[2015-10-02 19:46] mfojtik commented on #298
we detect local repository by looking if there is a .git directory in the
folder. we can check if it is empty, but I don't want to make it more
complex as it is pretty complex already :)
On Oct 2, 2015 9:43 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-10-02 21:06] strzibny commented on #298
I believe that's a behavior of s2i, it's not a good goal to fix that in every s2i assemble script right? Or do I have to check in Ruby assemble script that /tmp/src/ really exists? What I would expect is that the directory  exists, that's IMHO the right behavior. Yes it can be empty if the .git is empty, no problem. but the path itself should exists.

[2015-10-02 21:13] bparees commented on #298
no, not suggesting it be fixed in the assemble scripts.

but again...you pointed s2i at a git repo, s2i is primarily intended to work with git repos.. so we assume you want us to operate on the git repo content, not the directory content.  so i would not be in favor of changing this behavior beyond a better error message/warning.

[2015-10-02 21:41] strzibny commented on #298
If you look at the name of the issue, that's exactly what I am suggesting. But as I thought more about it, perhaps /tmp/src should exist anyway. Then I can freely copy files from there (be it empty or not) and I can get the correct message later ("Could not locate Gemfile"). Which would tell me that Gemfile is missing....and I at least know it's not there.

[2015-10-02 21:49] bparees commented on #298
yup, understood, just wanted to close the loop on the idea i was floating earlier about whether we should handle this differently (eg always use "copy" instead of "clone" when the source location is local disk)

honestly i'm a bit surprised it doesn't but yes, ensuring /tmp/src always exists sounds like a potentially viable approach.  will have to look at what we're doing when creating the archive

[2015-10-03 23:59] babelop opened #299 "Not possible to include/restore .git directory via .s2iignore"
It would seem the _default_ [ignore expression](https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L25) cannot be overriden by a `.s2iignore` file.

Specifically it is not possible to ensure the source `.git` directory is tarred over to the new image **if specifically desired**. At least no pattern I've included has been able to accomplish this. The addition of the `.s2iignore

[2015-10-04 00:04] binarybabel opened #300 "Include OPENSHIFT_BUILD_COMMIT_ID as an ENV variable"
It's valuable in some applications (especially scaled and/or with rolling updates) to know the commit id that backs the software, if numeric versioning isn't used. Currently **OPENSHIFT_BUILD_NAME** is available, but that adds an unnecessary level of obfuscation in determining the version a running instance is linked to.

* This information is already stored as image meta-data, I.E. **io.openshift

[2015-10-04 00:25] binarybabel commented on #300
Upon further review, it looks like the ENV variables are set by origin

https://github.com/openshift/origin/blob/f17b4461eb8b5d8d525d89755dd2a9b26e0693f5/pkg/build/builder/common.go

Feel free to close this issue here. I'll address it over there.

[2015-10-04 18:40] #300 closed

[2015-10-05 20:38] binarybabel commented on #171
I'm still seeing this on latest version of STI. Though more often it fails with a random filename rather than just the next tar header. Ex:

`Error extracting file bundle/ruby/gems/nokogiri-1.6.6.2/lib/nokogiri/xml/attr.rb: io: read/write on closed pipe`

If I catch it, I can stop the build and run a new one and it will usually work the next time. I have increased both the ulimit and fs hard limit

[2015-10-05 20:42] bparees commented on #171
Can you please open this as a new issue and give full recreate steps?  are you performing an incremental build?  full logs with --loglevel=5 would also be useful.

[2015-10-05 22:31] babelop opened #301 "Incremental build error (read/write on closed pipe)"
Saving incremental artifacts seems to fail randomly on (perhaps just large) projects. Could be a regression of #171, although ulimit and filesystem hard limits doesn't seem to affect it.
#### I've created a deployable project to replicate the issue, available at:

https://github.com/binarybabel/sti-rails-incremental-demo
_Build config and logs are available in the `extra` directory._
#### Level 5

[2015-10-05 22:32] binarybabel commented on #301
@bparees The new issue as you requested. Build logs available in description.

[2015-10-06 06:42] bparees commented on #257
closing as i believe it is fixed, @dhirajsb if you are able to reproduce with v1.0.2, please reopen.

[2015-10-06 06:42] #257 closed

[2015-10-06 18:40] gabemontero commented on #299
Interesting idea.  A couple in internal implementation points that have some relevance:

a) the current tar support does have a public method to override the exclusion pattern (https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L64-L66), but we currently do not bubble that up to a `s2i` command line option that would allow you to set it

b) at the moment, the exclusion pattern

[2015-10-06 19:16] binarybabel commented on #299
@gabemontero That would fit our needs, at the moment, but here are a couple of observations:

- Even though the pattern mechanics are different, the presence of .s2iignore could be seen as replacing the default pattern, eliminating the overlap. Users still wishing to exclude .git directories could then add them to their ignore file. Admittedly though, that's a user-design question as to what is th

[2015-10-06 21:32] bparees commented on #299
honestly we probably want to do both.

1) flag that lets you override the default exclusion pattern from the CLI
2) if there's a .s2iignore file, don't apply the default exclusion pattern and use the .s2iignore instead.

@soltysh what do you think?

[2015-10-06 21:44] soltysh commented on #299
Frankly said I'd ho with just .s2iignkre file without introducing yet
another cli option. It's simpler and cleaner solution than doing the mix.
The other thing that also seems to make sense, is to completly drop
excluding something when tarring, unless there's a good reason to have
those defaults,  I don't remember any atm.
On Oct 6, 2015 11:32 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-10-06 21:52] bparees commented on #299
yeah i was curious where that default exclusion came from too.  i guess we figured there's no likely need to have .git history in your final application image (and probably some good reasons not to).

i can live with the "just .s2iignore" path (and it sounds like @binarybabel can too), just thinking it kinda sucks to have to create that file in your source repo to do a simple override.  but sure w

[2015-10-07 01:11] smarterclayton commented on #297
We kind of need this for other flows.  At some point we'll have to decide
whether we want to save the source input for a build in an image... for
instance, as a multistage builder.  Not sure that's the *best* model, but
it's potentially important.  We need to discuss it.

On Fri, Oct 2, 2015 at 4:44 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-10-07 15:19] php-coder opened #303 "s2i help <cmd> prints no extra topics"
At the end of output of any `s2i help <cmd>` command I see the empty list of additional help topics:

[code]

If there is no "additional help topics" why do we print these useless lines?

I'm using source-to-image-v1.0.2-00d1cb3-linux-amd64

[2015-10-08 13:55] gabemontero commented on #290
I've managed to confirm the problem using the example from @nitintutlani

Once I wrap up a couple of in-flight fixes, I'll circle to this next ... @csrwng @soltysh - might want to pick each of your respective brains on this one when time permits.

thanks.

[2015-10-08 14:08] mfojtik commented on #287
@hhorak

[2015-10-08 14:08] #287 closed

[2015-10-08 14:14] mfojtik commented on #297
@smarterclayton I thought this might resolve the "extended build" problem, where you want to have builder with all dependencies (typically maven/etc) and then runtime builder that will just extract the "war(s)" and place them into right locations... You can do that using docker:// as a source path where you specify the image built by first builder and location from where we copy the wars...

[2015-10-08 18:44] soltysh commented on #290
@gabemontero I'm all ears when you need me :smile:

[2015-10-09 13:15] bparees commented on #303
that's coming out of cobra (the library we we use to handle CLI args).  We use the same thing for openshift but i don't see openshift printing the additional help topics line.  might be worth looking at the difference between the two, perhaps there's a setting we should be using in s2i to avoid it.

it's also possible we just need to update the cobra dep in s2i.

[2015-10-09 14:24] bparees commented on #297
@mfojtik there's also probably value in using this to allow multiple inputs to a build.  @smarterclayton's dockerfile implementation has already kinda started down that path (you can provide a git repo and a dockerfile as inputs).

we should think about evolving to a general solution where you can supply N inputs (source, maybe another source, dockerfile, docker image, etc) with priorities and we'

[2015-10-09 15:21] rhcarvalho commented on #275
Related issue (/tmp): #211

[2015-10-09 15:35] smarterclayton commented on #297
I kind of want to move some of this behavior outside of the core STI path
though - instead of having STI be doing all this magic, have this magic be
done first, then call STI on a directory (the core STI code).  The STI top
level interface is becoming too coupled to the mechanics of this - I don't
want the STI options object to grow infinitely.  My PR to binary build
actually takes the first step

[2015-10-09 15:37] smarterclayton commented on #297
Further clarification:

STI command - should know about getting input and then invoking STI on it
Docker builder - should know about getting input and then invoking Docker
on it
STI builder - should know about getting input and then invoking Docker on it

The "getting input" part is really not specific to STI, so it needs to be
the step before STI is invoked.  That code canonically lives in both S

[2015-10-09 16:30] bparees commented on #297
@smarterclayton i like the separation but it is going to be problematic if we ever want s2i to natively support extended builds since that, as @mfojtik notes, would likely be implemented in this way.

if we decide that extended builds will not be an s2i feature, but instead will be an openshift specific feature, then we can more easily go that way.  (openshift would be responsible for constructing

[2015-10-11 22:31] smarterclayton commented on #297
Extended builds as an s2i call still has to be orchestrated.  Extended
builds are similar to input - they should be above the core "do the s2i
build" logic.  The CLI certainly would have no problem invoking them in
order.

On Fri, Oct 9, 2015 at 12:30 PM, Ben Parees <notifications@github.com>
wrote:

[2015-10-11 22:33] smarterclayton commented on #297
I.e. a CLI that said "extract input - perform build 1 - perform build 2"
calling three discrete steps in the s2i code base.  I don't think s2i
*should* be as sophisticated as the builders in downloading source - in
fact I would say that we would never add things like SVN / HG builds to s2i
(because you can just run them locally) but we'll add that in Origin.

On Sun, Oct 11, 2015 at 6:31 PM, Clayt

[2015-10-11 22:47] smarterclayton commented on #297
I'm going to go a step further and say that s2i should not be responsible
for downloading source code.  It's something external tools can do better.
It's probably ok if it recognizes it's in a git repo and sets source
labels, but that's it.

Users on the cli can set up their source using their existing tools.  S2i
only cares about a directory.  We should stop endorsing that flow for
input.  It's o

[2015-10-11 22:50] smarterclayton commented on #297
S2i should also be able to take a tar (possibly gzipped) via stdin
eventually.

With a structure like this, we can break the origin builder pod into two
parts - one that prepares input and puts it into a volume mount, and one
that waits for a signal via the FS (in a prestop hook or similar) before
invoking s2i on that directory.  That provides security isolation in terms
of remote execution flaws

[2015-10-12 01:36] bparees commented on #297
i definitely like the idea of paring s2i back to "provide a local input and an image to build it with", as we are spending too much time juggling functionality between openshift and s2i today and having bits scattered between the two.

However I do worry that it limits the value of s2i as a standalone tool.  If you want to use it as a standalone tool and not in openshift, you will need to bolt mor

[2015-10-12 10:41] php-coder commented on #290
I'm here to fix this issue :) @gabemontero how I can help you?

[2015-10-12 12:43] mfojtik commented on #297
+1 after some thinking I agree that we should not go too far providing different download methods for every possible SCM or download source in S2I, because we end up as SCM abstraction layer supporting infinite number of download methods.
Maybe another idea could be to start a new project that will deal with different source download methods, such as Git, SVN, Mercurial or Docker. We can then re-u

[2015-10-12 13:20] php-coder commented on #275
I see that https://github.com/openshift/source-to-image/blob/master/docs/builder_image.md#s2i-builder-image-requirements uses `sti`: "... should be aware of the two basic requirements for the best possible **sti** performance"

[2015-10-12 13:31] gabemontero commented on #290
thx @soltysh
and thx @php-coder - I'll let you know.

[2015-10-13 12:06] jhadvig opened #306 "s2i build should print a warning when s2i scripts are in a wrong dir"
I've seen several times (mostly in QA TCs) that they put s2i scripts in a wrong path, usually in `.sti/` and not `.sti/bin/`. We should detect that and print a warning in that case, to make debugging easier for users.
@soltysh @mfojtik @bparees thoughts ?

[2015-10-13 12:32] mfojtik commented on #306
+1

[2015-10-13 13:01] soltysh commented on #306
I wonder how complicated the code would be if we'd pick both `.sti/` and `.sti/bin` like you proposed on IRC. But the warning has big fat :+1: from my side.

[2015-10-13 13:04] mfojtik commented on #306
don't that will cause inconsistency :-)

[2015-10-13 13:05] soltysh commented on #306
Yeah, that's the other thing I'm a bit worried as well.

[2015-10-13 14:12] jhadvig commented on #306
Agreed, I think it would be better to have it on one place. What if user would have different run script in both of those directions. Which one would have priority ?
Warning is enough I think :)

[2015-10-14 10:21] php-coder opened #308 "Makefile: misleading example about enabling verbose mode"
In `Makefile` there is an example of running tests in verbose mode:

[code]

But when I'm trying to run command `make check WHAT=pkg/tar GOFLAGS=-v` it doesn't enable verbose mode and works as usual.

I suggest to: remove this comment or fix the scripts to make it work.

Known workaround: `./hack/test-go.sh pkg/tar -v`

[2015-10-14 10:23] php-coder commented on #308
CC @soltysh

[2015-10-14 11:37] soltysh commented on #308
I'll take care of than along with fixing/aligning s2i Makefile to origin.

[2015-10-14 12:17] php-coder opened #309 "pkg/tar/tar_test.go: remove temporary file after tests execution"
I've found out that tests from `pkg/tar/tar_test.go` file leave temporary files after its execution:

[code]

So, each time when we run these tests we produce 2 orphaned temporary files.

[2015-10-14 20:24] soltysh commented on #297
@mfojtik we've already discussed that idea (at least partially), and there's even a card for that https://trello.com/c/cmLqfEiU/572-13-make-git-and-other-scm-code-a-go-package-inside-s2i-and-openshift

[2015-10-14 20:24] soltysh commented on #303
It would be good to see how we do this in origin and apply the same pattern in here as well.

[2015-10-15 10:43] #309 closed

[2015-10-16 10:18] php-coder commented on #303
This is bug in cobra (https://github.com/spf13/cobra/issues/113) that was fixed at the end of the August. We don't have this bug in origin because there we are using version from October. In `s2i` we are using version from May. I'm going to update cobra in s2i to the same version as we have in origin.

[2015-10-16 14:14] bparees commented on #303
+1

[2015-10-16 16:00] soltysh commented on #303
@php-coder please make sure not to use a newer version of spf13/cobra than the one in origin and k8s.

[2015-10-16 16:11] php-coder commented on #303
@soltysh Yes, they are the same:
[code]

[2015-10-19 01:20] smarterclayton commented on #297
What's the value of the new project?  There's already projects for
downloading source from Git, SVN, Mercurial, etc.  It's called Git, SVC,
Mercurial, etc.

I'd like to restrict the integration points beyond s2i and your source to
"here's a directory, tar, or file that is the input to a build".  That's
it.  A developer building s2i with local source can already script and
manage the source code wi

[2015-10-19 08:26] mfojtik commented on #297
@smarterclayton we are downloading the remote sources right now (using git clone). We are also using GIT to read the metadata about the sources (commit-id, author, message, etc...). I'm fine with restricting S2I to only deal with "here is a tar stream" or "here is a directory", build the app from it. Since we already label the image in OpenShift, we don't need the labels that S2I provides other th

[2015-10-19 08:59] soltysh commented on #297
I like the idea a lot. As for the metadata @mfojtik is talking about. This can be injected along with the sources as well, so that's not a problem imho.

[2015-10-19 09:09] mfojtik commented on #297
@soltysh it could, but you will have to supply that manually or script it :-) Or we can provide some nice shell wrappers that will extract the metadata from the GIT repository and set it to `s2i` command.

[2015-10-19 09:29] soltysh commented on #297
:+1:

[2015-10-19 09:33] mfojtik commented on #297
`s2i-git`, `s2i-svn`, etc...

[2015-10-19 09:34] mfojtik commented on #297
@bparees looks like we have good architectural topic for today ;-)

[2015-10-19 10:34] php-coder commented on #290
@mfojtik Could you merge it or tell me what I should fix also? Thanks!

[2015-10-19 15:08] #290 closed

[2015-10-19 19:30] smarterclayton commented on #297
You can grab metadata from a directory - just as long as it's a
replaceable, abstractable set of code that's reusable elsewhere.

On Mon, Oct 19, 2015 at 5:34 AM, Michal Fojtik <notifications@github.com>
wrote:

[2015-10-20 06:46] myfear opened #314 "s2i on Windows fails with E1020"
D:\temp\test>s2i build git://github.com/bparees/openshift-jee-sample openshift/wildfly-8-centos test-jee-app
W1020 08:43:10.926903 07004 docker.go:330] The 'io.s2i.destination' label is deprecated. Use "io.openshift.s2i.destination" instead.
E1020 08:43:11.095424 07004 util.go:85] /bin/sh: usrlocalstiassemble: command not found
E1020 08:43:11.233442 07004 fs.go:103] Error removing directory 'C:\Us

[2015-10-20 06:47] myfear opened #315 "s2i gives misleading error message when Docker env is not set."
When the Docker Env are NOT set, the error message from s2i is misleading:

D:\temp\test>s2i build git://github.com/bparees/openshift-jee-sample openshift/wildfly-8-centos test-jee-app
W1020 08:38:12.251626 09916 strategies.go:44] An error occurred when pulling openshift/wildfly-8-centos: unable to get openshift/wildfly-8-centos
:latest. Attempting to use local image.
E1020 08:38:12.253626 09916 m

[2015-10-20 13:14] bparees commented on #315
sorry, what docker env variables?  I don't have a windows system handy to play with here.

[2015-10-20 14:04] myfear commented on #315
E.g. DOCKER_HOST

I was testing with a docker-machine build setup and unless those
environment variables haven't been set, I always got the error.

M
On Oct 20, 2015 3:17 PM, "Ben Parees" <notifications@github.com> wrote:

[2015-10-20 17:57] bparees commented on #314
can you rerun with --loglevel=5 ?

[2015-10-20 18:00] bparees commented on #314
also please use the "openshift/wildfly-81-centos7" image instead, though i don't expect it to resolve the access denied issue.

[2015-10-20 18:12] bparees commented on #314
i've also just created a new release of s2i (v1.0.3), it might be worth using that release instead, though again i don't think it will resolve this particular issue.

[2015-10-20 18:36] myfear commented on #314
d:\temp\test>s2i build git://github.com/bparees/openshift-jee-sample openshift/wildfly-8-centos test-jee-app --loglevel=5
I1020 20:34:49.531757 09736 docker.go:228] Pulling image openshift/wildfly-8-centos:latest

Builder Image:          openshift/wildfly-8-centos
Source:                 git://github.com/bparees/openshift-jee-sample
Output Image Tag:       test-jee-app
Incremental Build:      disa

[2015-10-20 18:36] myfear commented on #314
It's the same with both images.

[2015-10-20 18:44] myfear commented on #314
Re-Tested with the 1.0.3

I1020 20:43:24.393136 03580 docker.go:460] Waiting for container
E1020 20:43:24.701675 03580 util.go:85] /bin/sh: usrlibexecs2iassemble: command not found
I1020 20:43:25.152232 03580 docker.go:462] Container wait returns with 127 and <nil>
I1020 20:43:25.152732 03580 docker.go:469] Container exited
I1020 20:43:53.641350 03580 cleanup.go:23] Removing temporary directory C:

[2015-10-22 18:26] bparees commented on #303
not sure why this didn't close when the PR merged, but it's fixed so i'm closing it.

thanks @php-coder!

[2015-10-22 18:26] #303 closed

[2015-10-22 18:41] soltysh commented on #303
@bparees github is searching for certain phrases [like those](https://help.github.com/articles/closing-issues-via-commit-messages/), the PR had a fix for xyz, but rather it should be fixes xyz, I guess.

[2015-10-22 20:27] bparees commented on #303
yeah i figured the syntax was probably not quite right.

[2015-10-23 11:30] mfojtik commented on #211
@jhadvig is this still happening?

[2015-10-23 11:55] jhadvig commented on #211
@mfojtik I couldn't reproduce this issue. Closing this one.

[2015-10-23 11:55] #211 closed

[2015-11-03 13:15] mfojtik commented on #273
@bparees assign this to me pls :-)

[2015-11-03 14:08] bparees commented on #273
@mfojtik please describe what you plan to implement, as we've discussed a couple variations in this thread.

[2015-11-03 14:11] mfojtik commented on #273
@bparees the pull-policy option seems most reasonable to me. It will match the kubernetes style and also fixes the problem with pulling (--pull-policy=never will trigger the behavior we want here)

[2015-11-06 15:20] #273 closed

[2015-11-10 13:13] mfojtik commented on #315
@bparees I saw this issue before, it is the message we print out. We suggest to check the image name which does not help here.

[2015-11-10 13:21] mfojtik commented on #315
@bparees the same message we show when you stop the docker service for example... checking the image name does not help here ;-) I working on PR

[2015-11-10 14:15] #315 closed

[2015-11-11 10:00] #314 closed

[2015-11-11 11:33] mfojtik opened #338 "Exercise the s2i.exe binary"
Since there are people using s2i.exe and we now officially build it and publish it, we should do some minimal smoke test for that binary to see if the build works.

This is a prototype:  https://gist.github.com/mfojtik/8bc7aa9e8b9cdd9d76bd

What this does is it pulls the tianon/wine:64 Docker image and then mount the directory with the `s2i.exe` into it. It start the container and then you can exe

[2015-11-11 11:33] mfojtik commented on #338
@soltysh @bparees

[2015-11-11 12:20] mfojtik commented on #338
The `socat` way is broken currently: https://bugzilla.redhat.com/show_bug.cgi?id=1280291

[2015-11-11 13:22] mfojtik commented on #306
@jhadvig I assume this is only the case when you have s2i scripts in the source repository

[2015-11-12 09:50] soltysh commented on #338
How about nc:
[code]

[2015-11-12 10:02] mfojtik commented on #338
@soltysh it will produce the same bug I think

[2015-11-12 10:03] #297 closed

[2015-11-12 10:03] mfojtik commented on #297
closing this as we decided to approach this differently (remove GIT from s2i and support just tar streams)

[2015-11-12 10:08] mfojtik commented on #265
The discussion mostly moved here: https://trello.com/c/4bxcGz5w/750-remove-git-support-from-s2i
@bparees I think we can close this (CLOSED UPSTREAM ;-)

[2015-11-12 10:11] mfojtik commented on #66
@rhcarvalho what is the state of this? I can take care if this if you want.

[2015-11-12 10:16] #306 closed

[2015-11-12 10:18] mfojtik opened #344 "The api/types.go#Config struct is getting fat"
This struct https://github.com/openshift/source-to-image/blob/master/pkg/api/types.go#L36 is getting bigger and bigger as we add new features and expose new options. We should refactor this and break it into logical pieces where we can. I can see that we can break it into:

* Image related options (ImageConfig)
* Pull options (PullConfig)
* Build options (BuildConfig)(!!! ;-)
* etc...

This will b

[2015-11-12 10:19] mfojtik commented on #344
@soltysh @bparees

[2015-11-12 10:19] soltysh commented on #344
What else can I add, :+1: to the idea

[2015-11-12 10:53] rhcarvalho commented on #66
@mfojtik haven't started on it. Feel free to take it back, I still have other issues assigned to me ;)

[2015-11-12 13:33] bparees commented on #265
@mfojtik I agree we can close, i don't agree the card you referenced is the right one.  it's still this card:
https://trello.com/c/MWUAjl6k/237-13-extended-builds-separate-mvn-vs-jboss-build-future

The card you referenced should only be about simplifying s2i, not adding other functionality.

Whether we ultimately need s2i to be able to take its input from an existing docker image, or if that will

[2015-11-12 13:33] #265 closed

[2015-11-12 13:39] bparees commented on #66
this is super low priority, please find something else to do... even docs work would be more important than this.  I'm not aware of anyone using the s2i callback feature, and if anything we're trying to strip down the amount of stuff s2i can do, not add to it.

[2015-11-12 14:22] soltysh opened #347 "New integration tests"
This came out from the discussion in #345, the proposal is test should take the s2i binary, pass options I want, wait for the result and verify it.

@mfojtik

[2015-11-12 14:26] mfojtik commented on #347
+1

The framework should be able to pickup ./hack/test-stirunimage.sh and make it go test. Basically we need:

1) Invoke s2i binary with provided options
2) Verify the build pass properly or with error we expected
3) Verify the result image contains what we want

This should allow passing custom S2I scripts with different content so we can test various cases of how s2i scripts can be invoked and w

[2015-11-12 14:32] #66 closed

[2015-11-12 22:49] ncoghlan commented on #265
Please don't make a usable s2i depend on having an OpenShift installation
available just because that's better for Red Hat's business plans. If I'm a
native Linux developer pushing relatively simple images to DockerHub, I
don't want to run an entire PaaS VM locally just to build clean images.

If s2i decides that only OpenShift users are worth caring about, then I'll
have to start exploring altern

[2015-11-12 23:01] bparees commented on #265
@ncoghlan thanks for sharing your concerns, that's definitely not the idea here.  What we are trying to do is simplify the responsibility of s2i.

The idea is that s2i should consume source.  Getting that source to s2i should not be a problem s2i tackles, because there will always be one more SCM, one more storage mechanism, etc, that we'll never keep up with.  Right now the s2i git cloning functi

[2015-11-17 14:13] accursoft commented on #81
`--assemble-user` changes the image's default user, so `docker run` will still use the same user as assemble.

[2015-11-18 06:20] wanghaoran1988 commented on #81
if we specify the --assemble-user option when do sti build with the language images openshift provided, the build will failed, since the images are using default user 1001, and the src path directory inside of the images like :/opt/app-root/src is owned by user 1001 . so , there is a problem here.

[2015-11-18 10:37] mfojtik commented on #81
@accursoft good catch, I have to take the User from the builder image and specify that user when committing the container after build. The `Config.User` will then be set to 1001 (which is the openshift s2i image default user), however the `Config.ContainerConfig.User` will be set to `--assemble-user` (there is no way in docker to change that other than 're-running' the container and committing it.

[2015-11-18 10:38] mfojtik commented on #81
@wanghaoran1988 that is correct, however you might have builder image that will allow assemble to run only as user X and the run the final image as user Y. The OpenShift image are not build that way. However, you can try to build using `--assemble-user=root` (which is how I'm testing this).

[2015-11-18 11:25] goldmann opened #355 "Wrong version in CLI"
When I build the `v1.0.3` tag from source and I run `s2i version` I get: `s2i v1.0.1-99-g08e6631` which is kinda confusing :)

[2015-11-18 11:29] mfojtik commented on #355
[code]

This seems to be wrong, the archives should be v1.0.3

[2015-11-18 11:30] mfojtik commented on #355
@soltysh @bparees FYI

[2015-11-18 11:34] jmtd commented on #355
FWIW `git describe` is returning the v1.0.1.... tag when v1.0.3 is checked out. `--tags` works as expected:

[code]

[2015-11-18 11:36] mfojtik commented on #355
@jmtd thanks! I just found that :-)

[2015-11-18 12:02] #355 closed

[2015-11-18 12:34] goldmann opened #357 "RFE: Print version on each run"
Currently it's hard to debug runs when we do not have information about the S2I version used when we want to compare two builds.

[2015-11-18 12:35] mfojtik commented on #357
+1

This really helps identifying when things broke and it is cheap. We should always print version for V(>=1)

[2015-11-18 14:44] jmtd opened #358 "s2i incremental build failures: tries to unpack symlinks which aren't there"
I'm hitting a problem with s2i version v1.0.3 (I will attempt to reproduce with HEAD shortly; having trouble building it) and incremental builds using recent JBoss OpenShift EAP images.

The issue is with the second build, upon receiving the tar stream. The logs seem to suggest that it is attempting to unpack a symlink and failing. However, there is no symlink in the tar that is being streamed via

[2015-11-18 15:28] bparees commented on #358
@jmtd can you provide your exact sequence of s2i invocation and arguments?

@gabemontero i recall that maybe you debugged/fixed a tar-related issue recently?

@rcernich do you have a working example of incremental EAP builds with s2i?

[2015-11-18 15:36] gabemontero commented on #358
@bparees yes i did ... here is the PR:  https://github.com/openshift/source-to-image/pull/302

[2015-11-18 16:05] jmtd commented on #358
I was building via a few other layers of stuff (our test infrastructure and CI etc.), I've now paired it down to the following which is sufficient for me to reproduce locally

[code]

where env-file is

[code]

the env-file is just to force HTTP for maven artefacts so I can cache them with a local HTTP proxy to ease repeated builds. I can reproduce the problem without the env-file.

[2015-11-18 16:08] goldmann opened #359 "exec: "save-artifacts": executable file not found in $PATH"
Using tag `1.0.3`. We correctly provide path to s2i scripts and the `save-artifacts` script is found:

[code]

But later, the container is executed without the absolute path:

[code]

Longer log:

[code]

[2015-11-18 16:09] goldmann commented on #358
@bparees This is what we try to debug, it's failing for us, related: #359.

[2015-11-18 22:19] bparees commented on #359
how are you providing the save-artifacts script?

please point me to your dockerfile and image directory structure.

[2015-11-18 22:39] bparees commented on #359
I've tested this with an image that defines the script url via a label:
```LABEL io.openshift.s2i.scripts-url=image:///usr/libexec/s2i```

and it appears to work, and having reviewed the code it should be just trimming the "image://" prefix and then running your command.

however:
```Base directory for STI scripts is ''. Untarring destination is '/tmp'.```

should have printed out the value of tha

[2015-11-19 08:20] goldmann commented on #359
Closing this now, since this could be an error on our side - we had a stalled container running on our test machine and it seems it interfered somehow. After killing it and running our test suite again, absolute path to `save-artifacts` is used again. But of course now we hit #358.

[2015-11-19 08:20] #359 closed

[2015-11-19 08:32] #81 closed

[2015-11-19 09:00] accursoft commented on #81
Should `save-artifacts` also run as `assemble-user`? This tripped me up when `cd ~` went to the wrong directory, but it could also cause issues if the artifacts can't be read by the run-time user.

[2015-11-19 09:09] mfojtik commented on #358
@bparees @gabemontero it turns out the way we detect symlinks in tar package is wrong:

[code]

The `header.Mode` returns the permissions not the type of the file. If I use `header.Typeflag` I can see directly that the file is a symlink.

[2015-11-19 09:11] mfojtik commented on #81
@accursoft probably yes, because the save-artifacts is reading stuff created by assemble. Currently the assemble script has to make it readable for the default image user.

[2015-11-19 09:20] jmtd commented on #358
You've beaten me to it, I strongly suspected that was the line but hadn't *quite* managed to change it :) just trying your patch now...

[2015-11-19 09:27] jmtd commented on #358
I can confirm this fixes the issue for me. Thanks!

[2015-11-19 09:32] #358 closed

[2015-11-19 09:57] #357 closed

[2015-11-19 11:01] php-coder commented on #358
It's a regression after #290 (I'm sorry, don't know how I missed it.)

[2015-11-19 13:24] mfojtik commented on #301
@binarybabel can you check if https://github.com/openshift/source-to-image/pull/343 fixes this issue?

[2015-11-19 13:51] functionalprogrammer commented on #251
No longer getting this warning, so closing.

[2015-11-19 13:51] #251 closed

[2015-11-19 13:57] accursoft opened #363 "filesystem build adds an extra directory"
`s2i build {git repository}` adds the files from the repository to `/tmp/src`. `s2i build some/path` adds the files to `tmp/src/path`.

This makes it tricky to write an `assemble` script which works for sources from both git repos and the local file system.

[2015-11-19 14:03] mfojtik opened #364 "Allow limiting resources in S2I"
We should be able to tweak the resource limit configuration for containers that s2i run via the RunContainerOptions. We can set some sane defaults to CPU, Memory and Storage and allow to override them via Config/CLI options.

In OpenShift we can introspect the CGROUPS in the Pod that starts the builds and copy the values to container we start using Docker. It is not ideal (we should really use kub

[2015-11-19 14:03] mfojtik commented on #364
@csrwng @bparees what do you think?

[2015-11-19 14:14] csrwng commented on #364
imho, I'd rather invest effort into preparing for the use of kube as a back-end. For example, we could break out the code to assemble (run + commit) as a separate binary with tar input. (Or as a different invocation of the s2i command -- like 's2i build' invokes -> 's2i assemble'). That way the command to use for assemble can be passed to the 's2i build' command as an argument.

[2015-11-19 15:59] bparees commented on #364
the right answer for openshift is to run the assemble container under openshift management.

whether this is interesting for standalone s2i users or not, maybe but definitely not a priority.

[2015-11-19 16:45] csrwng commented on #364
@bparees is there value though in preparing for that by splitting out the assemble part in the current s2i?

[2015-11-19 16:58] bparees commented on #364
i don't think we have the design concrete enough to start that right now.

[2015-11-20 10:26] #308 closed

[2015-11-25 06:27] GrahamDumpleton commented on #363
Is this related to #348. That is, fixed by it, or caused by it.

[2015-11-25 06:31] GrahamDumpleton opened #367 "Empty directories from local file system not preserved."
As mentioned in #348, when S2I is used against a git repo it doesn't have to worry about empty directories because to have an empty directory in git you need to add a dummy file such as ``.gitkeep`` to it also git will never add the empty directory to the report.

When running S2I against the file system though, an empty directory could well exist as no requirement to have a dummy file in it. Unfo

[2015-11-25 14:04] soltysh opened #369 "Build test-images test flake"
Sometimes our test end with `You do not have necessary test images, be sure to run 'hack/build-test-images.sh' beforehand.` This is one example of such error: https://ci.openshift.redhat.com/jenkins/job/merge_pull_requests_sti/247/console . It would be good to nail down the reason for that.

[2015-12-02 12:06] mfojtik opened #372 "Need better documentation how to install and use s2i"
Currently, we suggest to compile s2i from sources in README.md https://github.com/openshift/source-to-image#installation

However, there is no need to do this if you just want to use the S2I, you can just grab the latest binary from the Releases page and unpack it into /usr/local/bin or somewhere into PATH.

We should mention that as the first installation method and prevent confused users install

[2015-12-02 12:10] mfojtik commented on #369
@soltysh can be closed now?

[2015-12-02 12:12] soltysh commented on #369
It's still valid, the linked issue is one proof of that.

[2015-12-02 12:13] eliskasl commented on #372
In Fedora, there is also the s2i RPM.

[2015-12-03 01:49] wanghaoran1988 commented on #372
How about create a spec file in this repo , andd using tito to make rpm pakcage ?

[2015-12-15 10:01] mfojtik commented on #363
@accursoft can you please confirm that this issue was fixed?

[2015-12-15 10:54] accursoft commented on #363
It's not fixed, and I'm not clear which changeset was supposed to have fixed it.

[2015-12-17 14:20] #363 closed

[2016-01-04 11:35] mfojtik commented on #298
The original issue was about the directory reported as "misleading". Can't we just change the path to /tmp/src and copy from ".", so that directory name will disappear from the error message?

[2016-01-04 11:47] rhcarvalho commented on #298
That would require changing all assemble scripts :(

[2016-01-12 13:14] mfojtik opened #384 "Need a better way to remove injected files"
Currently we are truncating all files we inject to the build, which might be enough, but it is not perfect ;-)
To make it perfect however we will have to do some major refactoring to S2I, which we will need to do anyway at some point.

The refactoring should make sure that:

1) We start the container where we run the assemble now, but we don't start assemble script, just keep it running.
2) We wil

[2016-01-12 13:15] mfojtik commented on #384
@bparees just making a placeholder for future me here :-)

[2016-01-22 13:09] mfojtik commented on #384
Closing as this will make S2I less secure.

[2016-01-22 13:09] #384 closed

[2016-01-25 11:22] mfojtik opened #393 "When using contextDir, the `.s2i/bin/*` is not detected properly"
When using the contextDir and have the S2I scripts inside the context dir (examples/master/.s2i/bin and contextDir is "examples/master") then S2I does not detect them properly and use the image scripts instead.

[2016-01-25 11:23] soltysh commented on #393
/sub

[2016-01-25 11:24] mfojtik commented on #393
@bparees adding high prio to this one as this is breaking the S2I Jenkins scenario a little but and also Origin as we use to refer to "add s2i script to your repo and we will use them" and this bug breaks that statement.

[2016-01-25 11:29] mfojtik opened #394 "When using "scripts" in origin, the build will fail"
The build will fail when the URL does not have both "assemble" and "run". In case you just want to have custom "run" script, but you want to leave the "assemble" as it is, this will break for you and you will have to fork the "assemble" script as well.

Source-To-Image should download **only** scripts that are available and default to image scripts in case the download failed.

[2016-01-25 11:29] mfojtik commented on #394
@bparees FYI

[2016-01-25 12:35] rhcarvalho opened #395 "Build containers are named randomly by the Docker daemon"
We should be setting names for the containers we create, instead of letting the Docker daemon name it "lonely_thompson" and alike.

Faulty code: https://github.com/openshift/source-to-image/blob/9dab4e2fa154610243ace245b128892831bb0af2/pkg/docker/docker.go#L596

Discussion: https://github.com/openshift/origin/pull/6715/files#r50524359

[2016-01-25 15:02] bparees commented on #393
@mfojtik does this actually break in openshift?  we do context dir a little differently there, it might work.

[2016-01-25 16:26] rassie opened #397 "tar file is closed before further usage"
Apparently, when using source upload with `--inject` the `tar` file is created from two different directories under `/tmp`. However, the file is being closed just after the injection step, so that the actual source and the scripts cannot be written.

`s2i --loglevel 5 --inject "/home/user/.m2/repository/:/root/.m2/repository/" build . app-builder app:latest` produces the following output:

[code]

[2016-01-25 20:04] mfojtik commented on #397
CC @php-coder

[2016-01-26 16:24] rhcarvalho opened #398 "Bump vendored docker to match origin"
If we bump it to https://github.com/docker/docker/commit/2b27fe17a1b3fb8472fde96d768fa70996adf201, we can get rid of [some code](https://github.com/openshift/origin/blob/90ef4d7c23a5b942e01d85411f3345e904bb5bc2/Godeps/_workspace/src/github.com/openshift/source-to-image/pkg/docker/util.go#L148-L163) that [is implemented upstream](https://github.com/docker/docker/blob/2b27fe17a1b3fb8472fde96d768fa70

[2016-01-26 16:25] rhcarvalho commented on #398
@bparees or @mfojtik please assign this to me.

[2016-01-26 16:29] rhcarvalho commented on #398
Aha, actually those functions are not exactly the same, our version returns a digest as a separate return value.
Anyway, there's a lot of very similar implementations of parsers to split repository and tag...

[2016-01-26 17:43] php-coder commented on #397
@rassie Thank you for the report!

I'm trying to reproduce the error, but, looks like I'm missing something important. Could you provide a bit more details? For instance, from where `upload/src/*` files came from? Maybe more logs, show files hierarchy, etc.

[2016-01-27 09:54] php-coder commented on #397
I'm able to reproduce it now, BTW.

[2016-01-27 09:55] rassie commented on #397
Thanks, was going to prepare a minimal test case for you today or tomorrow, but that's probably obsolete now.

[2016-01-27 12:12] #394 closed

[2016-01-27 15:08] mfojtik commented on #397
@rassie is Chart.Doughnut.js file being injected or it is something you have in your source?

[2016-01-27 15:11] rassie commented on #397
It's in the source.

[2016-01-27 15:12] mfojtik commented on #397
@rassie if you don't do injection, does it work? (want to see if this is related to streaming two tars asynchronously or streaming the source is somehow broken)

[2016-01-27 15:14] rassie commented on #397
Yes, it works without the injection

[2016-01-27 15:39] php-coder commented on #397
@rassie We're suspecting that the cause is that target directory (`/root/.m2/repository`) doesn't exist. Is it true?

[2016-01-27 15:41] rassie commented on #397
Probably, I'm not creating it explicitely.

[2016-01-28 09:24] mfojtik commented on #397
@rassie OK, the destination directory has to exists, we are not creating it. So you will have to create it in your image before build. The error you see is different one, but still a bug. When we start streaming the sources and the injection failed (because of destinationDir does not exists) we remove the container as the build should fail. Unfortunately, we start streaming the sources in parallel

[2016-01-28 10:53] #397 closed

[2016-02-01 12:03] mfojtik commented on #393
@bparees this should be now fixed in both origin and here.

[2016-02-01 12:03] #393 closed

[2016-02-02 20:25] woot4moo opened #406 "Misleading documentation : Security"
The security documentation (https://github.com/openshift/source-to-image#security) is misleading into letting consumers believe that the Docker group is "non-root", even with the caveat of 'some systems'.  As described here:
https://github.com/docker/docker/issues/9976

[2016-02-02 21:30] bparees commented on #406
Thanks, will clarify that.

[2016-02-02 21:33] bparees commented on #364
s2i now respects cgroup limits passed in as part of the config.  it's not exposed on on the CLI but i'm having a hard time justifying exposing it on the cli, so i think we can close this.

[2016-02-02 21:33] #364 closed

[2016-02-02 21:36] bparees commented on #347
we've got integration tests now.

[2016-02-02 21:36] #347 closed

[2016-02-02 21:46] bparees commented on #156
@smarterclayton we any closer to moving away from glog or otherwise gaining this capability in a logging tool?

[2016-02-02 21:47] bparees commented on #154
closing due to tracking in trello.

[2016-02-02 21:47] #154 closed

[2016-02-02 21:53] bparees commented on #114
@PI-Victor far from a priority, but a good opportunity to dig into some of the code.

[2016-02-02 21:59] #406 closed

[2016-02-02 22:00] bparees commented on #301
@rhcarvalho @mfojtik can you guys re-evaluate this and close if you think it's fixed/non-reproducible?

[2016-02-02 22:01] bparees commented on #275
@mfojtik I think the work you did recently should be sufficient to close this?

[2016-02-03 08:15] PI-Victor commented on #114
@bparees thanks i'll look into it as soon as possible

[2016-02-03 08:32] soltysh commented on #275
From quick glimpse:
- [ ] .sticonfig
- [ ] some docs leftovers
- [ ] .sti/environment

All addressed in #408 . The remaining stuff are only internals, but that will be done over time, I guess.

[2016-02-03 08:39] mfojtik commented on #275
@bparees I hope so + what @soltysh said. will close this as soon as #408 gets merged.

[2016-02-03 14:56] bparees commented on #275
#408 merged.

[2016-02-03 14:56] #275 closed

[2016-02-03 20:19] SecurePaaS opened #409 "Maven Artifacts All Redownload On Every Build"
I've noticed everytime my codebase rebuilds with STI that all the maven architects need to be redownloaded.  Is there anyway to cache artifacts so compilation can happen faster?  Note: I'm running STI via Openshift 3.1.  I assume simply persisting the m2 directory and sharing it would fix this problem but have no idea how to go about doing this.

[2016-02-03 20:41] bparees commented on #409
See the discussion of how to enable incremental builds here:
https://docs.openshift.org/latest/dev_guide/builds.html#incremental-builds

not all s2i images support incremental builds, but the EAP image provided with openshift does and when enabled, it will reuse the .m2 directory from the previously built image.

[2016-02-03 20:54] SecurePaaS commented on #409
Thanks!  That worked!  For future reference to anyone curious, you can edit your build strategy by editing your build config using "oc edit bc -o json" and then saving the corresponding changes as depicted in the link above

[2016-02-03 21:09] SecurePaaS commented on #409
@bparees - I thought it was fixed but it appears its not saving the artifacts because /usr/local/s2i/save-artifacts is not found.  For reference, I'm using the provided jboss eap image as my base.  Is there anything further I should have to do to make this work?

[2016-02-03 21:21] bparees commented on #409
you're using registry.access.redhat.com/jboss-eap-6/eap64-openshift ?

[code]

[code]

[2016-02-03 21:34] SecurePaaS commented on #409
I don't have administrator access to the local systems running openshift and can only use the oc tools / web interface at the moment.  I'll see if I can get someone with access to ensure its the latest image and run the docker command you specified but if it helps, I used the only EAP image available in the web interface to spin up this project.  I'm sitting on Openshift 3.1 so I assume its the la

[2016-02-03 21:37] bparees commented on #409
If you edit your buildconfig to point directly to the docker image, instead of an imagestream, and specify "forcePull=true" on your buildconfig, you'll get the latest image pulled down when your build runs.

https://docs.openshift.org/latest/dev_guide/builds.html#s2i-force-pull

basically your build config will look something like:
{
  "strategy": {
    "type": "Source",
    "sourceStrategy": {

[2016-02-03 22:02] SecurePaaS commented on #409
made those changes and it pulled the latest image but it still didn't find /usr/local/s2i/save-artifacts.  Will it not show up until the second build after switching images?

[2016-02-03 22:06] bparees commented on #409
Yes that's likely the case since it is invoking save-artifacts from the previously built application image.

So the first time you did it, the previously built image was one that wouldn't have included save-artifacts.

[2016-02-03 22:18] SecurePaaS commented on #409
So idk if its working or not yet bc on the next build it started pulling the image again (so its taking forever).  I thought this would have happened so I preemptively removed the '"forcePull": true ' from my build config prior to pushing any changes but it still happened.   Why is it pulling the image?  Because it's linked to a DokcerImage rather than an ImageStream?

[2016-02-03 22:35] bparees commented on #409
I'm not sure which image you're seeing it pull in this case, but when you enable incremental builds, it will always pull the previous application image when starting the build because it needs to ensure the previous image is available so it can retrieve artifacts from it.

That pull should be relatively quick since
1) that image is coming from the openshift registry, not dockerhub (it's your appli

[2016-02-03 22:36] bparees commented on #409
(and yes, removing forcePull was the right thing to do once you'd gotten the new image updated, though again if you have multiple nodes in your cluster, you need to ensure all the nodes have the latest s2i EAP image before you remove that, or you're going to have inconsistent behavior)

[2016-02-04 00:24] SecurePaaS commented on #409
Ahhh that's probably why I saw it pulling again.  It was probably starting
the build on a different node needed to pull down the image for that note
specifically.  I'll check into this tomorrow to see if it works once all
the nodes have been updated.
On Feb 3, 2016 5:36 PM, "Ben Parees" <notifications@github.com> wrote:

[2016-02-04 23:25] bparees commented on #409
Any luck today?

[2016-02-04 23:41] SecurePaaS commented on #409
Thanks for checking back.  My entire openshift environment crashed today so
we are working on fixing it at the moment.  Until I can fix it, I won't be
able to validate the fix.
On Feb 4, 2016 6:25 PM, "Ben Parees" <notifications@github.com> wrote:

[2016-02-08 09:26] mfojtik commented on #398
@rhcarvalho do we need to do something here?

[2016-02-08 09:37] rhcarvalho commented on #398
@mfojtik, yes, as the description says.

[2016-02-18 04:08] bparees opened #412 "no way to set incremental image pull policy explicitly"
pull policy used to pull the previous image is tied to the pull policy for the builder image.

[2016-02-18 18:17] #412 closed

[2016-02-23 20:46] elyscape opened #415 "Generate Bash completion scripts"
It would be nice to have Bash completion scripts for the s2i binary. This shouldn't be too difficult, given that [Cobra](https://github.com/spf13/cobra) is used for the CLI interface and [Cobra offers a Bash completion generator](https://github.com/spf13/cobra/blob/master/bash_completions.md).

[2016-02-25 01:01] elyscape opened #416 "Provide ability to mount volumes during builds"
There are scenarios where it would be useful to be able to mount a host directory as a volume in the builder that aren't served by [file/directory injection](https://github.com/openshift/source-to-image/pull/380). For example: npm [supports using Git URLs for dependencies](https://docs.npmjs.com/files/package.json#git-urls-as-dependencies); if a private repository is specified, some sort of authen

[2016-02-29 09:48] GrahamDumpleton opened #417 "The --env option should be allowed to be used more than once."
At present the ``--env`` option has that if wanting to set more than one variable, they need to be squashed into the one string and ``--env`` supplied only once. If you supply ``--env`` more than once it results in anything attempted to be set by prior ``--env`` being dropped and ignored

With ``.s2i/bin/assemble`` containing:

[code]

and grabbing a handy S2I builder and running:

[code]

you can

[2016-02-29 09:55] GrahamDumpleton opened #418 "Provide option for s2i to ignore .git and use local directory."
As far as I can tell, if you point ``s2i`` at a directory which is a git checkout, it always goes and checks out head of default branch from the git repository and ignores the source code in the current local directory. I cannot see an option which says don't go do that.

If that is the case, can we have a ``--no-git`` or ``--no-vcs`` option so that it will always use the file system directory it

[2016-02-29 10:09] mfojtik commented on #417
agree, this is a bug. The env should be list. @GrahamDumpleton Have you tried:

`s2i build . foo xxx --env FOO=bar,BLA=foo` ?

[2016-02-29 10:15] GrahamDumpleton commented on #417
I know comma separated list of key=value as documented does work. That is what am currently having to use, which makes for really long lines in my shell scripts. :-)

[2016-02-29 10:16] mfojtik commented on #417
@GrahamDumpleton yeah, we should unify how you can pass multiple options. The `--inject` already use that pattern, we should do the same for `--env`. I will try to look this week :-)

[2016-02-29 14:05] bparees commented on #418
s2i build --ref=foo

but that still requires you have an actual commit you want to use, and not
uncommitted code.

On Mon, Feb 29, 2016 at 4:55 AM, Graham Dumpleton <notifications@github.com>
wrote:

--
Ben Parees | OpenShift

[2016-02-29 20:20] GrahamDumpleton commented on #418
I want it simply to be everything in the directory, regardless of whether committed or not, or even if added to git for it to track.

FWIW, where I used to work I had a middle ground for a system I had for running tests. I didn't want everything in the directory to be added as there could be lots of temporary crap. Instead I wrote up a system which would take what was committed, plus what had been

[2016-02-29 21:19] bparees commented on #418
yup, i got it and it makes sense.

[2016-03-01 02:30] afilimonov opened #419 "Source files are extracted in the wrong location."
s2i v 1.0.5
Performing a clean build results in some source files in the wrong location. E.g. (untar location is /var/aem) log files shows:

I0229 19:49:34.461870 66911 tar.go:260] Adding to tar: /var/folders/sz/033nkcsn2xn06d798rygg7nd7w0cfp/T/s2i908932906/upload/src/bundle/src/main/java/com/aem/kickstarter/ui/bean/component/page/AEMKickstarterMasterPageBean.java as src/bundle/src/main/java/com/a

[2016-03-01 16:29] alpined opened #420 "Is S2I production ready?"
Our info-sec guidelines prohibit us from putting any type of compiler/build-tool in a production environment (for obvious reasons). How can we build a minimalist image with solely required components?

Why do we need GCC for running a nodejs app? I think extra stuff makes the image bigger; this one is 438.7 MB.

Source Repository: https://github.com/sudhaker/my-node-app.git

[sudhaker@dell-cs24-n2

[2016-03-01 16:34] sudhaker commented on #420
Command used was : oc new-app https://github.com/sudhaker/my-node-app.git -l app=my-node-app
Environment: Openshift Origin / v1.1.2

Thanks,

[2016-03-01 21:07] afilimonov commented on #419
Yes the destination location was intentionally set incorrectly to stop the build which runs several minutes. The problem is that some files are extracted incorrectly. E.g. for src/bundle/src/main/java/com/aem/kickstarter/ui/bean/component/page/AEMKickstarterMasterPageBean.java the directory structure is lost and the file is placed in the root.

Update: it seems like this issue for OSX. The build w

[2016-03-01 21:23] bparees commented on #419
@csrwng can you take a peek at this since you have a mac?

[2016-03-01 21:26] bparees commented on #420
Your question isn't really about s2i, it's about particular s2i images.

If you want an s2i image w/o certain content, you can take a look at our dockerfiles and strip out anything you don't want:

our base image:
https://github.com/openshift/sti-base/blob/master/Dockerfile
the nodejs image (built on top of the base image):
https://github.com/openshift/sti-nodejs/blob/master/0.10/Dockerfile

and t

[2016-03-01 22:26] #420 closed

[2016-03-02 17:04] afilimonov commented on #419
I created a [test](https://github.com/afilimonov/s2i-test) that consistently reproduces this problem for me in OSX/Docker/VirtualBox environment

[2016-03-03 06:01] sudhaker commented on #420
Agree BEN! And that for the suggestion. Will try to build some basic & minimalist build images and share.

[2016-03-03 09:22] mfojtik commented on #420
@sudhaker the reason why we install `gcc` is that some nodejs modules might require C extension compilation during install. Same for ruby (nokogiri) and python (i'm sure something exists). So we treat it as a "common" requirement for all images. Since the `sti-base` image will almost always exists in the cluster nodes (if you use one of the official builders), the 'framework' (nodejs, ruby, etc...

[2016-03-03 09:33] rhcarvalho opened #421 "Builder Image Scripts: Ease to Maintain, Test, and Trust"
For the lack of a central repository holding all of our official builder images, and for `sti-base` not representing our images equally well (it is not used by database images), I'm bringing the discussion here, for here is the source of a builder image skeleton: `s2i create`.
## Proposal

Look for another programming language for writing scripts in the official builder images to improve maintaina

[2016-03-03 09:36] rhcarvalho commented on #421
@bparees @mfojtik @mnagy @php-coder @PI-Victor @legionus @hhorak @ppisar @omron93 what do you think?

Are you all happy with the current state and the Bash scripts?

(feel free to tag other SCL image maintainers for the discussion)

[2016-03-03 09:43] rhcarvalho commented on #421
I would open a separate issue for this, but I'm thinking this might be influenced by the language choice:

**We have a growing technical debt with copy-paste of Bash scripts supporting multiple versions of a given image.**

For example, the Python image has 3 copies of mostly the same files with a few differences between each copy.

Perhaps one of the causes of that state is that it would be "too

[2016-03-03 09:53] mfojtik commented on #421
@rhcarvalho the tests you're talking about are executing `s2i build`, `docker run` and inspecting the result by looking into container logs or sending HTTP requests against container. I don't think we have tests that are more complex than that.

So I appreciate your effort to make this better, but I really don't want to spend time on rewriting all image tests to python (or any other language frame

[2016-03-03 10:07] ppisar commented on #421
Arguing by having something in default installation is flawed. First you don't have the docker in the default installation, yet it's not a hurdle from installing it and using it. Second, future default installation will miss even the Python with all it's standard classes probably.

But whatever you choose,  it will be better than bash. Shell is terribly bad in calling foreign code. I'd like to see

[2016-03-03 10:13] PI-Victor commented on #421
If we're thinking long term it would probably have to be python 3 to begin with, or maybe i'm thinking too long therm, but anyway:
[code]
+1 on the idea, i don't see it happening, you're going to hit the ol' "it's not broken so we don't fix it" wall. i hope you prove me wrong!
bash pretty much sucks for anything this complex. i have no idea why we would want to maintain this level of bash scripts

[2016-03-03 10:16] rhcarvalho commented on #421
This is true for running tests in our development machines, but not true for the runtime scripts that run in Docker under CentOS and RHEL images.

If it was only about tests, we would be free to use whatever language out there.

Since the scripts must run in a Docker image and we don't want to make the images unnecessarily bigger, thus the need for something that is already there (or a very good r

[2016-03-03 10:32] mfojtik commented on #421
@rhcarvalho you don't have to include the scripts in the image (and I don't think that will make them bigger). You can just copy them to a running container and execute them there.

[2016-03-03 10:51] rhcarvalho commented on #421
Hmmm, I don't get it. Maybe we are thinking about different things?

I'm talking about these, for example:

- https://github.com/openshift/mongodb/blob/master/2.4/root/usr/bin/run-mongod (script part of the image's runtime)
- https://github.com/openshift/mongodb/blob/master/2.4/test/run (test script)

Obviously the runtime scripts need to be in the image. The test scripts are a different matter.

[2016-03-03 11:22] ppisar commented on #421
On Thu, Mar 03, 2016 at 02:51:38AM -0800, Rodolfo Carvalho wrote:

I thought we talk only about the test scripts. The test scripts are not part
of the resulting image. Therefore I cannot understand why a non-developer
would need need to run them in a pristine RHEL/CentOS container. Or is that
another use case of the tests? This why I asked for the constrains for the
tests.

[2016-03-03 11:28] mfojtik commented on #421
@rhcarvalho so you're talking about running the test scripts inside the container (which in case they are written in python will require python + modules needed to run them).

There are couple use cases here for testing:

* Run database image and then docker exec into that container and use database client CLI to perform testing.
* Run database image and inspect the logs of the image to see if eve

[2016-03-03 11:47] php-coder commented on #421
SGTM, but it takes time for rewriting and testing that's why I'm not sure that we'll do this.

[2016-03-03 11:57] rhcarvalho commented on #421
I talk about all of the scripts, which I believe fall in two categories: test and runtime.

Clearly they go under different constraints, they run in different stages at different environments.

However, for me both suffer from having outgrow what we can maintain sanely with Bash.

No, I am not talking about running tests in containers.

In terms of "Turing completeness", both Bash and Python would

[2016-03-03 12:02] ppisar commented on #421
I do not expect rewriting existing tests forcefully. But I hope those who
extends current tests will find the new framework more appealing than the
hackish bash script and decide themselves to rewrite them.

[2016-03-03 13:46] rhcarvalho commented on #421
@ppisar :+1:

I've brought this up after having tried to improve scripts in the past and having certain changes rejected because:

1. "We need to maintain consistency across repositories, if you change the 'framework' you need to change it in all repos" https://github.com/openshift/sti-python/pull/12#issuecomment-100181427
2. "Bash is not a programming language, don't try to be smart with it" http

[2016-03-03 14:21] bparees commented on #421
I'm pretty against this personally.  Perhaps because i have zero python experience, but bash is also an evolved and stable platform.  Are we going to be continually revising python scripts to keep up with new python releases and best practices?

Bash may be esoteric at times, but for a user looking to copy+modify something, it's a lower barrier to entry than python.  It's far more universal than p

[2016-03-03 14:40] mfojtik commented on #421
agree with @bparees ... bash might be frustrating (i'm not arguing that), but it does the job for now and I would personally keep improving the scripts or derivate common parts into some "framework" we can reuse than committing us to rewrite to python/perl/whatever and risking we end up with the same maintenance hell ;-)

[2016-03-03 14:58] clever88 commented on #421
-1 on python too, as this proposal seems to be more of a personal preference than technical improvement.

[2016-03-03 19:29] hhorak commented on #421
I'm also quite reluctant to invest in rewriting the testing scripts and I'm even more negative to rewriting images' internals. However, in case somebody tries it at least as PoC, I'd suggest to use already existing tools:
* for container testing: https://github.com/Containers-Testing-Framework/
* for container configuration: https://github.com/containers-tools/cct

[2016-03-04 14:59] sudhaker commented on #420
Michal - It's not about storage. Having gcc & build-tools in production container is big no-no for security reasons.

I do agree with Ben that S2I is just a tool and reported security flaw is coming from S2I templates which can be tweaked to cover the rough corners.

Cheers,
Sudhaker

[2016-03-04 15:04] mnagy commented on #420
@sudhaker out of curiosity, what are the security reasons?

[2016-03-04 18:32] sudhaker commented on #420
It's easier to paste 40 lines of C code on a remote-shell and build binary on a compromised dmz-host to extend the attack than moving the binary to the dmz-host through multiple hops. I won't do any more follow-up on this thread as the discuss can go pretty long.

[2016-03-14 17:37] gabemontero commented on #367
So after reading this and https://github.com/openshift/source-to-image/pull/348 a couple of times, I suppose we could, after finding the empty directories off of the `targetPath` (after the `cp -a sourcePath targetPath`) via a `find targetPath -type d -empty`
1) add a `.gitkeep` file to any empty directories on the `targetPath` slide found so `git` respects them
2) explicitly document we don't sup

[2016-03-14 18:13] mfojtik commented on #367
@gabemontero another option would be to add special flag to force "file" SCM, so the directory with source will be copied instead of 'git cloned'.

[2016-03-14 18:40] gabemontero commented on #367
ah, that's right @mfojtik , thanks for the reminder ... s2i today has a generic "scm" concept, where the 2 impls or plugins at the moment are git and file.

Before moving to next steps, a quick recap of what the code does in determining which to use:
1) it takes the source spec and sees if the file exists
2) it then looks to see if either a) the git binary is not in the path, or b) it looks to see

[2016-03-14 19:03] bparees commented on #367
I think i'm ok w/ the "forceCopy" (vs clone) flag to address this.

[2016-03-14 19:07] gabemontero commented on #367
Is that `--forceCopy`, with a default of false (i.e. stay consistent with the existing behavior), with perhaps also a `-c`, or just the `--forceCopy` ?

[2016-03-14 19:10] gabemontero commented on #367
though the other options with `s2i` are hyphen separated ... `assemble-user`, `context-dir`, `scripts-url`, `use-config` ... so probably should be `force-copy`

[2016-03-14 19:13] mfojtik commented on #367
`--force-copy` or just `--copy` would be OK i think

[2016-03-14 19:16] bparees commented on #367
if "-c" is available, sure let's include that shorthand.  --copy sounds ok for the long-form flag name.

and yes, default to false(existing behavior).

[2016-03-14 20:48] #367 closed

[2016-03-17 15:53] rhcarvalho opened #433 "Containers created by s2i should be explicitly named"
From https://github.com/openshift/source-to-image/pull/430/files#r56502920.

Instead of leaving it up to the Docker daemon to give nice names like "fluffly_panda" :panda_face:, we should do the [same as we do in origin](https://github.com/openshift/origin/blob/555af9f9020c43eb097fa34c2731845d53a2d70b/pkg/build/builder/common.go#L106-L120) and give names with a "s2i" prefix.

Include a random suffi

[2016-03-23 15:51] rhcarvalho opened #443 "Refactor CLI code and usage of os.Exit"
I found usages of `os.Exit` in `cmd/s2i/main.go`.
That's a bad idea because it interrupts the runtime without running any deferred calls, no cleanup is done...
Most offenders call `os.Exit` indirectly through [`checkErr`](https://github.com/openshift/source-to-image/blob/cf412b2e88b510c5117dd28965ade70fbcf23b3d/cmd/s2i/main.go#L321).

Also, the project is stuffing all CLI code in a single file, no

[2016-03-29 12:03] rhcarvalho commented on #433
Closing as dupe of https://github.com/openshift/source-to-image/issues/395

[2016-03-29 12:03] #433 closed

[2016-03-31 00:43] alberttwong opened #453 "Need more docs: What do I need to do to feed logs to EFK?"
I'm building community s2i images for common runtimes I see in the field.   What do I need to do to Dockerfile/s2i files to feed logs to EFK?

[2016-03-31 00:45] alberttwong opened #454 "Need more docs: What do I need to do to enable connectivity to monitoring metrics?"
I'm building community s2i images for common runtimes I see in the field.   What do I need to do to Dockerfile/s2i files to enable connectivity to monitoring?   Also I'm under the assumption that the monitoring metrics I currently see in OSE is hawkular.

[2016-03-31 15:02] bparees commented on #453
Shouldn't have to do anything, just make sure the image outputs to stdout.

@jcantrill please confirm?

[2016-03-31 15:03] bparees commented on #454
This really belongs as an openshift/origin issue, it's not an s2i question.

@jcantrill any doc you can point to for how to enable images to record metric data?

[2016-04-01 13:07] jcantrill commented on #454
Are we referring here to monitoring application metrics?  These cards are identified for figuring out app metrics: https://trello.com/c/4rtRqsQS/192-5-r-d-application-level-metrics-hawkular, and https://trello.com/c/ZQTYWrCD/154-8-support-application-level-metrics-hawkular-evg

They have been in a holding pattern for a while now as we sort through various existing bugs.

[2016-04-01 13:18] jcantrill commented on #453
@alberttwong The EFK stack will pick up any log messages that are written to the recommended docker log output which is stdout.  That being said, there was a long discussion that I can not seem to find about how to gather other logs  which might be generated (e.g. Wildfly access logs) other then those that go to stdout.  I would suggest providing some indicator of the log source if you wish to dis

[2016-04-01 16:43] alberttwong commented on #453
Do you know if EFK picks up stderr?   I also agree that we need more than just stdout.

What would you suggest?

[2016-04-01 16:46] alberttwong commented on #454
I see....  it doesn't quite say how to do it.

how about heapster?    Can I assume that there will be some base container monitoring and I don't have to do that on the s2i/image layer?

[2016-04-04 12:02] jcantrill commented on #454
@alberttwong The cards are there identify how to do applications metrics; ... the 'how' is still a work in progress.  I'm not certain what you are asking with regards to heapster.  As far as base monitoring, I imagine it will depend on the type of application but since this is still a work in progress, it is yet to be determined. @mwringe do you have any additional info you can add to this thread?

[2016-04-04 12:07] jcantrill commented on #453
The stack will pick up anything that would see coming from 'docker log'.  Docker AFAIK merges the stdout and stderr streams.

With regards to the indicator, if you are using something like log4j, you can specify the log pattern which means the options are about anything.  This means if its an http access log, you could preface all log messages with 'http-access'

[2016-04-04 13:06] mwringe commented on #454
@alberttwong the origin-metrics setup will automatically monitor any containers deployed in the cluster, mainly this has to do with cpu and memory metrics (but there will be support for network metrics soon). This is what Heapster provides in terms of monitoring. Heapster should also be able to handle very low numbers of custom application metrics (eg 3-4) if you want to expose metrics that way.

[2016-04-04 21:24] mfojtik commented on #415
@elyscape sorry for this to take so long, I will have a look tomorrow and provide bash completetions (we already have that for oc and openshift commands, s2i should be no different).

[2016-04-04 21:26] elyscape commented on #415
No worries. Thanks for your help on this!

[2016-04-05 11:48] mfojtik commented on #415
@elyscape it is being merged now... several options:

1) Use `s2i genbashcompletion` will give you up-to-date completion for the current `s2i` binary
2) You can download generated completion (see contrib/bash) folder.

[2016-04-05 11:57] MartinRumanek opened #457 "No .git directory in source dir"
My assemble script expects git repo (because my gradle build calls some git commands), not only the source code (without a .git directory).

 I've tried command build with param "--save-temp-dir=true"

[code]

and the path /tmp/s2i269878825/upload/src is ok (with .git directory), but inside the builder image directory .git doesn't exist.

[code]

[2016-04-05 12:04] #415 closed

[2016-04-05 13:31] bparees commented on #457
yes, s2i presently explicitly excludes the .git directory.  This has come up a couple times (not sure if we have another issue open for it @mfojtik @gabemontero ?)

I think we should do one of two things:
1) add a flag to disable this behavior
2) update the .s2iignore logic to operate as an override:  if you have a .s2iignore file, then we only ignore things in that file and do not do the default

[2016-04-05 13:35] mfojtik commented on #457
@bparees +1 for 1)

[2016-04-05 13:59] gabemontero commented on #457
To the historical angle @bparees alluded to, the closest thing to this that I worked was #367, where we added the force copy option to preserve empty directories.

I haven't tried it yet, but It is conceivable that could prove to be a workaround for preserving the .git directory as well (with of course requiring that you clone the repo *before* running `s2i` and pass the resulting local directory

[2016-04-05 14:04] bparees commented on #457
the exclusion logic happens during the tarring for sending into the container, so i'm 99% confident it'll take effect regardless of the copy/clone strategy.

[2016-04-05 14:09] gabemontero commented on #457
ok thx for the quick intel @bparees  - i'll start on the new option

[2016-04-05 16:26] gabemontero commented on #457
In looking at the code, there is already a [setter](https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L90-L92) for the regular expression used to exclude files, where the default regex covers the [.git's](https://github.com/openshift/source-to-image/blob/master/pkg/tar/tar.go#L27).

So I'm thinking the new flag should be a bit more generic, and simple expose the regexp used f

[2016-04-05 17:11] bparees commented on #457
sounds reasonable to me.

[2016-04-05 20:38] elyscape commented on #415
Fantastic. Thanks for your help!

[2016-04-07 11:05] #457 closed

[2016-04-08 04:25] bparees commented on #454
housekeeping: can we close this and move it to an origin issue if there are still things to discuss?

[2016-04-08 04:26] bparees commented on #453
housekeeping: can we close this and move it to an origin issue if there are still things to discuss?

[2016-04-08 04:31] bparees commented on #418
I think maybe this will have fixed your issue?
https://github.com/openshift/source-to-image/pull/428

if you specify --copy we'll do a filesystem copy instead of a git clone, so that should get the current content.  can you give it a shot and confirm?

[2016-04-08 04:33] bparees commented on #409
closing based on age, will reopen if you have an update.

[2016-04-08 04:33] #409 closed

[2016-04-08 19:31] mwringe commented on #454
Unless we get some more information about the issue, I think we should close this.

[2016-04-08 19:33] bparees commented on #454
closing, @alberttwong please open an issue against https://github.com/openshift/origin if you need to discuss further.

[2016-04-08 19:33] #454 closed

[2016-04-08 19:33] bparees commented on #453
closing, please open an issue against https://github.com/openshift/origin if you need more info.

[2016-04-08 19:33] #453 closed

[2016-04-11 04:49] GrahamDumpleton commented on #418
I can't verify this until a release is made as not been building binaries myself.

[2016-04-11 13:37] bparees commented on #418
i'll try to cut a release today.

[2016-04-11 14:08] bparees commented on #418
@GrahamDumpleton new release: https://github.com/openshift/source-to-image/releases/tag/v1.0.6

[2016-04-11 14:54] rhcarvalho commented on #443
I'm intending to use `RunE` as Hugo uses: https://github.com/spf13/cobra#alternative-error-handling

[2016-04-11 23:56] alberttwong opened #465 "Permission denied error in instructions on "Creating a basic S2I builder image""
I'm getting the following error.  Not sure what is the issue.   Seems like an executable (+x) issue but not sure.  Any ideas?

[code]

[2016-04-12 01:18] bparees commented on #465
yes, it probably is.  what are the permissions on your assemble script inside the image?

[2016-04-12 01:18] alberttwong commented on #465
[code]
rebuilt docker image and off to another error.

[2016-04-12 01:18] #465 closed

[2016-04-12 01:19] bparees commented on #465
@alberttwong :+1:

[2016-04-12 01:28] alberttwong opened #467 "index.html no such file error in instructions on "Creating a basic S2I builder image""
Hmm... another error I ran into.

[code]

[2016-04-12 01:30] bparees commented on #467
i believe that is output from your assemble script.  running with --loglevel=5 might reveal more.

[2016-04-12 01:32] alberttwong commented on #467
[code]

[2016-04-12 01:37] alberttwong commented on #467
seems like an error in the assemble example script

`cp -Rf /tmp/src/index.html /usr/share/nginx/html/index.html`

I'll send in a patch.

[2016-04-12 01:40] bparees commented on #467
i'm not sure where your "test" directory came from, but the issue is that you passed "test/" as your repo, so s2i created working directory consisting of "/tmp/src/test/....."

if you want it to just work as is, cd into test and run "s2i build . nginx-centos7 nginx-app" instead, then you will have a "/tmp/src/...." and the assemble script will find the file.

[2016-04-12 01:41] alberttwong commented on #467
the example has a test folder where you put in your code.  So I'm just following it.

[2016-04-12 01:45] alberttwong commented on #467
I think we're say same thing, I just wanted to match the example project to the readme.

[2016-04-12 01:47] bparees commented on #467
i'm actually wondering if we have a regression in how we are handling the path "test/" because the change to the assemble script shouldn't be necessary (it's not really the right fix for the problem you hit).  i'll need to dig into this a little more.

[2016-04-12 02:05] bparees commented on #467
nm, you're right, the assemble script was just broken, thanks for the fix!

[2016-04-12 02:07] #467 closed

[2016-04-12 15:08] rhcarvalho commented on #443
To tone down the problem, there seems to be only [a single `defer` statement](https://github.com/openshift/source-to-image/blob/6b6ceea0b6356c86e3477bbaf668b61d5693ede7/cmd/s2i/main.go#L107) to close a file that doesn't get executed in case of errors and `checkErr` calling `os.Exit`. Not the end of the world.

Still, looks like a beneficial cleanup to build on the ideas of the cobra usage in hugo.

[2016-04-13 23:49] alberttwong opened #469 "What is the best way to execute dockerfile "entrypoint" command"
My s2i run script has `ENTRYPOINT ["dnx", "-p", "source/project.json", "Microsoft.AspNet.Server.Kestrel", "--server.urls", "http://0.0.0.0:5000"]` and I get the follow error

[code]

What is the best way to execute entrypoint?   I don't think I should put it back into the dockerfile unless you think so.   I'm thinking of converting the entrypoint command to a normal shell command.   Thoughts?

[2016-04-14 00:48] bparees commented on #469
Runs scripts are she'll scripts, not dockerfiles, so using docker syntax
like ENTRYPOINT doesn't make sense...

Ben Parees | OpenShift
On Apr 13, 2016 7:49 PM, "Albert Wong" <notifications@github.com> wrote:

[2016-04-15 00:09] alberttwong commented on #469
sounds good.

[2016-04-15 00:09] #469 closed

[2016-04-18 15:42] alberttwong opened #470 "s2i tool does not check if run user 1001 (for CDK and OpenShift)"
## I was a bit surprised that the s2i tool doesn't warn you.

Most of these images have "USER 1001" (which is the default user) for this reason. I don't know why this is only checked by OpenShift; perhaps it's worth an issue against S2I to at least warn that a privileged security context will be needed on OpenShift.

[2016-04-18 15:50] bparees commented on #470
it's an openshift requirement and not an s2i requirement, so it's debatable whether the s2i tooling should be reporting about openshift requirements, given that s2i is intended to be usable w/o openshift.

[2016-04-18 16:05] alberttwong commented on #470
maybe we should extend the example since many of use the s2i tool to build for OSE.

[2016-04-18 17:58] bparees commented on #470
@alberttwong that's fair.

[2016-04-18 18:15] alberttwong commented on #470
Here's a working s2i that is running non-root.  We also tested it against the CDK.

https://github.com/openshift-s2i/s2i-aspnet/pull/5

[2016-04-21 19:36] bparees commented on #418
@GrahamDumpleton bump

[2016-04-21 20:59] alberttwong opened #472 "example s2i should contain best practices (generation of template, liveiness and readiness probe, resource and quota limits)"
generation of template so that all users can create a java/aspnet/nodejs/etc etc project and  implementations of liveiness and readiness probe and resource and quota limits

[2016-04-21 21:09] bparees commented on #472
those are openshift/k8s concepts which do not belong in s2i documentation.

openshift/k8s provides examples of templates/readiness probes/liveness probes/etc:

https://github.com/openshift/origin/blob/master/examples/quickstarts/cakephp-mysql.json

[2016-04-21 21:09] #472 closed

[2016-04-21 23:14] GrahamDumpleton commented on #418
Confirmed that ``--copy`` appears to work as anticipated in 1.0.6.

[2016-04-21 23:14] #418 closed

[2016-04-22 00:13] alberttwong commented on #472
where would you put that type of recommendation?  I built the aspnet s2i image using the example contained in the repo.   I found this to be incomplete.   https://github.com/openshift/s2i-base is also incomplete.

[2016-04-25 00:41] bparees commented on #472
It sounds like a candidate for this doc:
https://github.com/openshift/openshift-docs/blob/master/creating_images/guidelines.adoc

something about recommending you
1) provide a recommended readiness and liveness probe definition
2) ideally provide a template that will stand up your image in a deployment config.

Can you either open an issue against that repo (and tag me) or if you're feeling inclin

[2016-04-25 14:01] alberttwong commented on #472
Can we link https://github.com/openshift/openshift-docs/blob/master/creating_images/guidelines.adoc to the s2i example or the sti-base?

[2016-04-27 01:59] GrahamDumpleton opened #475 "ENTRYPOINT in S2I builder image can interfere with assemble run."
If one is making an S2I builder by extending an existing Docker image, if the base image has an existing `ENTRYPOINT` specified (and which has to be retained to allow direct use of the image still), this may interfere with the `assemble` phase and specifically the ability to send files into the container for `assemble` using `tar`.

An example of how it can be broken is if the `ENTRYPOINT` command

[2016-04-27 02:53] bparees commented on #475
@mfojtik can you remember any reason we aren't doing this today when we run the assemble container? i'm a bit surprise we aren't.

[2016-04-27 08:44] mfojtik commented on #475
@bparees i thought we already override entrypoint to /bin/sh, if we don't then it is a bug. I will have a look.

[2016-04-27 08:49] GrahamDumpleton commented on #475
The only way I could solve my problem was to comment out ``ENTRYPOINT`` in the ``Dockerfile``, so doesn't appear to be overridden.

[2016-04-27 08:49] mfojtik commented on #475
@GrahamDumpleton thanks! I will send a PR to fix this today.

[2016-04-27 12:31] bparees commented on #475
thanks @mfojtik!

[2016-04-28 13:32] #417 closed

[2016-04-29 03:19] GrahamDumpleton opened #479 "Add option to stop after source injection and not run assemble."
When writing your own assemble scripts, debugging problems when working with sample injected code can be a pain. It would be good to have an extra options to allow you to inject code only but not run assemble. One can then run the image manually with a shell and run `assemble` by hand. Option could be called `--inject-only`.

[2016-04-29 11:58] bparees commented on #479
can't you just provide an override assemble that does an exit 0?

[2016-04-29 17:34] #398 closed

[2016-04-29 21:53] bparees commented on #475
i had to revert this here https://github.com/openshift/source-to-image/pull/482

because we were committing images with "env" as the entrypoint which resulted in our post-commit tests failing because they couldn't find bundle because the scl enablement stuff didn't happen with that entrypoint.

we can revisit this after the merge queue is fixed, but basically we need to not commit the changed entr

[2016-05-01 00:16] GrahamDumpleton commented on #479
I suggested this change after having talked to someone who had tried to create their own S2I builder and given up in the end as debugging issues was just too hard or non obvious. In OpenShift there is no way to get into the builder container when it is running, nor is there a way like there is for ``oc debug`` to start a builder pod, but leave you in a shell. For the builder pod you could copy the