[2016-05-01 00:42] bparees commented on #479
You can just put the scripts in your app repo. You don't need to specify a
scripts url. If users don't understand that, we have a docs problem. It's a
core part of the functionality (overriding scripts).

Not to mention if you're debugging your own image, you can build your
assemble script with the immediate exit yourself. That was cartridge
building 101 in v2.

Ben Parees | OpenShift
On Apr 30, 2

[2016-05-01 02:35] GrahamDumpleton commented on #479
I may not be able to add a ``.s2i`` directory into the repo from which files are being pulled.This is because it need not be a S2I builder which is creating a web application from application code, but a SaaS application builder where all the repo is being used for is data input files, such as Jupyter Notebooks, possibly even coming from a public repository and not my own. In that case needing to

[2016-05-04 16:34] #416 closed

[2016-05-20 10:18] php-coder commented on #419
I could try to fix it but only if you provide the steps for reproducing it. As far I understand, I need to install s2i binary, I already have VirtualBox installed, so I need to make docker available on the host system, right? How I can do that, BTW? Do you use docker-machine or something like that?

[2016-05-20 13:44] afilimonov commented on #419
Yes docker-machine 0.6.0

[2016-05-24 12:44] LalatenduMohanty opened #506 "s2i gives error for building the example ngnix-app"
Steps to reproduce:

* git clone https://github.com/openshift/source-to-image.git
* cd source-to-image/examples/nginx-app
*  wget https://github.com/openshift/source-to-image/releases/download/v1.0.9/source-to-image-v1.0.9-f9ff77d-linux-amd64.tar.gz
* tar xvzf source-to-image-v1.0.9-f9ff77d-linux-amd64.tar.gz
* `s2i  build test/ nginx-centos7 nginx-app`
[code]

[2016-05-24 12:55] php-coder commented on #506
Hello, thank you for the report!

Looks like you've followed the steps from [the instruction](https://github.com/openshift/source-to-image/tree/master/examples), right? I see that you missed one step when you're building `nginx-centos7` image:

This will create a builder image from the current Dockerfile.

[2016-05-24 12:55] #506 closed

[2016-05-24 21:17] LalatenduMohanty opened #508 "nginx-app does not follow the standard directory structure for a s2i application"
https://github.com/openshift/source-to-image/tree/master/examples/nginx-app does not follow the standard directory structure for a s2i application i.e. the structure gets created with `s2i create <image name> <destination directory>`

[code]

[2016-05-24 22:10] php-coder commented on #508
CC @PI-Victor

[2016-05-25 20:51] PI-Victor commented on #508
you're correct, it doesn't. it's a feature, not a bug.
this tutorial was made as simple as possible. we've intentionally left parts of this out to make it as a basic boilerplate and showcase "internals" - let's say.
you can see it explained here: https://github.com/openshift/source-to-image/pull/371#issuecomment-160782599

@bparees should i modify the example to follow the dir structure as mention

[2016-05-25 22:50] bparees commented on #508
yeah i don't think it's critical this align with `s2i create`.  if @LalatenduMohanty wants to create a PR to restructure it (including updating the readme/tutorial) i think we'd accept it, but otherwise i don't think we need to do anything here.  hence the p3/help-wanted labels :)

[2016-05-26 05:15] LalatenduMohanty commented on #508
@bparees that sounds good. I will create the PR as per https://github.com/openshift/source-to-image/blob/master/docs/builder_image.md etc

[2016-05-26 07:50] PI-Victor commented on #508
sound good to me. @LalatenduMohanty thank you for taking the time :+1:

[2016-06-08 18:13] ryanj opened #514 "RunC compatibility?"
Is RunC compatibility outside the scope of this project?
Would it make sense to include a go lib to translate the image input or output?

[2016-06-08 18:15] bparees commented on #514
image translation feels outside the scope.  supporting runc natively seems reasonable.

[2016-06-09 13:47] hemmop opened #515 "Example of multi-step s2i build is needed"
From the README:

Please provide an example how to take advantage of this possibility (including the needed BuildConfig).

[2016-06-09 13:52] php-coder commented on #515
We are working on this feature right now. Link to related Trello card: https://trello.com/c/MWUAjl6k/237-13-extended-builds-separate-mvn-vs-jboss-evg

I will add links to the documentation when this feature will be implemented, pass api/code reviews and merged.

[2016-06-09 14:01] bparees commented on #515
@php-coder the readme is referring to the ability to do it manually today by building the first image, extracting the wars from that image, and then doing a second build.  so it is something we could document, but it probably does make sense to wait for your feature and document the first class support.

[2016-06-09 20:27] bparees commented on #508
@LalatenduMohanty are you still intending to submit a PR?

[2016-06-10 04:09] bparees commented on #372
rpm is platform specific and we're not looking to distribute this in that way, i think pointing people to the release page is more appropriate.

[2016-06-10 04:49] bparees commented on #369
this turned out to be an issue in our jenkins infrastructure.

[2016-06-10 04:49] #369 closed

[2016-06-15 08:47] mfojtik opened #516 "Migrate fsouza/go-dockerclient to docker/engine-api"
See: https://github.com/openshift/origin/issues/9320

[2016-06-15 08:48] mfojtik commented on #516
@bparees FYI

[2016-06-15 15:25] bparees commented on #516
@mfojtik any idea how big an effort this is?  (how different are the apis?)

[2016-06-15 15:28] mfojtik commented on #516
@bparees there are some minor differences, but I think it will be mostly mechanical changes (sed/vim). Also S2I has already Docker interface, we just need to switch to call engine-api methods. (I think it would be ~5 in trello points, as we will have to plumb tests as well).

[2016-06-15 16:39] carbonrobot opened #517 "Assemble script modifications not picked up"
When running the s2i command to test an image, changes to the assemble script are not reflected on the next run of `s2i build` if the assemble script returns a non-zero exit code.

Steps to reproduce
1. Create a s2i test project that contains an assemble script that exits with a non-zero exit code
2. Run s2i build against that project
3. Make a change to the s2i script
4. Run s2i build against the

[2016-06-15 16:40] bparees commented on #517
Can you provide some more details about what exactly you're doing?

[2016-06-15 17:04] bparees commented on #517
you're using a local git repo?  are you committing the change to the script?

alternatively use "-copy" to force s2i to use copy instead of git clone to access your source.

[2016-06-15 17:04] bparees commented on #517
--copy rather

[2016-06-15 17:07] bparees commented on #517
is the local file folder a git repo?

[2016-06-15 17:08] bparees commented on #517
so by default s2i will attempt to git clone the local dir if it appears to be a git repo, so it will only pick up committed changes.  --copy forces it to just copy the local dir instead of git cloning it, which will pick up uncommitted changes.

[2016-06-15 17:08] #517 closed

[2016-06-15 17:11] bparees commented on #517
updated the doc a bit: https://github.com/openshift/source-to-image/commit/c5b7833ed66e5fec41bf68b45952682efe31dc7f

[2016-06-21 18:37] jupierce opened #520 "s2i fails with "Unable to load docker config" if HttpHeaders exists in ./docker/config.json"
When HttpHeaders is present in .docker/config.json (e.g. https://gist.github.com/jupierce/d0a063b2903056c2388412164280fb18) s2i fails with error:

Unable to load docker config
panic: runtime error: invalid memory address or nil pointer dereference
[signal 0xb code=0x1 addr=0x0 pc=0x4ecef6]
goroutine 1 [running]:
panic(0x919820, 0xc820012100)
/usr/lib/golang/src/runtime/panic.go:481 +0x3e6
github.c

[2016-06-21 18:46] bparees commented on #520
guessing we need to bump fsouza/docker-client to fix this.

[2016-06-22 15:28] php-coder opened #522 "Callback URL doesn't invoked when build fails"
[Callback URL section](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#callback-url) a bit outdated:
- `labels` field is missing
- description of `success` says that this field `indicating the result of the build process (true or false)` but this callback never gets executed if build failed. It only executed for a successful builds and hence this field always has value `true`

[2016-06-22 16:07] php-coder commented on #522
@bparees What's about 2nd point? Should I correct documentation or code?

[2016-06-22 16:21] bparees commented on #522
the code should be fixed.

[2016-06-23 04:23] #372 closed

[2016-06-27 15:13] #395 closed

[2016-06-29 14:10] php-coder commented on #522
From another hand, [the short description of the `--callback-url` parameter](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#s2i-build) says "URL to be invoked after a successful build".

[2016-06-29 14:42] bparees commented on #522
code should be fixed and that flag should be changed to say "after a build"

[2016-06-29 17:23] jawnsy opened #527 "Introspect options to "s2i build" from S2I Builder Image?"
Hey,

Just forwarding this question from @amsokol here. Please help us assess it and re-tag as a feature request or close with an explanation as appropriate.

I think the use case in this scenario is to get the Git URL and context directory. This could be applicable to s2i-go since, by convention, the folder structure on disk should match the GitHub URL and context dir.

For example, if we wanted

[2016-06-29 17:32] bparees commented on #527
it's true that we don't currently expose any of the s2i arguments to the assemble script.

i'm not explicitly averse to exposing them as env variables, though any env variables we provide to the container will also be included in the committed image.  in some cases (eg --ref) that may be desirable, in other cases it may not be, which means we'd probably need at a minimum, to make this an option (-

[2016-07-01 12:36] bparees commented on #516
closing in deference to https://trello.com/c/l1sHwlvu/987-convert-to-docker-engine-apis

[2016-07-01 12:36] #516 closed

[2016-07-05 09:08] lbriais opened #530 "The `--recursive` has the opposite action as expected"
The default config of `s2i` to clone repositories recursively (`--recursive`) is supposed to be set to true.
Actually it is not the case, even passing explicitly `--recursive=true`.

But if you pass  `--recursive=false`, then __it is actually recursive__ !

I believe this option should be named `--disable-submodules` with a default to false. It would be much more consistent with the behaviour and

[2016-07-06 03:24] bparees commented on #530
i agree we should introduce a --disable-submodules flag w/ a default of false, when set to true we'll either use --recursive or submodule init logic depending whether --ref was also specified, and we'll remove the recursive flag.

[2016-07-06 14:08] #530 closed

[2016-07-07 22:28] wstrange commented on #515
I am somewhat confused as to the current state of s2i - including this feature.

I gather some significant changes are coming in the "extended build" PR that will change how multi-step images are built?   Is that PR expected to merge soon?

Any examples of a multi step tomcat / maven build would be really appreciated.

[2016-07-07 22:36] bparees commented on #515
the PR should merge in the next few days, to be followed shortly by doc.  The syntax will look roughly like:

`s2i build . some/mavenimage your/outputappimage --runtime-image=some/tomcatimage`

where mavenimage is an image that contains maven and an assemble script that knows how to invoke a maven build against source code.

and some/tomcatimage is an image that contains tomcat and an "assemble-ru

[2016-07-07 23:13] wstrange commented on #515
Thanks Ben - I will keep an eye on the PR

[2016-07-08 16:44] bparees opened #533 "TestLayeredBuildNoTarNoName is flaking on windows"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_sti/513/consoleFull

no useful message about what failed unfortunately.

[2016-07-11 17:08] bparees opened #535 "TestIncrementalBuildAndKeepPreviousImage is flaking"
[code]

https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_sti/518/console

[2016-07-11 17:28] php-coder commented on #535
Incremental build failed because of this:
[code]

[2016-07-11 17:52] bparees commented on #535
@php-coder has your extended build implementation experience left you in a good position to investigate this?  if so, feel free to take it.

[2016-07-13 19:03] #515 closed

[2016-07-13 22:36] wstrange commented on #520
I am seeing the same panic  with a fresh build of s2i (as of Jul 13)

[2016-07-13 22:41] wstrange opened #539 "error: Unable to load docker config - when running nginx example"
Running:
s2i build test/ nginx-centos7 nginx-app

results in:

[code]

This looks the same as  https://github.com/openshift/source-to-image/issues/520
But I dont have HttpHeaders in my docker config

[2016-07-13 23:09] wstrange opened #540 "Docs: How does s2i differ from something like the fabric8 docker plugins?"
One thing that is not clear to me - and perhaps could be addressed in the documentation.

How does using s2i differ from using something like the fabric8 maven docker plugin?

It looks like both can produce the same result:  They both take source code and build a final docker container with that source. The fabric8 approach builds the artifact outside of a container (no builder container to speak

[2016-07-14 01:28] bparees commented on #520
@wstrange are you able to clean up your config.json to get around it?  @jupierce fixed it by removing this block from his config.json:
https://gist.github.com/jupierce/d0a063b2903056c2388412164280fb18#file-gistfile1-txt-L44

[2016-07-14 01:30] bparees commented on #520
i guess not based on your other issue

[2016-07-14 01:31] bparees commented on #539
can you paste/gist your config.json?  (stripping actual auth values of course)

[2016-07-14 01:36] bparees commented on #540
as far as i know the maven docker plugin is still ultimately writing a dockerfile and executing a docker build, which is not what s2i does, the advantages of the s2i approach (not doing a docker build) are enumerated in the readme here:
https://github.com/openshift/source-to-image/blob/master/README.md#goals

in particular see the sections on speed and security.

the maven plugin also presumes you

[2016-07-14 01:52] wstrange commented on #539
@bparees  It looks something like this:

'''
{
        "auths": {
                "https://appengine.gcr.io": {
                        "auth": xxxx=",
                        "email": "not@val.id"
                },
                "https://asia.gcr.io": {
                        "auth": "xxxxxx",
                        "email": "not@val.id"
                },
                "https://b.gcr.io":

[2016-07-14 02:02] wstrange commented on #539
Facepalm

I edited out the HttpHeaders entry, but left a trailing comma

It looks like removing the HttpHeaders entry solved this problem

I will close this issue since it looks like a dupe of #520

[2016-07-14 02:02] #539 closed

[2016-07-14 02:03] bparees commented on #539
thanks. i'm working on updating the fsouza dependency in hopes that a newer version handles this.

[2016-07-14 04:07] wstrange commented on #540
I'm still not connecting the dots...

What does "not doing a docker build" mean?

Doesn't s2i execute docker commands to build an image?

If I examine the nginx example using docker history, I don't think I see a difference in the image layers  vs, what I would get if I just built the container directly.

What would really help me (and perhaps others?) is to show the same image being built two dif

[2016-07-14 04:20] bparees commented on #540
Write a dockerfile that does:
FROM centos(or some tomcat image)
ADD mysource
RUN mvn package
RUN mv mywar /tomcat/deployments

You will get an image with 3 new layers on top of what centos had.
In addition, you can write more docker commands in that dockerfile like:
USER root
RUN some_superuser_command
RUN yum install
etc to perform privileged actions during your "build" process.

When you use s2i

[2016-07-14 04:36] #520 closed

[2016-07-14 14:11] wstrange commented on #540
Ahh , OK - so looking more carefully at the nginx example I can see one layer added to the base image.

Those first 2-3 paragraphs might be helpful in the README

[2016-07-15 16:04] arielcarrera commented on #314
Same problem.

[2016-07-15 16:59] bparees commented on #314
@arielcarrera this issue was closed as resolved, can you open a new issue w/ recreate steps and logs?

[2016-07-15 22:58] arielcarrera commented on #314
ok Ben!

[2016-07-15 23:14] arielcarrera opened #544 "Error E0715 on Windows 10 / docker for windows / s2i 1.1.0"
When you try to build an image, using s2i on Windows 10 and docker for windows, s2i can't remove a temporal folder after the image building.

Environment:
-windows 10
-docker for windows 1.12.0-rc4-beta19 (build: 5465)
-source-to-image-v1.1.0-9350cd1-windows-amd64.zip

Source: custom wildfly imagen (like s2i Wildfly image)

command line:
s2i build test/test-app/ s2i-wildfly-keycloak openshift-test

[2016-07-18 01:16] bparees commented on #544
@csrwng do you have a windows (windows 10 it seems) machine available to try to recreate this?

@arielcarrera do you know if this issue happens on other versions of windows?

[2016-07-18 14:01] php-coder opened #545 "Environment and EnvironmentSpec duplication"
I've found that S2I has two exactly the same structures for representing environment variable: [`Environment`](https://github.com/openshift/source-to-image/blob/9350cd1ef8afc9c91dcdc96e1d972cbcc6f36181/pkg/scripts/environment.go#L14-L18) and [`EnvironmentSpec`](https://github.com/openshift/source-to-image/blob/9350cd1ef8afc9c91dcdc96e1d972cbcc6f36181/pkg/api/types.go#L238-L242).

I think that we d

[2016-07-18 14:31] php-coder opened #546 "Using external repos in integration tests and examples"
S2I uses one personal repo in integration tests:

[code]

Also we're using personal repositories in a different examples:

[code]

Should we create a separate repo for all of them to reduce dependency on personal repositories? We can't be sure that all these repos are up-to-date with newest versions. Also from the user's perspective I trust more to non-personal repositories.

See also: https://git

[2016-07-18 14:42] bparees commented on #546
the pmorie repo should bre placed with this:
https://github.com/openshift/ruby-hello-world

we should do the same for all the other ruby examples in the doc. (will need to test, obviously).

for the JEE example, we can probably use one of the middleware quickstarts:
https://github.com/jboss-developer/jboss-eap-quickstarts/tree/7.1.x-develop/kitchensink

[2016-07-18 17:59] gabemontero commented on #533
fyi - i see this intermittently with the new k8s/engine-api docker client as well, for whatever that might be worth

[2016-07-18 21:09] bparees commented on #545
yeah i can't imagine why, let's collapse them.

[2016-07-18 21:24] arielcarrera commented on #544
Hi Ben, I don't know, I have tried only with Windows 10. Furthermore, The new "Docker for Windows" is only available for Windows 10.

[2016-07-18 21:59] csrwng commented on #544
Yup, I can reproduce locally as well. It's caused by this issue: https://github.com/golang/go/issues/9606
It looks like a fix will be included in go 1.7

In the meantime, we have 2 options:
1. Log the error as a warning since it doesn't affect the creation of a new image, it's only cleanup
2. Recursively remove read-only attribute from directories before we delete them on windows

@bparees prefere

[2016-07-18 22:02] bparees commented on #544
thanks @csrwng.  i prefer the second option, so we actually clean up.

[2016-07-19 22:16] bparees commented on #540
@wstrange here's the briefing i mentioned:
https://www.youtube.com/watch?v=flI6zx9wH6M

i'll add it in the readme.

[2016-07-19 22:19] #540 closed

[2016-07-19 22:38] wstrange commented on #540
Awesome - watching it now!

[2016-07-20 15:41] PI-Victor opened #549 "rebase script broken by latest changes"
@bparees as @php-coder found out, we are not adding the pkg/run package when we bump origin.
do we remove the package or the exception in the script?
exception:https://github.com/openshift/source-to-image/blob/master/hack/rebase-to-origin.sh#L29

and variable.
https://github.com/openshift/source-to-image/pull/543/files#diff-234f90ce9afdfa35fbed6beda2f55c53R14

currently this is broken, so we shoul

[2016-07-20 15:45] php-coder commented on #549
The dependency on `github.com/openshift/source-to-image/pkg/run` package was added in PR #543 I suggest to move this constant to somewhere else and leave rebasing script as-is.

[2016-07-20 17:35] bparees commented on #549
yeah, agreed, we can move the constant somewhere else.

[2016-07-20 20:29] #549 closed

[2016-07-25 05:22] LalatenduMohanty commented on #508
@bparees Sorry could not manage to send a PR. I spent some time for it but my understanding of s2i is still not up to mark.  Also when I tried `s2i build test/ nginx-centos7 nginx-app` it failed. Not sure of the cause. Need to look in to the error.  I will try to send the PR this week.

[2016-08-01 18:28] csrwng commented on #419
@afilimonov are you still able to reproduce this issue? I tried recently with both Docker beta for Mac and docker-machine on Mac and could not reproduce. (v1.12)

[2016-08-02 17:37] csrwng commented on #544
Fixed with https://github.com/openshift/source-to-image/pull/547

[2016-08-02 17:37] #544 closed

[2016-08-04 18:50] #298 closed

[2016-08-05 03:32] bparees opened #558 "reported log lines are wrong"
run:
s2i build https://github.com/openshift/nodejs-ex centos/nodejs-4-centos7  --loglevel=5

you will see in the output:
[code]

but the output is actually being logged by:
https://github.com/openshift/source-to-image/blob/master/pkg/build/strategies/sti/sti.go#L587

(the postexecutorstep isn't being invoked at all because this isn't an extended build).

bafflingly, if you comment out the postexec

[2016-08-05 03:33] bparees commented on #558
note that https://github.com/openshift/source-to-image/pull/557 will change this behavior slightly, but it will still not report the line number correctly.

[2016-08-05 03:33] bparees commented on #558
@php-coder fyi, though i don't think this relates to your extended build work. but just in case you have a thought.

[2016-08-05 09:02] php-coder commented on #558
@bparees If you remember, I was suggesting to add a prefixes to the messages that came from scripts. It won't fix wrong lines but at least helps to quickly understand that errors came not from S2I code but from the one of user-provided scripts.

[2016-08-05 13:37] bparees commented on #558
@php-coder yes but that's not my primary concern here, i'm worried about us trying to debug later and not understanding what code is actually executing (especially if this is not the only place where the misreporting is happening).

if we report the correct line numbers, it's easy to go to that line number and understand the output is coming from the container/script in the container.  if we repor

[2016-08-07 02:04] GrahamDumpleton opened #559 "s2i 1.1+ (?) not working with Docker images built with Docker 1.11."
Looks like your calculations to work out whether need to override an Entrypoint in S2I builder image, and then run it, mucks up somehow with builder images built with recent Docker version.

Loglevel 8 output right at end.

[code]

[2016-08-07 03:00] GrahamDumpleton commented on #559
Problem is more likely that assume that ``/bin/env`` exists, which may be true for CentOS, but not Debian. On both CentOS and Debian ``/usr/bin/env`` exists though.

[2016-08-07 03:08] GrahamDumpleton commented on #475
Using ``/bin/env`` on this was wrong choice. Should have been ``/usr/bin/env``. There is no ``/bin/env`` on Debian systems. Generally ``/usr/bin/env`` exists everywhere though. See #559

[2016-08-07 03:40] bparees commented on #475
As far as I'm concerned between this and the original reversion,  this is evidence this feature is a mistake.  Overriding entrypoints is always going to be risky.

[2016-08-07 03:55] GrahamDumpleton commented on #475
We should remove the ``oc rsync`` feature as well then, after all it will not work if the image doesn't contain either ``rsync`` or the correct ``tar``.

This change only affects the very specific use case of where the entry point is overridden. The rule simply becomes that if you do that, then your image needs to have ``/usr/bin/env``. It is already probably going to be a rare corner case and in

[2016-08-07 15:25] bparees commented on #475
/bin/env is the correct path on busybox and /usr/bin/env doesn't exist there (doesn't even have a /usr/bin folder), so this is still going to be broken for a set of people.

and your comparison to rsync is flawed.  oc rsync being broken by edge case logic with unforeseen consequences does not completely break the product for a user.

[2016-08-07 22:16] GrahamDumpleton commented on #475
Is it a rule that ``assemble`` should ignore any arguments given it?

The only other option would be to actually set the ``Entrypoint`` as the ``assemble`` script and set the ``CMD`` as empty string, with additional ``CMD`` options removed.

So long as ``assemble`` always ignores arguments that should be fine.

If concerned that may in the future want to allow command line arguments to be passed t

[2016-08-08 04:12] bparees commented on #475
There is no current definition of what an assemble script should do with args, since we don't submit any args to an assemble script today.  Setting the entrypoint directly to the assemble script might work, I'm not sure why we didn't do that originally, it may have had to do with logic we were using to handle scl enablement, but that doesn't appear to be the case anymore.

i'd like to better under

[2016-08-08 07:16] mfojtik commented on #475
Isn't `assemble` taking the standard input for streaming sources? Also I think we are wrapping the script itself to deal with injected files (wait for upload/remove after).

I think it would be better practice to use the environment variables to parametrize the assemble script than use the command args (at least it is more auditable in OpenShift web console ;-).

[2016-08-08 08:41] GrahamDumpleton commented on #475
@mfojtik we are not suggesting using command args to do anything. We only talking about whether it would be guaranteed that ``assemble`` would never take any arguments. Knowing it would always ignore arguments gets around the ``env`` problem in that ``assemble`` can be set as the entry point. In doing this though, it will always get at least one argument as the ``CMD`` will get passed as argument

[2016-08-08 13:43] #559 closed

[2016-08-09 10:49] jhadvig opened #564 "s2i scripts with `*.sh` suffix are not recognized"
When having a custom s2i script in my application repo, that has `.sh` suffix it wont be recognized.

The thing is that decent percentage of the users(me including) will create the scripts with the `.sh` suffix automatically since they will see that its a bash script.

[2016-08-09 11:21] mfojtik commented on #564
sounds useful for me, especially for windows users ;-)

[2016-08-09 11:31] jhadvig commented on #564
Was said by a Mac user :monkey:

[2016-08-09 11:31] mfojtik commented on #564
@jhadvig mac is bsd ;-)

[2016-08-09 12:04] php-coder commented on #564
BTW, when you're using `ONBUILD` directive, you should provide a script that will be used as an entrypoint and in this case [S2I supports `.sh` suffix](https://github.com/openshift/source-to-image/blob/9227a4f113f838bff0db24150cd85b134aa29fdc/pkg/build/strategies/onbuild/entrypoint.go#L14-L19) for it.

[2016-08-09 12:20] bparees commented on #564
We doc the filename to use, I don't want to create a list of possible filenames. And if you provided both, which one would you expect us to run?  And it doesn't have to be a bash script, any executable file is acceptable.

[2016-08-09 12:20] #564 closed

[2016-08-10 10:48] Mangirdaz commented on #412
For now forcepull (in OSEv3.2) does not work with incremental build. From code and description i assume this will enable these two to work together?

[2016-08-10 12:52] bparees commented on #412
What do you mean incremental does not work with forcepull today?

this feature simply enables you to set a cluster wide default such that all builds will, by default, use incremental builds.

[2016-08-10 12:58] Mangirdaz commented on #412
Still debugging on this, but one of the clients started complaining that incremental builds stopped working when they added this to the template.

if incremental is set build maven builds copy paste .m2 data into new container. And if they added forcepull: true it apparently stopped doing incremental ones.

But still need to confirm this one before raising new ticket...

[2016-08-10 13:05] bparees commented on #412
ok, keep us posted, but it *should* work.

[2016-08-10 13:16] Mangirdaz commented on #412
Will do. I suspect that previous build was failed so it defaulted to build from scratch, despite the fact we had one n-2 build running. But at this point its my assumption before debugging.

[2016-08-11 14:13] jupierce commented on #558
@bparees This is a side effect of our glog wrapper. glog is an object when you use the wrapper and a package when you are not.
So when we are using the wrapper, glog.Info in
```dockerpkg.StreamContainerIO(errReader, nil, glog.Info)```
actually requires the creation of a closure. Go does this invisibly for us, but the result is apparently then shared by anyone needing an identical closure. The firs

[2016-08-11 15:30] #558 closed

[2016-08-15 13:27] jupierce commented on #558
Confirmed with gloang issue that the optimization is to prevent binary code bloat.

[2016-08-15 13:40] bparees commented on #558
@jupierce do they consider this a bug or acceptable behavior?  I suppose the scenarios in which it impacts people are pretty rare, but i bet it confuses debuggers too.

[2016-08-15 17:44] jupierce commented on #558
They consider it an acceptable tradeoff : not ideal, but not something that cannot be addressed efficiently right now.

[2016-08-15 18:14] bparees commented on #558
fair enough.  great find, regardless.

[2016-08-16 15:24] php-coder opened #573 "Pre and post hooks for assemble/run/etc scripts"
@thoraxe @GrahamDumpleton @thesteve0 @bparees,

To improve user experience, when users are trying to add only a pre/post actions to standard `assemble` and `run` scripts, I'm collecting use-cases of that. I would like to ask you to share real use-cases or your thoughts whether this feature would be useful or it wouldn't.

Thank you!

Related links:
- https://github.com/openshift/source-to-image/is

[2016-08-16 15:41] php-coder commented on #573
The first use-case that @thoraxe describes in his [blog post](http://www.erikjacobs.com/2016/07/21/node-js-gulp-and-openshift-3-custom-assemble-script-ftw/), is to do a post-processing of the templates with gulp inject. As far I understand, it even could cover all the actions with gulp, because our assemble script knows nothing about gulp and build-in assemble can be used only for installing gulp.

[2016-08-16 19:13] thoraxe commented on #573
I kinda miss the old V2 hooks system.

It would be nice if we had the option to have .sti/bin/assemble-{pre,post} if you want to use the existing script and then just run things before/after. But being that you can simply reference the script itself (https://trello.com/c/WpdJNDz7/524-5-as-a-sti-user-i-d-like-to-extend-the-default-scripts-evg#comment-564482fecb0867efa9ac6129) which I did not realiz

[2016-08-16 20:39] bparees commented on #573
@thoraxe introduce pre-assemble/post-assemble is part of what we're discussing which is why we want use cases to understand if introducing those actually solves enough of the problem to be useful (as opposed to use cases where you need to modify something in the middle of the assemble script execution).

and then the other debate is, as you've noted/implied, whether it's worth introducing those mi

[2016-08-16 21:40] #545 closed

[2016-08-17 00:38] GrahamDumpleton commented on #573
The action hook types you need and why as are as follows.

In the ``assemble`` phase you need:

* ``pre_build`` - Executed prior to building application artefacts. This is needed to handle the case where a user needs to install a library or other package from source code which is not part of system build but is required to install application dependencies which are built/installed automatically, s

[2016-08-18 09:29] jorgemoralespou commented on #573
@GrahamDumpleton I agree with your explanation and I think this cover most of the cases.
Also I think that extended builds (or if something in the future replaces this) could/should split the build/assemble and the run phases, so making this more clear whenever crafting the scripts would greatly help.

[2016-08-24 16:01] php-coder commented on #573
@GrahamDumpleton Thank you for sharing with us such comprehensive explanation!

1) `pre_build` sounds logical and natural but because S2I script for building is called `assemble` then I would rather call the pre hook as `pre_assemble`

2) if to build an application user needs to **install a library to the system directories** then clean and right way will be to create a custom builder that will ha

[2016-08-24 16:58] bparees commented on #573
Trying to do that in a hook script is also likely to run into permission problems since the scripts will not be run as root, so that's another good reason to customize the image instead.

[2016-08-24 23:21] GrahamDumpleton commented on #573
The naming of the hook scripts using 'build' and 'deploy' is based on OpenShift 2 because it had a good naming convention and many users will be used to that. It only confuses people by completely ignoring the past and creating a completely different way of doing things.

I am not talking just about installing additional packages into system directories. Not everyone wants to go off and create a n

[2016-08-24 23:57] bparees commented on #573
When technology changes, names sometimes need to change to.  We don't call things "gears" and "cartridges" anymore either.  "run" most closely maps to what you are doing with the image because it corresponds to what happens when you "docker run" the image.  And we're not going to go back and rename s2i's assemble step to "build" so as @php-coder says, pre_assemble makes more sense for a set of use

[2016-08-25 00:13] GrahamDumpleton commented on #573
The ENV, BASH_ENV or PROMPT_COMMAND does not work to always enable SCL packages. It will only work if you are running a shell script which then does what you need. It will not do what is required for something like:

[code]

It will pick up the system Python and not the SCL Python.

The use of a helper script and saying to users that they should always use it when executing stuff in the container

[2016-08-25 18:03] thoraxe commented on #573
I'm not sure how you can complain about picking up system Python versus SCL Python when that is the behavior whether or not you are in a Docker container or even doing anything with OpenShift.

"oc exec" will execute a command in the remote container. It's just wrapping "docker exec". If you "docker run registry..../python -it bash" and then do "python foo", you're going to get the system python.

[2016-08-29 14:34] php-coder commented on #573
To sum up: right now we didn't decide anything except to put this off for the future.

[2016-08-29 14:34] #573 closed

[2016-08-29 14:43] bparees commented on #573
@php-coder I think we decided/established more than that:

We established that the only realistic thing we can do here is pre/post hooks and that the target users (in this case our evangelists) felt that those did not provide sufficient benefit over the existing ability to replace the entire script and/or write a new script that invokes the existing script, to justify investing in building the fea

[2016-08-29 23:31] GrahamDumpleton commented on #573
As this discussion is being pushed out to others who may not be aware of the bigger picture beyond this issue, I will fill in that bigger picture as to where I am coming from and why I see this issue as not meeting the requirements I at least have.

When you look at languages such as node.js and npm, or Java and tools like Maven, they have quite developed eco systems for handling the build and dep

[2016-08-30 01:23] bparees commented on #573
@GrahamDumpleton thanks, the distinction of "this functionality needs to be provided in a python specific way" vs "this problem should be solved in a generic way that works for all s2i builders" is a valuable one and definitely a key point that I was not picking up on until your most recent explanation.

I am definitely not averse to making the s2i-python builder image's assemble logic more sophis

[2016-08-30 09:59] miminar opened #579 "Not compilable with go 1.4"
Master branch seems to be used in fork_ami jobs which may run with go1.4 image. Using this image, the compilation fails:

[code]

See the failing job at https://ci.openshift.redhat.com/jenkins/job/fork_ami/288/consoleFull.

Either the jenkins script need to use some older version having dependencies in `Godeps` directory or the vendor directory needs to contain `src -> .` symlink.

In case of the

[2016-08-30 13:08] bparees commented on #579
does the fork ami job even need to be building s2i?  what does it need it for?

[2016-08-30 13:56] miminar commented on #579
I'm not sure, it doesn't seem to be needed by build script at https://ci.openshift.redhat.com/jenkins/job/fork_ami/configure .

[2016-08-30 14:15] bparees commented on #579
@miminar ok i've commented out the s2i related bits of that job, if we need an s2i fork ami we can just build the s2i binary manually and give it to QE, we really don't need an AMI process for it.

let me know if your AMI build is successful/functional now and if so we can close this.

[2016-08-30 14:35] miminar commented on #579
@bparees thanks! I got it working using `S2I_FORK_ID=miminar`, `S2I_BRANCH=enterprise-3.2`
and `S2I_REPO=source-to-image` with the `  vagrant build-sti --binary-only` in place. But let me try without it next time.

[2016-08-31 07:21] miminar commented on #579
@bparees The build succeeded. Thanks! Closing now.

[2016-08-31 07:21] #579 closed

[2016-09-07 15:34] bparees commented on #535
haven't seen this in a while.

[2016-09-07 15:34] #535 closed

[2016-09-16 08:17] goldmann opened #587 "Build is failing when SELinux flags are specified for the volume"
See the build below. It should be possible to pass the SELinux flags: http://www.projectatomic.io/blog/2015/06/using-volumes-with-docker-can-cause-problems-with-selinux/

[code]

[2016-09-22 15:33] majgis opened #588 "Option for production image"
I was surprised to find the the builder image is committed for use in production.
My expectation was that the builder image would produce the build artifacts which would then be copied into a separate production image, along with the run script.

What are your thoughts on providing an additional option for specifying a separate image for production, in which case the builder image is used exclusiv

[2016-09-22 15:35] bparees commented on #588
that's extended builds: https://github.com/openshift/source-to-image/blob/master/docs/runtime_image.md

[2016-09-22 15:35] #588 closed

[2016-09-22 15:36] bparees commented on #588
@php-coder fyi

[2016-09-22 15:43] php-coder commented on #587
I'm curious is it valid syntax (`--volume="/tmp/ctf-volumes/jboss-eap-6-eap64-openshift:/home/jboss/.m2/repository:z"`)? Did it work before? Or it's supposed that we'll add support for passing SELinux flags?

[2016-09-22 15:48] goldmann commented on #587
Yes, I'm basically asking to add support for SELinux flags ;)

[2016-09-23 08:43] Silvanoc opened #589 "oci runtime error: exec: "/bin/env": stat /bin/env: no such file or directory"
source-to-image version: **1.1.1**
host distribution: Debian
distribution base image: **Debian**

# Error

I'm trying to build a Maven application directly with the Docker image "maven:latest" and I'm getting following error message:
`An error occurred: API error (404): {"message":"oci runtime error: exec: \"/bin/env\": stat /bin/env: no such file or directory"}
`

# Diagnosis

If I use another im

[2016-09-23 08:52] php-coder commented on #589
It should be fixed in the next release (see https://github.com/openshift/source-to-image/pull/560).

[2016-09-23 08:52] bparees commented on #589
this has been fixed already: https://github.com/openshift/source-to-image/pull/560

we also fixed it to override only in special cases where it was necessary:
https://github.com/openshift/source-to-image/pull/575

just haven't done a new release yet.  i'll try to put one together today.

[2016-09-23 08:52] #589 closed

[2016-09-23 08:55] Silvanoc commented on #589
Thank you for the quick replies!

[2016-09-28 19:41] luiscoms opened #597 "s2i v1.1.2 fail connect on MacOS"
When I build an image on MacOS I get the following error:

[code]

[2016-09-28 20:45] bparees commented on #597
is docker running at 192.168.99.100:2376 ?

[2016-09-28 20:49] csrwng commented on #597
This is a bug with the Docker engine client. If no DOCKER_HOST is configured on the Mac, it defaults to {host}:2376 instead of /var/run/docker.socket. We need a workaround like the one I have for cluster up:
https://github.com/openshift/origin/blob/master/pkg/bootstrap/docker/up.go#L419-L426

[2016-09-29 19:09] gfvirga opened #599 "Run - Startup script question"
Does anyone know how the openshift/base-centos7 image call the /usr/local/sti/run in the container startup?
I am building our internal custom image to have apache, php55 and shibd...
We am trying to start shibboleth (shibd) using the user (shibd) not the default, because we don't want the openshift developers to have read access to the shibboleth ssl .crt and keys.

[2016-09-29 19:12] bparees commented on #599
the base image doesn't call anything.  the base image just provides some common tools/packages that many of our s2i images use.

as for how the run script from the s2i image itself gets invoked, when you "s2i build" a new application image, the resulting image has the run script set as the container command.  It will run as whatever use the image defaults to.  (or a different user if you run "dock

[2016-09-29 19:52] gfvirga commented on #599
Thanks for your quick response.

I was able to start a container with httpd running as the default user and then manually running `docker exec -u shibd -it <container id> shibd` and then start shibboleth as shibd.
`[root@baleia ~]# docker exec -it romantic_hawking ps -ef
UID        PID  PPID  C STIME TTY          TIME CMD
default      1     0  0 19:49 ?        00:00:00 httpd -D FOREGROUND
default

[2016-09-30 03:53] csrwng commented on #419
Closing this due to age, but please reopen if issue persists. I cannot reproduce locally.

[2016-09-30 03:53] #419 closed

[2016-09-30 12:39] bparees commented on #599
if you want the image to run as shibd, then author the image to have a "USER shidb" line at the end of the dockerfile.

and author your s2i run script to run whatever you want the image to start when the image starts.

however if you intend to run the image on openshift, you should not rely on your processes running a a particular user.  Containers on openshift are assigned a random uid and your i

[2016-09-30 12:53] gfvirga commented on #599
Ben, thank you so much for this info.
We will hopefully find a solution for this.

[2016-09-30 12:53] #599 closed

[2016-10-04 00:06] luiscoms commented on #508
@LalatenduMohanty you can use the image that I create for nginx [here](https://hub.docker.com/r/luiscoms/s2i-nginx/)

[2016-10-05 07:12] rjstone opened #603 "s2i v1.1.2 reports malformed HTTP response (Docker Toolbox in Windows 10)"
On Windows 10 running Docker Toolbox. (uses virtualbox, no Hyper-V available)

[code]

It's correctly picking up the docker vm from the env as --url="tcp://192.168.99.100:2376"

docker command works just fine and uses this ip:port

**Versions:**  s2i v1.1.2 docker client: 1.12.0 docker server: 1.12.1 API version: 1.24

**Everything works fine if I use s2i v1.1.1** so it seems to be a problem with

[2016-10-05 15:28] bparees commented on #603
looks like something is attempting an http request against an https endpoint.

[2016-10-05 16:24] rjstone commented on #603
I tried variations on the url tcp://192.168.99.100:2376 such as https://192.168.99.100:2376 but it didn't make any difference.

--loglevel=5 revealed it was reading the credential files. Here's the full output:

[code]

[2016-10-05 16:45] jim-minter commented on #603
Hi @rjstone AFAICS s2i is expecting the DOCKER_CERT_PATH environment variable to point towards a local directory holding files ca.pem, cert.pem and key.pem.  I think these should be laid down somewhere for you by Docker Toolbox.  If this is done, s2i should then connect using TLS.

(We changed s2i to use the official docker API client between v1.1.1 and v1.1.2, which is why this behaviour has chan

[2016-10-05 18:22] rjstone commented on #603
@jim-minter That's all set. This is the same shell environment where I've been using docker, docker-machine, etc, for quite a while with no problem. Output:

[code]
v1.1.2:
[code]
v1.1.1:
[code]
Files:
[code]

[2016-10-05 18:26] gabemontero commented on #603
Yep s2i within origin needs the env var (and k8s ensures they are set), but
s2i the standalone program can also leverage the args noted.

On Wed, Oct 5, 2016 at 2:22 PM, Robert Stone <notifications@github.com>
wrote:

[2016-10-05 21:24] jim-minter commented on #603
@rjstone You're completely right. I believe I can also reproduce what you've reported on Fedora (with a pile of certs and an ncat server for now).

[code]

Evidently v1.1.2 (5732fdd) is broken.  However in fact the very next merge commit c107c6b5f9528e15076ade75fa384788aea178a9 and HEAD look more healthy (at least, I can see they're sending a TLS handshake rather than raw HTTP).

@bparees @gabemon

[2016-10-05 22:55] rjstone commented on #603
I was going to try to see if HEAD worked but ran into build problems. What is the recommended build environment for this in Windows? When I try to use mingw32-make the `ln` utility it comes with dies on a long pathname. (Sad but after all these years things in Windows are still breaking due to "640K ought to be enough for anyone" type stuff.)

[2016-10-06 01:52] bparees commented on #603
@jim-minter you can ignore all the godep changes I think, the relevant commit is this one from that PR: https://github.com/openshift/source-to-image/pull/596/commits/7032fa4c49737d366f8640f96104639fd9ef0385

i'm not really sure why that would matter either, but certainly changing how we inspect images could have impacted this flow, since the old code (that used the kube apis) was doing a lot more.

[2016-10-06 01:54] bparees commented on #603
@rjstone we build the windows release from linux using cross compiling(hack/build-release.sh), not sure the last time someone attempted to do a build directly on windows.

[2016-10-06 07:10] jim-minter commented on #603
OK, I don't think HEAD actually works either.  The issue is in the way that we initialise the k8s docker client.  #596 changes the error behaviour because it uses the docker engine client for the very first API call (which appears to work in this configuration), but subsequent calls then fail because they use the k8s client.

https://github.com/jim-minter/source-to-image/commit/4c250cca9752a956b40

[2016-10-06 07:11] jim-minter commented on #603
And I think there's a further issue that needs to be looked at around support of DOCKER_HOST=tcp:// rather than DOCKER_HOST=https:// ...

[2016-10-06 17:16] rjstone commented on #603
FYI just in case it's useful:

There are two possible docker environments in windows. "Docker Toolbox" uses virtualbox to set up a VM running boot2docker and this is what anyone who doesn't have Hyper-V support (lacking Win10 pro/enterprise/server) has to use. It appears to be based on "Docker for Mac". This comes with a "Docker Quickstart Terminal" application that sets all the environment variab

[2016-10-07 06:01] jasinner opened #604 "Using a Docker TCP Socket with TLS fails"
After upgrading from 1.0.9 to 1.1.2 s2i stopped working with Docker TCP Socket with TLS. I got it working on 1.0.9 by following the instructions here:  https://jasonshepherd.net/2016/09/21/using-openshift-container-platform-s2i-with-a-tcp-docker-daemon/

However after upgrading, the introduction of k8 dockertools library prevents it working again.

[2016-10-07 12:29] PI-Victor commented on #114
update: there's a story card for this for a while so this will get fixed by whoever gets the card https://trello.com/c/oDj441HE/571-2-make-run-script-for-s2i-optional

[2016-10-07 13:20] soltysh commented on #114
If there's a card already I'd propose closing this in favor of that card, @bparees agreed?

[2016-10-07 13:49] gabemontero commented on #114
That is the process we use - @bparees is on PTO - I'll hit the close button.

[2016-10-07 13:49] #114 closed

[2016-10-09 23:44] bparees commented on #597
Seems like a dupe of https://github.com/openshift/source-to-image/issues/603

@jim-minter fyi.

[2016-10-09 23:44] #597 closed

[2016-10-09 23:45] bparees commented on #604
I suspect this is a dupe of https://github.com/openshift/source-to-image/issues/603, can you tell us more about your environment?

[2016-10-09 23:48] bparees commented on #603
lumping all the reported issues in the space together:
https://github.com/openshift/source-to-image/issues/597
https://github.com/openshift/source-to-image/issues/604

guessing they all have a common/related root cause related to the changes to use the k8s apis for talking to docker, as @jim-minter has drilled into so far.

[2016-10-10 00:54] jasinner commented on #604
Jasons-MacBook-Pro-3:jboss-dependency-viewer jasonshepherd$ s2i version
s2i v1.1.2
Jasons-MacBook-Pro-3:jboss-dependency-viewer jasonshepherd$ env | grep DOCKER
DOCKER_HOST=tcp://192.168.0.1:2376
DOCKER_TLS_VERIFY=1
DOCKER_CERT_PATH=/Users/jasonshepherd/.docker/
Jasons-MacBook-Pro-3:jboss-dependency-viewer jasonshepherd$ s2i build --loglevel=5 . jboss-eap-7/eap70-openshift jboss-dependecy-viewer
I

[2016-10-10 01:00] jasinner commented on #604
Same thing also occurs on Fedora 24 with the same configuration.

[2016-10-10 13:48] mikz opened #606 "1.1.2 does not work with git submodules"
# Steps to reproduce

s2i version 1.1.2
git version 2.10.0

* git clone https://github.com/3scale/s2i-openresty
* make test

## Result

## Expected result

successful build

## More info

`test/test-app/.git` is a file with following contents:

It is standard git submodule.
Version 1.1.1 was working just fine.
git version 2.10.0

## Workaround

[code]

[2016-10-10 15:45] jim-minter opened #608 "CI broken linting on Go 1.5"
Travis builds failing because of https://github.com/golang/lint/issues/246

[code]

[2016-10-10 16:46] bparees commented on #608
i think we can dump go1.5 from our travis testing.

[2016-10-11 14:52] #608 closed

[2016-10-14 12:36] jr00n opened #611 "s2i without git support"
Hi, would like to work with s2i without git support so that my current directory is the state s2i should use.

[2016-10-14 13:22] jim-minter commented on #606
Taking a look. @mikz, btw your Dockerfile at https://github.com/3scale/s2i-openresty is broken. It requires the EPEL repo to be added to it.

[2016-10-14 13:24] mikz commented on #606
@jim-minter thanks. Figured that out yesterday (https://github.com/openresty/openresty-packaging/issues/8), but haven't merged it to master yet. Fill fix it ASAP.

[2016-10-14 13:53] bparees commented on #611
@jr00n that's the "--copy" flag on s2i.

[code]

[2016-10-14 13:53] #611 closed

[2016-10-14 14:02] rhcarvalho opened #613 "Fix usage of MustCompile"
While reviewing some code I've noticed we call `regexp.MustCompile` in places where we should not panic.

[code]

As explained in https://talks.golang.org/2014/readability.slide#9, `regexp.MustCompile` should be used only in initialization (package var or init()).

Usages like in `pkg/build/strategies/layered/layered.go` and `pkg/build/strategies/sti/sti.go` may cause unhandled panics.

[2016-10-14 14:16] jim-minter commented on #606
I think this regression is probably caused by #552.

[2016-10-14 17:16] bparees commented on #533
haven't seen this lately.

[2016-10-14 17:25] bparees commented on #344
this will either happen as a natural part of someone's refactor, or not happen at all.

[2016-10-14 17:25] #344 closed

[2016-10-14 17:26] bparees commented on #338
@jim-minter related to the questions you were asking me about testing the docker socket changes you've made.

[2016-10-14 17:33] bparees commented on #156
@jim-minter we've moved to using a glog wrapper in s2i which should make this possible now (if it hasn't already fixed this problem)

[2016-10-14 18:05] jim-minter commented on #338
Wow, a wine docker image is pretty far out. I'll be happy to have a crack at this!

[2016-10-14 18:28] bparees commented on #338
@jim-minter honestly for starters we might want to just pursue running tests in a windows VM launched on ec2 or something, as part of our s2i CI job.

[2016-10-14 18:59] legionus opened #614 "Use common parser for DockerImageReference"
Recently `origin` and S2I use their own implementations of `ParseDockerImageReference`. Right now S2I started to use `github.com/docker/distribution/reference` as parser and `origin` started use parser based on same module. I think it would be better to use the same parser for `DockerImageReference` to avoid differences in behavior in the future.

I made a [module](https://github.com/openshift/ori

[2016-10-17 16:42] #606 closed

[2016-10-17 17:05] jim-minter commented on #156
@bparees

Is the general intention here:
relevant container output (stdout, stderr) typically goes to s2i stdout
arbitrary s2i logging goes to s2i stderr
?

Are logging prefixes wanted or not wanted on the container output bit?

[2016-10-17 17:24] bparees commented on #156
@jim-minter
logging prefix on container output behavior should stay the same.  I believe the current behavior is you don't get logging prefixes on it unless you specify over a certain loglevel (because if you specify a high enough loglevel, we punt all logging to glog).

as for the general intention, in an ideal world:
s2i info/debug goes to stdout
s2i warn/error goes to stderr
container stdout go

[2016-10-18 14:10] #614 closed

[2016-10-20 09:21] PI-Victor commented on #508
closing this, see my comment here: https://github.com/openshift/source-to-image/pull/602#issuecomment-255054223

[2016-10-20 09:21] #508 closed

[2016-10-20 20:45] jim-minter commented on #604
Hi @jasinner a patch that should fix this is now merged, if you can test against HEAD I'd be interested to know if it resolves your issue.

[2016-10-20 20:45] jim-minter commented on #603
Hi @rjstone a patch that should fix this is now merged, if you can test against HEAD I'd be interested to know if it resolves your issue.

[2016-10-21 14:42] jperville opened #620 "custom s2i scripts loses its executable permission when image built on MS-Windows"
# Summary

When building image with s2i on MS-Windows host
And when the code features a custom `.s2i/bin/run` script.
Then that script is injected in the image without executable permission

As a consequence, the image produced by `s2i build` is unbootable.
# Context
- trying to run `s2i build` on MS Windows host with the latest "docker toolbox" (version 1.12.2)
- using s2i version 1.1.1 (as long

[2016-10-21 15:06] bparees commented on #620
@jim-minter seems related to the other windows work you're already doing.

[2016-10-25 04:28] GrahamDumpleton opened #621 "s2i should not include the .s2iignore in the final image."
The `.s2iignore` file can be used to indicate files that should not be copied from the source directory into the image when it is being created. In doing this, `s2i` should remove the `.s2iignore` file as well after it is done.

Original source directory contained:

[code]

with the `.s2iignore` file containing:

[code]

When `s2i build` was run, relevant lines in the log file were:

[code]

So th

[2016-10-27 03:06] bparees commented on #301
closing based on age, lack of info, and that we've reworked this code numerous times since this issue was reported.

[2016-10-27 10:26] accursoft commented on #301
@bparees  I'm running into a variation of this, so requesting to re-open.

1. Clone https://github.com/accursoft/Haskell-Cloud
2. Run `test` (this will take a long time for the first run while it builds the image)

There is a pause of two minutes between incremental builds, caused by `docker.holdHijackedConnection` hanging in `d.redirectResponseToOutputStream` until `RunContainer` times out with `

[2016-10-27 11:41] accursoft commented on #301
PS Shouldn't there be some kind of warning logged if `RunContainer` exits with a time out?

[2016-10-27 12:48] rhcarvalho commented on #301
@accursoft hi, what version of s2i are you running?

[code]

[2016-10-27 12:58] accursoft commented on #301
`s2i v1.1.2-38-gddb10f1`

[2016-10-27 13:16] rhcarvalho commented on #301
I'm trying to reproduce with:

[code]

[2016-10-27 13:36] rhcarvalho commented on #301
Looking like it's gonna take forever, but still running `ghc` :smile:

[2016-10-27 13:58] bparees commented on #301
fyi i just did a new release last night.  which i guess @rhcarvalho already picked up :)

[2016-10-27 14:03] rhcarvalho commented on #301
@bparees yes I did, I'm testing with the latest release.

[2016-10-27 14:59] rhcarvalho commented on #301
@accursoft does this resemble what you're observing?

[code]

[2016-10-27 15:42] rhcarvalho commented on #301
Running with `bash -x` I see the curl call is not part of the build:

[code]

So that looks like an error in the image, @accursoft can you confirm / provide another way to reproduce the `s2i build` problem? Thanks!

[2016-10-27 16:48] accursoft commented on #301
Increasing the value of `sleep` may help on slow systems. Either way, the problem should be manifest in a 2 minute pause between the first two tests, so you could just `if false` out all the others and skip to the clean up at the end.

`test` sets `--loglevel=1`; if you change this to 2 you should see the pause immediately after unpacking the tar stream from `save-artifacts`.

My docker is `Docker

[2016-10-27 19:37] rhcarvalho commented on #301
@accursoft would you mind making the proposed edits in your code and sending it over?
It's a holiday tomorrow, so I may only look again into this next week. Thanks.

[2016-10-27 21:14] rhcarvalho commented on #301
@accursoft I was able to reproduce what you've described, no need to send over code changes.

Changes I've made:

[code]

Here's what I see:

[code]

The pause by itself doesn't necessarily mean there's something wrong, might just be the log messages fooling us. But yes, looks suspicious and deserves investigation.

------

Here's a goroutine dump taken during the pause for (my) reference later:

[2016-10-27 21:19] rhcarvalho commented on #301
And to increase the confidence that there is a bug:

[code]

I'll be happy to fix this issue :smile:

[2016-10-28 13:54] jim-minter commented on #338
@bparees ok, I now have a windows build that passes unit and integration tests, and I have a VM image that I can build automatically and run all this on (although it needs access to a docker daemon running somewhere else) (https://github.com/jim-minter/packer-windows/tree/local). What are the next steps to get this integrated into our CI system?

[2016-10-28 14:10] bparees commented on #338
@jim-minter somewhat depends on the steps required, but you can start by looking at this: https://github.com/openshift/vagrant-openshift/blob/master/lib/vagrant-openshift/action/run_sti_tests.rb

those commands are invoked on the ec2 instance that we launch from our jenkins master.

We probably need to talk through the exact steps you need to be able to do to launch the VM.

[2016-10-28 14:10] jim-minter commented on #621
@GrahamDumpleton, I'm not sure I agree.  The flip side to this is: the .s2iignore file was checked in to the git repository, so it should therefore be placed in the container.  If you really don't want the .s2iignore file there, you can append the text ".s2iignore"  to the .s2iignore file, or you could use the --exclude option to s2i instead.

[2016-10-28 19:26] GrahamDumpleton commented on #621
The ``.s2i`` directory is also part of the git repository but the way ``s2i` deals with it it doesn't end up in the set of source files the builder is presented with in the ``/tmp/src/ directory. Thus there is already precedent for not passing through files which relate to the S2I build process.

I can't see any good reason for the ``.s2iignore`` file to be preserved as it relates to the S2I proce

[2016-10-31 12:48] jim-minter commented on #621
I'm still not convinced.  I don't see that an .s2i directory is treated specially today - if it exists in the git repo, it is copied up to the container just like any other directory.  Also, the .s2iignore functionality mirrors the Docker .dockerignore functionality and behaves in the same way today.  There may be value in keeping it that way.

[2016-10-31 22:49] GrahamDumpleton commented on #621
It is not correct that the ``.s2i`` directory is not treated in a special way. The ``.s2i/bin`` directory is never copied across into the image.

Anyway, forget it. Just realised that the whole way S2I works is a bigger security risk than I thought for certain class of S2I builders. Am going to have to incorporate additional security measures in the S2I builder to get around how ``s2i`` itself wor

[2016-10-31 22:49] #621 closed

[2016-10-31 23:10] php-coder commented on #621
Maybe we can document this behavior explicitly? Because, it wasn't obvious to me too.

[2016-10-31 23:20] GrahamDumpleton commented on #621
You also then need to document that ``.s2iignore`` file cannot be used to exclude the ``.s2i`` directory itself as that will stop the ``.s2i/environment`` file from working. Not even checked whether it breaks ``.s2i/bin``.

Now the ``.s2i/bin`` directory is excluded from the final files that could end up in the ``src`` directory for some S2I builders. The ``.s2i/environment`` file cannot be exclud

[2016-10-31 23:21] GrahamDumpleton commented on #621
BTW, when will support for ``.s2iignore`` even make it into OpenShift. Doesn't appear to be in Origin 1.3.

[2016-11-01 03:00] bparees commented on #621
I suppose that is because .s2i/environment is not considered part of the build inputs if you told us to .s2iignore it.  Does seem the docs could be clearer on that point.  As you suspect, I'm sure it causes s2i to ignore any run/assemble scripts in your repo as well.

I think we're in a tough spot on this.  We say we'll put the contents of your repo into the assembly container.  Special casing "ev

[2016-11-01 03:08] GrahamDumpleton commented on #621
So in effect I can never use ``.s2iignore`` feature and need to implement my own filter file as part of the S2I builder if that sort of functionality is important.

[2016-11-01 03:17] bparees commented on #621
if you intend to port the repo back and forth between standalone s2i environments and openshift environments, that's correct.  Again, the real answer here is that s2i shouldn't have taken on this responsibility in the first place, but now that it did the best we can do is deprecate it for a while before removing it.

yes, should probably be noted in the openshift documentation about these sort of

[2016-11-01 17:35] php-coder opened #629 "Payload field that is sending to the remote server is always empty"
[Callback URL documentation](https://github.com/openshift/source-to-image/blob/master/docs/cli.md#callback-url) says that `payload` field contains "a string containing all build messages". During during fixing #522 I found that this field is always empty:
[code]

[2016-11-01 18:08] php-coder commented on #629
@bparees Do you know how we can collect all build messages? We're logging them via `glog` and they're printed to the stdout/stderr. Show we create another one special logger? Or how it's going to be?

[2016-11-01 18:08] bparees commented on #629
@php-coder collect them where?

[2016-11-01 18:14] php-coder commented on #629
@bparees In the [`Message` field of the `Result` object](https://github.com/openshift/source-to-image/blob/917c667e603d917e6f493d96ad615a3c85138c80/pkg/api/types.go#L326-L327).

[2016-11-01 18:22] bparees commented on #629
I think you should just set a message for each execution step indicating success/failure and the error.  i don't think it needs to be an exact replica of what you'd see on stderr/stdout from the CLI.

(I doubt anyone is even using this feature, it's another "never should have been implemented" idea.)

[2016-11-01 21:22] PI-Victor commented on #629
nope, nobody uses that. i can confirm it. just as result.success isn't that used as well (one or two places, the rest looks for result == nil of err != nil ). i wanted to use that instead of buildinfo in the beginning.

[2016-11-01 21:25] PI-Victor commented on #629
by the way, can we deprecate fields like that? since we don't use them and they aren't of any value?
or something like:
[code]

[2016-11-01 22:57] bparees commented on #629
@PI-Victor we can, but we don't have a great process in place for ultimately removing them.  In this case, making it "work" is probably the path of least resistance.

[2016-11-01 23:36] rhcarvalho commented on #301
The code that causes the 2 min pause on the happy path is here:
[pkg/docker/docker.go#L1068-L1073](https://github.com/openshift/source-to-image/blob/42eb81cfd12d3bf2678429a310f81f78fefb0904/pkg/docker/docker.go#L1068-L1073)

I could not write any small patch that would not introduce other problems :(

Trying to write an integration test that reproduces the problem, so that we get not just a fix, b

[2016-11-02 09:42] PI-Victor commented on #470
i'd like to take care of this, but i'm unsure where this conversation is going.
which example should i extend? or should this be, after all, in s2i?

[2016-11-02 09:48] PI-Victor commented on #421
is this still up for debate, if not can we close it out?
my recent experience of using python on a project instead of bash wasn't any better so i'd like to change my previous statement in support of bash.

[2016-11-02 10:22] PI-Victor commented on #514
@bparees is this hard to implement? i'd be interested in it

[2016-11-02 11:11] rhcarvalho commented on #522
I never used this flag myself, at least not knowingly. Are we changing the old behavior of the flag? Any concerns with breaking people who could be relying in the old behavior?

[2016-11-02 12:40] bparees commented on #514
Extremely.

Ben Parees | OpenShift

On Nov 2, 2016 06:22, "Ionut Palade" <notifications@github.com> wrote:

[2016-11-02 14:06] bparees commented on #522
we're changing it to do what we always claimed it did, so while it is potentially a breaking change, it's also a bug fix.  in any case i'm pretty sure the number of people using this feature approaches 0.

[2016-11-02 14:09] bparees commented on #470
s2i create (which bootstraps an example) already uses non-root, this is probably talking about the sample here:  https://github.com/openshift/source-to-image/blob/master/examples/nginx-app

so @PI-Victor the fix would be to update that sample to run as non-root.

[2016-11-02 14:56] php-coder commented on #629
How it was broken?

[2016-11-02 15:32] PI-Victor commented on #629
@php-coder it wasn't broken. but rather not implemented for layered strategy for example. i know we check one place for success = true, otherwise i don't know where else we do it.
we also don't use it in origin. we only check for err when we get the build result.

[2016-11-02 15:38] #522 closed

[2016-11-02 23:08] bburky opened #632 "Imperfect parsing of git URLs"
I was reading through the git integration of source-to-image and had some concerns. I'm fairly certain there is no security vulnerability, but the git URL handling code could be improved.

Git allows protocols to use use `::` as a scheme separator instead of `://`. It allows manually specifying what git remote helper to use. For example, `git clone https://github.com/openshift/source-to-image` is

[2016-11-03 17:16] bparees commented on #632
for s2i as a standalone tool, the git clone operation is done on the host.

when using within openshift, the source fetching is performed inside a privileged container but the code is slightly different and git urls are already validated here: https://github.com/openshift/origin/blob/master/pkg/build/api/validation/validation.go#L635-L638

I assume the url examples you provided would not pass that

[2016-11-03 23:19] alberttwong commented on #470
I think generally speaking, we should try to create the best example as possible for people to base their s2i.   That was my intent when building asp-net s2i.

[2016-11-04 00:24] bparees commented on #470
@alberttwong i don't explicitly disagree, but there's also a fine line between trying to teach them the minimum set of concepts related to s2i, and trying to teach them all the best practices particularly around things related to openshift.

[2016-11-04 15:27] dmlond opened #635 "Dockerized s2i example"
This is not really an issue :). I wrote a
Dockerfile
[code]

docker-compose.yml
[code]

use it like
[code]
that you could include in your documentation. Hope it is helpful.

[2016-11-06 09:00] accursoft commented on #301
@rhcarvalho please see my [earlier comment](https://github.com/openshift/source-to-image/issues/301#issuecomment-256604905) - the root cause lies much deeper.

[2016-11-08 09:55] PI-Victor commented on #635
@dmlond thank you for your contribution and taking the time to do this, however there are a few things that need to be said. First i doubt we will ever be using ubuntu in our official examples (not that we hate it, or have anything against people using it. but we already drive 3 major distros). Our example simplifies as good as it can how to build an application with s2i and introducing another to

[2016-11-08 14:15] PI-Victor commented on #629
ok, i can make it work, the question is, what "messages" should the build process surface. are we talking about failures or just just something else (we have glog in place for that already) the api docs arent' very specific.

[2016-11-08 14:43] PI-Victor commented on #629
nvm about my previous comment.

[2016-11-09 16:55] dmlond commented on #635
I was not suggesting that you introduce another tool. The whole point of Docker is to reduce the number of tools that need to be installed on a host machine to run an application. If you can containerize the application, you can run it on any machine that has a docker engine installed. S2i is no different. It doesnt need to be installed on a machine if that machine is running a docker engine (whic

[2016-11-09 20:48] bparees commented on #635
thanks @dmlond, we'll see if we can find a way to work this into our doc, or perhaps just publish an s2i image ourselves that can be used in this way.

[2016-11-17 14:30] harobed opened #639 "s2i build on OSX => fatal error: unexpected signal during runtime execution"
I have this error:

https://gist.github.com/harobed/a3acf12956d073f1f8378379aea46764

Information about my host:

[code]

[code]

[code]

[2016-11-17 15:29] harobed commented on #639
My repository source size is 120 Mo

[2016-11-17 16:00] harobed commented on #639
I've rebuild `dae276c287c069e3ed96b2cb085cb3f61decfea6` version on my host and `s2i build` work perfectly. I'll try with `ddb10f16412977688136b77c76c30c0632e510d6`.

[2016-11-17 16:11] harobed commented on #639
no problem with this version.

To build I use:

[code]

I've try:

[code]

But it wait endlessly.

[2016-11-22 00:43] rafaeltuelho opened #640 "panic: runtime error: invalid memory address or nil pointer dereference on Linux x86_64"
using release `v1.1.3`...

`s2i build https://github.com/pmorie/simple-ruby.git openshift/ruby-20-centos7 test-ruby-app`

I get...

[code]

My env is:

[code]

[code]

[code]

I tested with the linux binary s2i and tried to compile manually. Both fails.

[2016-11-22 04:06] bparees commented on #640
can you share your docker config file, obscuring any credentials/tokens?

[2016-11-22 14:38] rafaeltuelho commented on #640
My docker config has only this:

[code]

The docker unit on Systemd:

[code]

[2016-11-22 14:45] bparees commented on #640
looks like something doesn't like that you have no auths at all in your docker config.json, as a workaround you can do a docker login to dockerhub (assuming you have a dockerhub account).

(I was able to recreate this locally).

[2016-11-23 15:39] #640 closed

[2016-11-25 21:50] rafaeltuelho commented on #640
yeah! after login hub.docker.com it worked fine!

[2016-11-28 14:49] dcortesf commented on #573
Hi folks, I'm writing from Santander Group, we have been working with OpenShift from a long time. From our point of view, we think S2I should support hooks or extension points which allow users to run corporative process at any time (qa, security, etc). If S2I doesn't support this feature, we need use Jenkins and it no sense to use S2I for only for build task.

[2016-11-28 19:13] GrahamDumpleton commented on #573
@dcortesf You might be interested in:

* https://github.com/getwarped/action-hooks

It provides an example structure for doing it yourself within your source code repository.

[2016-11-29 10:02] accursoft commented on #301
Any progress with this?

[2016-11-29 11:16] rhcarvalho commented on #301
@accursoft I haven't had time I wished to devote to this, and had hopes #625 (though in spirit unrelated) would improve the situation (for the are some good commits cleaning up synchronization issues). I re-run your code against that PR's branch and realized that the builds would actually hang forever, not the 2min we see now.

Would be really helpful to have a smaller/quicker example to reproduce

[2016-11-29 12:18] jim-minter commented on #301
@accursoft taking a look at this - when I run ./test it eventually bugs out with:
[code]

Any thoughts?

[2016-11-29 12:25] jim-minter commented on #301
@accursoft if you've got working images sitting somewhere public I can pull them if that's easiest?

[2016-11-29 12:28] accursoft commented on #301
https://www.mail-archive.com/debian-haskell@lists.debian.org/msg07168.html

I'll have a look at it might just need to update some dependencies.

[2016-11-29 12:34] jim-minter commented on #301
@accursoft https://ghc.haskell.org/trac/ghc/ticket/12759 looks possible?

[2016-11-29 12:35] accursoft commented on #301
@jim-minter Yes, that's the culprit. I'm checking if this has been fixed in Stretch.

[2016-11-29 12:37] jim-minter commented on #301
Am trying patching image/ghc.sh according to https://ghc.haskell.org/trac/ghc/ticket/12759#comment:5

[2016-11-29 13:12] rhcarvalho commented on #301
@jim-minter @accursoft my local checkout is pointing at https://github.com/accursoft/Haskell-Cloud/commit/47b1dcc56f8b30effa9c410cd65860f4b04abdde, I did not get that error. Maybe it was introduced in one of the more recent commits.

Building the images does take a lot of time though.

[2016-11-29 14:26] accursoft commented on #301
It's fixed in ghc 8.0.2, currently in RC. I'll update the repo when its released.

[code]

[2016-11-29 15:19] jim-minter commented on #301
@accursoft thanks for the bug report.  I now understand the issue - Debian's tar is appending 6144 '\0' bytes to the end of its tar stream, which the Go tar reader isn't consuming.  Because these data are stuck in flight, the container doesn't end up closing.  The fix will be for s2i to consume any remaining data in the pipe to /dev/null.  It's a straightforward fix which is best done as part of o

[2016-11-29 17:38] jim-minter commented on #301
Update - the patch that should fix this is in PR #625.

[2016-11-29 20:10] #301 closed

[2016-11-29 20:10] #620 closed

[2016-11-30 15:46] #604 closed

[2016-11-30 15:47] #603 closed

[2016-12-01 22:54] bparees commented on #421
closing this since the SCL team owns those repos now and while they're welcome to rewrite the scripts in any language they choose, it doesn't seem likely.

[2016-12-01 22:54] #421 closed

[2016-12-05 14:49] sudhirpandey opened #650 "incremental s2i build fails and stuck for nodejs 4 s2i images"
we have been using s2i base image for node js 4 from here

https://github.com/sclorg/s2i-nodejs-container

The normal builds work fine but incremental builds starts to fail and would not fall back to normal build

the app is from here
https://github.com/sclorg/s2i-nodejs-container/tree/master/4/test/test-app

reproduced as

have a save-artifacts script has
[code]

First build goes fine without inc

[2016-12-05 15:02] sudhirpandey commented on #650
have to make sure that this script is slient and it works

[code]

[2016-12-05 17:51] bparees commented on #650
thanks i'm going to update the doc here to hopefully avoid other people running into this:
https://github.com/openshift/source-to-image/pull/651

[2016-12-05 18:24] #650 closed

[2016-12-06 11:37] rhcarvalho opened #652 "Integration tests: test that builds take a reasonable amount of time"
From https://github.com/openshift/source-to-image/pull/648#discussion_r90856995

Tests that take too long (e.g. more than `DefaultDockerTimeout`), might indicate synchronization issues or other subtle bugs.

We should also introduce a test for a build that runs longer than the docker timeout, to ensure none of our timeout-based logic will fail a build when it is proceeding normally (but takes a lo

[2016-12-12 13:57] bparees opened #659 "docker-engine deprecated"
(sigh)

see: https://github.com/openshift/origin/issues/12212

hopefully this move is more straightforward than the last one.

[2016-12-13 10:37] jim-minter commented on #659
I don't propose to touch this until kubernetes has moved.  Then we can do origin and source-to-image at the same time.

[2016-12-14 13:05] marc-despland opened #661 "S2I test/run issues"
Hello

I used ```s2i create``` to generate the skeleton of a S2I image project. But when i run the make test i have several issues :

A small one : as the cid_file is empty at the beginning, ```docker inspect``` display usage warning, so i have add some quotes around $(cat $cid_file) like in other functions

A "big" one: the tests failed because after stopping the container, the script try to remo

[2016-12-14 13:18] bparees commented on #661
Thanks, we'll take a look at it.

[2016-12-20 16:50] jim-minter commented on #338
Windows support merged and CI testing enabled.

[2016-12-20 16:50] #338 closed

[2016-12-21 10:41] shiywang opened #665 "S2I should also support zsh completion like oc did"
It would be better if s2i also support zsh completion like oc did
@bparees Do you think we can add this [feature](https://github.com/openshift/source-to-image/pull/664) ?

[2016-12-22 19:09] #665 closed

[2016-12-29 19:11] aelmadho opened #666 "Unable to run s2i after MacOS update (10.12.2)"
Running with docker-machine and xhyve driver, I am no longer able to run s2i:

s2i build https://github.com/openshift/django-ex centos/python-35-centos7 hello-pytho2

[2016-12-29 19:11] aelmadho commented on #666
Ahmeds-MBP-2:~ aelmadhoun$ s2i build https://github.com/openshift/django-ex centos/python-35-centos7 hello-pytho2 | tee log.txt
unexpected fault address 0x1a49f04b36e
fatal error: fault
[signal 0xb code=0x1 addr=0x1a49f04b36e pc=0x14165]

goroutine 1 [running]:
runtime.throw(0x5ee028, 0x5)
	/usr/lib/golang/src/runtime/panic.go:547 +0x90 fp=0xc820528760 sp=0xc820528748
runtime.sigpanic()
	/usr/lib/

[2016-12-29 19:13] aelmadho commented on #666
Ahmeds-MBP-2:~ aelmadhoun$ s2i build https://github.com/openshift/django-ex centos/python-35-centos7 hello-pytho2 --loglevel=3 | tee log2.txt
I1229 14:12:56.704957    1924 main.go:68] Running S2I version "v1.1.3"
I1229 14:12:56.731695    1924 docker.go:511] Image "centos/python-35-centos7:latest" not available locally, pulling ...
unexpected fault address 0x1c5e5f8b9d5
fatal error: fault
[signal 0

[2016-12-31 01:18] jawnsy opened #667 "Document installation using "go get""
The current installation instructions discuss downloading and extracting a release tarball.  Many applications deliver themselves using `go get`, which is convenient as it provides a built-in mechanism for updating (`go get -u`) and works across many platforms (since it compiles on the target system).

These instructions work today:

1. Set `GOPATH=/home/user/go` (this happens by default if no GOP

[2016-12-31 01:36] jawnsy opened #668 "Bump Go version dependency"
In the installation instructions, we specify that we have a dependency on Go 1.4 or newer. However, according to the [upstream release policy](https://golang.org/doc/devel/release.html), only the latest version (currently 1.7) and its immediate predecessor (1.6) receive security support.

As a result, it may be a good idea to increase the dependency to 1.6.

[2016-12-31 01:37] jawnsy commented on #667
@bparees WDYT? Happy to submit a PR if you think this is a good idea. We can either supplement or replace the current install instructions.

[2016-12-31 01:41] jawnsy commented on #635
I also wonder if a `flatpak` package would be useful too? It's typically used for large-ish desktop applications (a prominent example of something delivered this way is LibreOffice) but could be useful for s2i as well.

That said, though, given that there are no dependencies except for Go (`go get` does everything necessary to download, build, and update `s2i`), then perhaps that is preferable? Fo

[2016-12-31 18:30] bparees commented on #635
as you say, there's no config/dependencies/etc, so i don't see the value in burdening ourselves with maintaining something more than our current tarball release distribution mechanism.

[2016-12-31 18:32] bparees commented on #667
@jawnsy sounds fine to me.

[2016-12-31 18:33] bparees commented on #668
i don't think we even build properly on 1.4 anymore, it's just outdated doc, thanks for catching it.

[2017-01-03 16:56] bparees commented on #666
@csrwng can you see if you can recreate this either w/ the latest release, or w/ the code in master?  we may just need to do a new release.

[2017-01-03 18:43] csrwng commented on #666
I am running MacOS Sierra (10.12.2)
I am not able to reproduce with:
- The code in master + Docker for Mac (stable 1.12.5 (14777))
- The code in master + docker-machine (version 0.8.2, build e18a919) + docker-machine-driver-xhyve (v 0.3.1) + docker (version 1.12.5)

My guess is that this is an issue with either docker, docker-machine, or docker-machine-driver-xhyve. Please try updating them to the

[2017-01-04 21:57] aelmadho commented on #666
I have re-installed MacOS Sierra in case my install went bad, and I have re-installed all the same versions of docker, docker-machine and docker-machine-driver-xhyve (homebrew), I also removed the $HOME/.docker and re-created a brand new VM (Virtualbox & Xhyve), both run into an exception.

I am attaching a copy of the trace logs in case anyone may have an insight into what is going on.  I also be

[2017-01-04 22:13] csrwng commented on #666
@aelmadho Ahh I see ... the issue is the execution context during the pull timing out and causing the go panic. We should not have a timeout for a pull. This is not a Mac specific issue. It has to do with the time it takes to perform the docker operation.

Let me take a look and see if this has been fixed recently.

[2017-01-04 22:33] csrwng commented on #666
It's still an issue, I'll submit a fix.

[2017-01-04 22:48] aelmadho commented on #666
Thank you @csrwng, we all appreciate your support.

[2017-01-04 22:51] aelmadho opened #674 "Unable to run s2i build with local .git directory"
I am currently testing the ability to create a runnable image from an existing git repo, that is cloned into my workstation.

Running "s2i build" fails everytime there is a local .git directory in my code tree, once I move out the .git directory, it is able to execute assemble to create the image.

Is there an ability to run s2i build with a cloned code tree?

--
Ahmeds-MacBook-Pro-3:deos aelmadho

[2017-01-05 03:45] bparees commented on #674
by default, s2i will attempt to "git clone" your repo, even if it's a local repo.  That means if you haven't committed all your changes, what s2i builds will not match what is in the local directory.

To get s2i to instead use exactly what is in the local directory (regardless of what is committed or not), pass `--copy`.

[2017-01-05 06:45] aelmadho commented on #674
Thanks @bparees appreciate your response.  I would have expected s2i to build what I have on my local directory regardless of its commit state.  From a user experience perspective, I would think that perhaps s2i should detect a local folder, and simply copy blindly what we are trying to build and create an image out of.

I will leave this to the community to decide if anything needs to be done her

[2017-01-05 15:16] bparees commented on #674
i understand, but s2i is, for better or worse, primarily git-centric, so if it detects your local directory is a git repo, it attempts to treat it as one, by building what is committed in that repo.  (if it's not a git repo, then it falls back to just building whatever is in the directory).

i don't fundamentally disagree with you, but at this point it's a backwards compatibility problem if we wer

[2017-01-05 15:16] #674 closed

[2017-01-05 16:12] csrwng commented on #666
@jim-minter just fyi ... my theory was that the pull was taking longer than the timeout and that somehow the code was proceeding without the pull having completed. However, earlier today I had a chance to test that theory and was not able to reproduce. Bottom line is that I still don't know why the panic is happening. It could be completely unrelated to the pull.

[2017-01-05 17:42] jim-minter commented on #666
The latest s2i release we published (1.1.3) is compiled using Go 1.6.3, which is known to have a memory corruption issue on MacOS Sierra.  This is resolved in Go 1.6.4 and 1.7. https://github.com/golang/go/issues/17234

@aelmadho are you able to compile master for yourself using 1.6.4 or 1.7 and see if you still have the issue?

@bparees we will surely need to spin a new s2i release, but I suggest

[2017-01-06 10:04] jim-minter commented on #666
(edited previous comment: Go 1.6 does not support MacOS Sierra, period.)

[2017-01-06 11:35] jim-minter commented on #666
@aelmadho if you're able to test (and don't want to compile it yourself) I've put a build at https://gist.github.com/jim-minter/3247c647bbcf2eef11320e4961a739c5/raw/65f2fa2742e0a8fa93d44fda1395015b4119d8fc/source-to-image-v1.1.3-83-g74ab5f1-74ab5f1-darwin-amd64.tar.gz - feedback is welcome.

[2017-01-06 18:22] #668 closed

[2017-01-18 11:21] jim-minter commented on #666
@bparees please will you spin a new s2i release using 1.7.x?

[2017-01-18 15:33] bparees commented on #666
@jim-minter done https://github.com/openshift/source-to-image/releases/tag/1.1.4

[2017-01-18 16:07] jim-minter commented on #666
@bparees thanks
@aelmadho please re-open if https://github.com/openshift/source-to-image/releases/tag/1.1.4 doesn't resolve your issue.

[2017-01-18 16:07] #666 closed

[2017-01-25 14:36] bparees commented on #533
reopening as we've seen it again, most recently it happened in windows testing:

[2017-01-25 14:38] bparees commented on #533
@jim-minter actually now i'm wondering if the new occurrences are specific to the windows setup, looks like maybe we lost connection to the linux docker machine?

[code]

[2017-01-25 15:25] jim-minter commented on #533
@bparees agreed.  I'm wondering how on earth to get the information needed to debug whatever is causing this.

[2017-01-25 15:28] bparees commented on #533
just failed again here too:
https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_s2i_windows/62/console

[2017-01-25 15:38] jim-minter commented on #533
It's happened in jenkins runs 15, 51, 59 and 62, always in TestLayeredBuildNoTarNoName.
It's around the repeated tar.go:286 lines that the problem happens - preparation of a tar file and uploading it to the container.  How far it gets varies; in the failure cases the following lines appear to be the error bubbling up the stack.

Hmm.

[2017-01-25 15:41] jim-minter commented on #533
In 62 the error was WSAECONNRESET rather than WSAECONNABORTED.

[2017-01-25 15:53] jim-minter commented on #533
Ah, I think I see what's going on.

[2017-01-27 17:26] coreydaley commented on #661
I am working on revamping the skeleton into a working application, and updating the information in the docs folder, but it will take me a few.

[2017-01-30 14:11] tmds opened #687 "s2i build /tmp/src"
It looks like the source provided by s2i at /tmp/src is present in the final image.

Is it okay to delete the /tmp/src folder in the assemble script? Would this decrease the image size or will /tmp/src be present anyhow in a layer?

The first step of my assmble script is `cp -Rf /tmp/src/. ./` which is copying over from /tmp/src to the working dir. Is this a meaningful step? Or would it be better

[2017-01-30 14:50] bparees commented on #687
yes it's perfectly fine to delete it, in fact we've started shifting our assemble scripts to mv instead of cp the src from /tmp.  It will decrease the image size since all actions of the assemble script occur within a single layer.

if it's a compiled language and you want a minimal sized final application image, compiling in /tmp/src, moving the compiled binary/jar/whatever to the final location

[2017-01-30 14:50] #687 closed

[2017-02-06 13:58] bparees commented on #639
@csrwng can you take a look at this mac issue?  (hopefully resolved in later versions, give its age)

[2017-02-06 15:41] csrwng commented on #639
@harobed are you using golang 1.7? earlier versions of golang are not compatible with MacOS Sierra. I have no problem compiling the latest master locally (on MacOS Sierra 10.12.3, go v1.7.5).

I will close this, since I can't reproduce. If you still have a problem please reopen.

[2017-02-06 15:41] #639 closed

[2017-02-06 20:51] bparees commented on #470
@coreydaley please add this to the work you're doing refactoring the s2i example/doc.

[2017-02-06 21:03] coreydaley commented on #470
Linked to #688

[2017-02-06 21:03] coreydaley commented on #661
Linked to #688

[2017-02-07 12:31] luiscoms opened #689 "Is it possible to use s2i with docker-compose?"
Is it possible to create a service in docker-compose that build the image with s2i script?

[2017-02-07 14:55] bparees commented on #689
I'm not familiar w/ the docker-compose service component, but in general s2i requires the docker socket be available to the context in which it is invoked.  As long as it is, you can use it (so for example you can start a container that contains the s2i binary and bind-mount your host's docker socket into that container.  That container can then invoke the s2i binary to perform an image build (and

[2017-02-07 14:55] #689 closed

[2017-02-16 19:20] coreydaley commented on #546
Linked to #688

[2017-02-21 12:12] guangxuli opened #691 "question : openshift concrete builder resource quota"
How the openshift count the resource quota consumed by specific builder image（may be not only one builder image）since it is created by sti builder but not openshift cluster it self (k8s exactly). I knew the quota is equal to the sti builder but how to count if we customized the quota(if can do that), it looks like the cluster can't count the resource((cpu/memory etc) quota consumed by specific bui

[2017-02-21 14:57] bparees commented on #691
I'm not quite sure what you're asking.  It sounds like you understand that we constrain the builder image container to the same resource limits that are put on the builder pod (which are the resource limits defined on the build resource), so we ensure that the user is not using more than their resource quota, including resources used by the specific builder container that is launched from within t

[2017-02-23 17:08] coreydaley commented on #546
Fixed via #688

[2017-02-23 17:08] #546 closed

[2017-02-23 17:08] coreydaley commented on #470
Fixed via #688

[2017-02-23 17:08] #470 closed

[2017-02-23 17:08] coreydaley commented on #661
Fixed via #688

[2017-02-23 17:08] #661 closed

[2017-02-24 21:57] rhcarvalho commented on #613
I realized that this can actually lead to easy to reproduce panics, by simply passing a malformed regexp to the `--exclude` flag of `s2i build`:

[code]

[2017-02-24 22:35] #613 closed

[2017-03-01 04:14] guangxuli commented on #691
@bparees sorry i am late, thanks so much. I got it.

[2017-03-01 04:17] bparees commented on #691
no problem.

[2017-03-01 04:17] #691 closed

[2017-03-06 19:09] gabemontero commented on #299
Forgot about this one and *finally* dug it up today.

Turns our, since last we talked, the exclusion pattern *was* surfaced as a `s2i` arg [here](https://github.com/openshift/source-to-image/blob/master/cmd/s2i/main.go#L181) as part of my fix for https://github.com/openshift/source-to-image/issues/457 (and I obviously forgot to cross reference with this one)

@bparees since option 1 from the old d

[2017-03-06 19:10] gabemontero commented on #299
Updating .s2iignore was in fact dismissed in the discussion in https://github.com/openshift/source-to-image/issues/457

[2017-03-06 19:16] bparees commented on #299
seems good enough to me.

[2017-03-06 19:16] #299 closed

[2017-03-07 22:48] DMevada opened #696 "404 error when clicking on "a practical tutorial on how to create a builder image" in the main README.md"
Hi,

There is a broken link (404 error) in the main README  page that results when I click on the link for "a practical tutorial on how to create a builder image".

To reproduce this issue, scroll down to the "Anatomy of a builder image" section in the main README file, and then click on the first link.

[2017-03-08 11:58] cars10 opened #697 "Fix examples"
The s2i example that is linked on the official site does no longer work, the image beeing used seems to be missing. https://blog.openshift.com/create-s2i-builder-image/

The link to the example in the README of this repo results in a 404.

[code]

[2017-03-08 14:37] Fodoj opened #698 "Auth via credsStore is not supported"
In some environments, specifically in AWS and GCE, credentials are provided via credentials store, as documented here: https://docs.docker.com/engine/reference/commandline/login/#credentials-store.

s2i doesn't seem to be able to handle this configuration:

[code]

[code]

[2017-03-08 15:26] coreydaley commented on #697
@cars10
That post is from July 21, 2015, almost two years ago.  Unfortunately old blog posts are rarely updated as products change.  You should instead try using the example that is included in the source-to-image repo here: https://github.com/openshift/source-to-image/tree/master/examples/nginx-centos7

[2017-03-08 15:26] #697 closed

[2017-03-08 15:26] gabemontero commented on #698
`s2` is using the docker engine-api under the covers, and if you look at  https://github.com/docker/engine-api/blob/master/types/auth.go it does not include credStore, so the json unmarshalling for `s2i` ultimately is not currently mapping that type of config.

I believe there has been talk of engine-api being deprecated and needing to move to docker/docker but I don't know the specifics off hand

[2017-03-08 15:28] coreydaley commented on #698
There is currently an issue open for deprecating docker-engine on this repo: https://github.com/openshift/source-to-image/issues/659

[2017-03-08 15:50] cars10 commented on #697
The 404 is still present in the readme :(

[2017-03-08 16:15] #696 closed

[2017-03-09 03:45] bparees commented on #698
closing this as a dupe of https://github.com/openshift/source-to-image/issues/659, thanks @gabemontero and @coreydaley

[2017-03-09 03:45] #698 closed

[2017-03-12 02:07] gtikhono opened #700 "s2i jboss sample command issue"
I ran into issues with this command:
s2i build --ref=7.1.x --context-dir=helloworld https://github.com/jboss-developer/jboss-eap-quickstarts openshift/wildfly-101-centos7 test-jee-app

Details:

docker version:
Client:
 Version:      17.03.0-ce
 API version:  1.26
 Go version:   go1.7.5
 Git commit:   60ccb22
 Built:        Thu Feb 23 10:40:59 2017
 OS/Arch:      darwin/amd64

Server:
 Version:

[2017-03-13 03:47] coreydaley commented on #700
@gtikhono
This is not an Origin or Source-to-Image specific issue.  If you git clone  https://github.com/jboss-developer/jboss-eap-quickstarts to your workstation, then git checkout 7.1.x, then cd into the helloworld directory and run "mvn build" it fails with the same issue.  You can see that there is no 1.0.4.Final-redhat-7  when you browse the maven repo https://maven.repository.redhat.com/earl

[2017-03-13 03:49] bparees commented on #700
@coreydaley the instructions came from our readme in the s2i repo, so we need to fix it to provide a working example.

[2017-03-13 03:52] bparees commented on #700
@coreydaley nm, i guess we can just wait for the hello-world example to be fixed.  But if for some reason that issue doesn't get fixed we'll need to pick a different(working) example.

[2017-03-13 03:52] #700 closed

[2017-03-13 12:11] guangxuli opened #701 "Default s2i rebuild image pull policy not work correctly"
**sti rebuild command**
the help description of flag -p:
`-p, --pull-policy string               Specify when to pull the builder image (always, never or if-not-present) (default "if-not-present")`

After running `s2i rebuild hello-world-app:1.2`
outputs : `ERROR: An error occurred: the policy for pull image must be set`

it seems that the default pull policy not works correctly.

[2017-03-13 23:30] #701 closed

[2017-03-14 07:53] cars10 opened #703 "How to reuse artifacts tar?"
Is there a way to reuse the artifacts tar?
In my usecase i want to build multiple incremental images at once. It seems that every build extracts the artifacts again - is there a way to reuse them instead of having them fetched each time?

[2017-03-14 10:27] cars10 opened #704 "Support to set shell for internal commands"
Disclaimer: I know that there is no official support for ubuntu or anything else besides RHEL and Centos.

Some commands are hardcoded to use `/bin/sh`. That defaults to bash functionality on both RHEL and centos so you do not run into problems when `source`ing files like in https://github.com/openshift/source-to-image/blob/openshift-1.4/pkg/build/strategies/sti/sti.go#L550 .

Using s2i with debia

[2017-03-14 10:36] php-coder opened #705 "Possible orphaned temp file"
We are [invoking `CreateInjectedFilesRemovalScript()` and removing temporary script](https://github.com/openshift/source-to-image/blob/f3668f75e331340c2de2126c01eda66e56f672d2/pkg/build/strategies/sti/sti.go#L605-L613) only when invocation fails. But it's possible that temporary file was created and [`CreateInjectedFilesRemovalScript()` has failed because couldn't write to it](https://github.com/o

[2017-03-14 16:35] coreydaley commented on #703
@cars10
You need to include code within your s2i assemble script that will restore the artifacts, just like you have to include code within your save-artifacts script to create the artifacts tar.

You can see simple example here: https://github.com/openshift/source-to-image/blob/master/examples/nginx-centos7/s2i/bin/assemble#L16

[2017-03-14 16:52] coreydaley commented on #704
It would seem to me that re-linking /bin/sh to /bin/bash in this case would be the correct solution, as customizing the image/system for the applications that it will run make sense.  Maybe have that command in your Dockerfile?

http://askubuntu.com/questions/141928/what-is-difference-between-bin-sh-and-bin-bash

[2017-03-14 17:26] cars10 commented on #704
Thats exactly what i do at the moment - the dockerfile for my image overrides `/bin/sh` with `/bin/bash` via `ln -sf /bin/bash /bin/sh` . But i am wondering if this could have any drawbacks - a way to customize the shell would certainly be nicer.

[2017-03-14 17:29] cars10 commented on #703
Thats what i already do. I have a `save-artifacts` script and restore these in my assemble script. But each build does that step again - i asked if i can save that tar and reuse it. An example:

In my usecase i need to build ~20 slightly different images per release of the app. The first image installs my dependencies and the next 19 reuse the artifacts - but the "save artifacts" step is done duri

[2017-03-14 17:40] coreydaley commented on #703
@cars10
That sounds like logic that you would have to somehow build into your save-artifacts and assemble scripts.

[2017-03-14 17:42] coreydaley commented on #704
@cars10
I wouldn't think that it would have drawbacks, I believe that most shell scripts expect to be bash scripts, and dash seems to be a relatively newer default on ubuntu/debian.

[2017-03-15 06:41] cars10 commented on #703
Okay, thanks. I thought there might be a built-in way that i did not find in the docs,

[2017-03-15 06:41] #703 closed

[2017-03-15 13:52] bparees commented on #703
@cars10 there's no way to do exactly what you want (essentially use a common "previous image" as the artifact source for multiple different new builds), what i'd suggest instead is one of two options:

1) Add your common dependencies to a new layer on top of the s2i builder image.  Then use that new image as your s2i builder image for all your builds.  That way all the deps will already exist in t

[2017-03-15 13:54] cars10 commented on #703
Thanks for the additional input. I do not use openshift, but i will have a look at options 1 and 2 - might help me.   (In general this is not even a serious issue, but it would save me some time during builds.)

[2017-03-15 13:54] bparees commented on #703
(--inject might be another option for you, similar to option (2).  Note that again the injected files get truncated prior to commit, so if you need the content at runtime you'll need to copy the files elsewhere as part of your assemble script)

[2017-03-15 14:22] bparees commented on #704
The thing being sourced in that code is not your assemble script, it's a script we generate.  Your assemble script is just executed, so it'll run with whatever shell it declares (and it doesn't have to be a shell script, could just be an executable binary).

So the fix here is to replace "source" with "." which should be supported by dash.

[2017-03-15 15:36] php-coder opened #710 "docs/debugging-s2i.md: subheaders displaying could be better"
On page https://github.com/openshift/source-to-image/blob/master/docs/debugging-s2i.md#providing-s2i-scripts I see that subheaders started from hashes:
[code]
Looks like wrong wiki dialect is using here to express headers.

[2017-03-15 15:40] coreydaley commented on #704
Closed via #708

[2017-03-15 15:40] #704 closed

[2017-03-15 15:41] bparees commented on #710
fixed, just needed a space between the hashes and the text.

[2017-03-15 15:41] #710 closed

[2017-03-15 15:42] php-coder commented on #710
Thanks!

[2017-03-15 16:15] #705 closed

[2017-03-16 08:39] cars10 commented on #704
Works perfectly. Thanks again!

[2017-03-16 15:21] bparees commented on #704
cool, you're welcome!

[2017-03-20 16:55] #587 closed

[2017-03-22 14:44] bparees commented on #632
@jim-minter consolidating all the git/uri parsing issues under you.

[2017-03-22 17:23] helio-frota opened #714 "'Checking if image' log twice"
Hi, the log is running twice:

[code]
https://travis-ci.org/bucharest-gold/origin-s2i-nodejs#L1666-L1667

We are using the 1.1.5 released version.

https://github.com/bucharest-gold/origin-s2i-nodejs/issues/68

[2017-03-22 17:31] bparees commented on #714
we check for the image at various times, it's a utility method.

[2017-03-22 17:31] #714 closed

[2017-03-22 17:40] helio-frota commented on #714
thanks !

[2017-03-27 22:31] DMevada opened #718 "Failed to kill container"
Hello,

I am trying to generate a docker container from an image that is available at
https://github.com/sclorg/s2i-nodejs-container/tree/master/4

Here are the steps that I took to generate the Docker container.

1. make build TARGET=centos7 VERSION=4 (as mentioned in the above repo's instructions)
2. ../s2i build https://github.com/sclorg/s2i-nodejs-container.git --context-dir=4/test/test-app/ c

[2017-03-27 22:41] bparees commented on #718
1) since you didn't tag the image you built w/ your make build step, you're actually just building using the nodejs image from docker hub.  which is fine, but just an fyi if you were trying to customize the nodejs image in any way.

2) What makes you think it failed?  the message you're getting is a warning.  When i run your steps i get a return code 0 (success) and a new nodejs-sample-app image e

[2017-03-27 22:51] DMevada commented on #718
1. Yes, I deliberately didn't tag the image because I first wanted it try it without customizing it.

2. Oh, I thought this warning message was a cause of failure because it meant that the docker container that is being built cannot be removed. I also thought that this step must be successful (no warnings or errors), before I can run the container that was generated.

However, you're right, I just

[2017-03-28 02:07] bparees commented on #718
it does seem like we've lost our success message somewhere along the way, i'll leave this issue open to make sure it gets added back in.

[2017-03-28 14:23] bparees commented on #718
@guangxuli would you like to take a shot at this one?  We just need to ensure that s2i prints a final "build succeeded" or "build failed" message at the end, today apparently it is not doing so, at least for success.

[2017-03-28 15:12] guangxuli commented on #718
@bparees no problem :)

[2017-03-28 17:00] helio-frota commented on #718
Hi,
Maybe this is related ?
https://github.com/bucharest-gold/origin-s2i-nodejs/issues/58

This happens after `s2i build`
` warning: Failed to kill container...`

[code]

[2017-03-28 18:27] DMevada commented on #718
@helio-frota  Yes, that is the same warning message that I am getting.

[2017-03-29 07:53] guangxuli commented on #718
@DMevada @helio-frota This warning due to that the container didn't running any more after waiting for the container stop. so when kill the not running container, the warning will output.
@bparees I remove the `KillContainer `invocation in `RunContainer` and just add the `force `(true) option in `RemoveContainer ` , just for keepping the normal action quiet. This is equals to original actions(our

[2017-03-29 11:22] helio-frota commented on #718
@guangxuli thanks !
This will be part of the next release s2i 3.x right ?

[2017-03-29 14:10] bparees commented on #718
@guangxuli don't do that.  @jim-minter just reworked the block to *not* use force kill, on the advice of @vikram-redhat (there were some concerns that docker's force kill can leave resources around), which is why we're now explicitly killing the container and then removing it.

All that is needed here is a useful message to the end user to make it clear whether the build succeeded or failed, so th

[2017-03-29 14:53] helio-frota commented on #718
@bparees looks great to me [as user] . :+1:

[2017-03-29 14:55] bparees commented on #718
@helio-frota 3.x would be an openshift release version number.  these changes may or may not be part of the next openshift release, but it doesn't really matter since openshift does its own reporting of build success/failure.  Whatever changes are made for this issue in s2i won't have a material impact on the behavior of s2i when used from within openshift.

[2017-03-29 14:57] bparees commented on #718
Just to re-assert in case there is any confusion here:

There is no issue with builds failing, the problem is that we print a warning that can be confusing to users in the absence of an obvious "build succeeded" status being reported at the end of the log.  So all we're going to do is print a clear success/fail message, and make the warning a debug level message so it doesn't show up by default.

[2017-03-29 15:03] helio-frota commented on #718
@bparees perfect.
Also our issue was closed: https://github.com/bucharest-gold/origin-s2i-nodejs/issues/58
Thanks!

[2017-03-29 15:06] DMevada commented on #718
@bparees Thanks for taking care of this!

[2017-03-30 00:26] guangxuli commented on #718
@bparees fine, i got it. :)

[2017-04-10 00:35] bparees commented on #514
opened in trello: https://trello.com/c/Eigu8zz3

[2017-04-10 00:35] #514 closed

[2017-04-10 00:46] bparees commented on #479
moved to trello: https://trello.com/c/IQkmHKTF

[2017-04-10 00:46] #479 closed

[2017-04-13 03:19] yuvipanda opened #722 "Allow --assemble-user to be specified as a label on the builder image"
This would simplify setup for a builder I am building, since otherwise I've to explicitly instruct users to run it with '--assemble-user root` when using it.

If this is considered something that the user is explicitly supposed to opt into, that seems ok to me too, though.

[2017-04-13 14:05] bparees commented on #722
by default s2i runs the assemble script with the default user is for your image, is not that sufficient?

[2017-04-13 18:11] yuvipanda commented on #722
I'd like the default user to be the user that the container is *run* as default, while I'd like a different one for building. Build as root with a controlled assemble script, run as non-root, essentially.

[2017-04-18 01:59] jwendell opened #726 "Automatic incremental builds?"
Does it make sense to have automatic incremental builds whenever it is possible?
For example, cache the maven downloaded artifacts (.m2/repository) for an java app?

This way we can speed up builds for apps that were not primarily designed to run on Openshift (i.e., without .s2i/save-artifacts script)

[2017-04-18 03:35] bparees commented on #726
incremental builds have their caveats, namely that you can end up w/ stale dependencies if you don't realize your dependencies are getting reused from your previous application image.  For this reason we think it's best not to enable them by default.  The default behavior will get you the most "correct/unsurprising" behavior, though not necessarily the fastest/most efficient experience.

[2017-04-19 06:55] yuvipanda commented on #635
I would love the project to provide an official docker image. Otherwise, I'd have to build and maintain my own small docker image with s2i in it (and build it for alpine maybe, get git in there, etc). It would be great if this would be provided by y'all, and I'm happy to try to make that work (with alpine, for example). I don't think we can make it from a scratch container because we need git, tho

[2017-04-19 07:16] yuvipanda opened #727 "s2i released builds don't seem to work under alpine linux"
I'm trying to build a small docker container image that would have s2i in it (so I can use it to build my own containers in my k8s cluster). So I download the latest amd64 release from the releases page, and then try to build the docker image thus:

[code]

This however, does not work. If I attempt to run s2i inside this, I get
[code]

And when trying to run it with strace, I get:

[code]

The fil

[2017-04-19 07:16] yuvipanda commented on #727
(I'm not tied to alpine linux, I just want a small s2i image that works :))

[2017-04-19 07:18] yuvipanda commented on #727
Upon further investigation, it seems to be because the s2i binary is not statically linked, but dynamically linked to libraries that aren't present in alpine. Is it possible to produce a statically linked binary too?

[2017-04-19 07:25] yuvipanda commented on #727
A build produced with the following patch:

[code]

[2017-04-19 15:12] bparees commented on #727
the primary consequence should just be filesize.  did you compare the filesize of the static s2i binary w/ the non-static one?

if it's not too big i'd be ok w/ this change.  if it is big, we can produce both binaries.

[2017-04-19 17:52] yuvipanda commented on #727
Thanks, @bparees! I made a PR - the size difference is actually positive on the static built side. Dynamically linked master is 12343360 bytes (about 12MB) while the statically linked one is just 10544875 bytes (under 11MB)

[2017-04-19 18:07] yuvipanda commented on #727
Note: It turns out I don't have to set the netgo tag.

[2017-04-19 18:12] yuvipanda opened #730 "Strip debug symbols from release build"
Adding the '-s -w' flags to `-ldflags` reduces binary size to about 6M (from about 11M now). The symbols are useful when debugging, but not so much in released versions IMO.

Note that stripping these will still produce useful stacktraces on panics.

[2017-04-19 19:46] bparees commented on #727
weird.  thanks!

[2017-04-19 20:48] yuvipanda commented on #727
w00t, thanks @bparees for the merge!

[2017-04-19 20:55] #727 closed

[2017-04-20 15:10] RobinsChens opened #732 "permission issue"
File jar:file:/wildfly/modules/system/layers/base/org/picketbox/main/picketbox-4.9.6.Final.jar!/auth.confcannot be read.

when i deploy war to /wildfly/standalone/deployments, then print out the error

[2017-04-20 15:29] bparees commented on #732
Can you please provide the full log output and steps for recreating your issue?

[2017-04-28 11:04] goern opened #735 "using rhel7-atomic as runtime image"
Heya, can I use rhel7-atomic as a runtime image?

I have been trying to compile the go test app from s2i-go and put it ontop a rhel7-atomic runtime image... it stops with `could not determine scripts URL for image`

[code]

[2017-04-28 15:34] bparees commented on #735
you should be able to, but you need to provide the runtime-assemble script from somewhere (either in your source repo or via the --scripts-url argument) since the image itself does not contain a default runtime-assemble script.

see this doc:
https://github.com/openshift/source-to-image/blob/master/docs/runtime_image.md#assemble-runtime-script-requirements

[2017-05-03 01:29] bparees opened #736 "failed to kill container warning"
This warning gets printed in cases where we failed to kill the container because it was already stopped.  We should be handling this more cleanly/not logging a spurious warning:

[code]

[2017-05-03 05:49] bbaassssiiee opened #737 "Add ansible-container to s2i"
We would like to use ansible-container as s2i build in openshift. Given that my project has ./ansible/assemble and ./ansible/run it could pull roles from Galaxy/git for better re-use.

[2017-05-03 05:49] bbaassssiiee commented on #737
Feature idea

[2017-05-03 09:22] vikaschoudhary16 commented on #279
Encountered same issue on ocp v3.5.5.9. Though @liggitt point makes sense that build controller is already in privileged users but still, got builder pod running only after adding :

as @mwiora suggested above.

[2017-05-03 18:36] bparees commented on #737
You're asking for an s2i-ansible builder image?

[2017-05-03 18:39] bparees commented on #737
@jmrodri you might want to fill @bbaassssiiee in on the work you guys are doing for the ansible broker, i think it might be more suitable.

[2017-05-03 18:51] bbaassssiiee commented on #737
https://github.com/sterburg/s2i-ansible-container
Maybe something like this, but then in the GUI of OpenSHift under
https://127.0.0.1:8443/console/project/my-project/create?tab=fromCatalog

[2017-05-03 18:58] bparees commented on #737
you can put any image you want into that GUI yourself by creating a suitable imagestream for the image in question.  If you want it available to everyone, create the imagestream in the openshift namespace.

here's an example of the Ruby imagestream which makes Ruby available in the catalog:
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L6-L82

[2017-05-03 19:01] bparees commented on #737
That said, I still think the work @jmrodri is doing is probably a better way to run ansible playbooks than using an s2i build to layer the playbook into a run-once image (assuming that's what the s2i image is doing).

[2017-05-03 21:19] cainj13 opened #738 "Use Incremental Builds with Builder + Runtime Images"
I'm using a java stack, and would ideally like a builder image where things like my maven configuration and .m2 repository can live without junking up my runtime container.  However, when I try to do an incremental build, I get this:

Are there any plans to provide a way to save artifacts and update the builder image as part of the s2i build?

[2017-05-04 19:37] cainj13 opened #739 "ENTRYPOINT not overridden for runtime images"
When I use a separate builder + runtime image, if the runtime image has an ENTRYPOINT defined, it is not overridden and the assemble-runtime script fails.  For example, here's my s2i output when I attempt to drop a Java .war on the docker.io/jboss/keycloak:3.1.0.CR1 image:

[code]

That ^ image has an ENTRYPOINT defined of:

`ENTRYPOINT [ "/opt/jboss/docker-entrypoint.sh" ]`

Which attempts server

[2017-05-05 16:03] bparees commented on #738
at present we aren't planning additions to the extended build feature, but you can get pretty much the same result by running two s2i builds:

1) an s2i build that uses your builder image base, does an incremental build, and produces an image that contains your jar/war.

2) a second s2i build, using the extended mechanism, that uses the first image as your "builder" image, but the build will basic

[2017-05-07 01:22] cmmehta opened #740 "issues with s2i scala in Openshift 3"
I am trying to run s2i build to have image creation for scala. Every time I am getting errors as -
 **_An error occurred: unable to get metadata
Suggested solution: check image name
Details: Error: No such image:_**

Pls advise

[2017-05-08 00:47] bparees commented on #740
can you run the s2i build with --loglevel=5 and provide the full logs?

[2017-05-08 00:48] bparees commented on #740
the command line you're invoking would be helpful also so we can see the exact image you're using as the builder image.

[2017-05-09 14:35] #736 closed

[2017-05-11 14:43] YannMoisan opened #745 "Failed to build the examples/nginx-centos7 on openshift"
I'm trying to build the example nginx images in openshift.

Here is the command `oc new-build https://github.com/openshift/source-to-image --context-dir=examples/nginx-centos7 --name=nginx-centos7 --to=nginx-centos7:latest`

But I got this error

[code]

I guess it's because the docker build command is not run by root.
Any workaround ?

[2017-05-11 14:51] coreydaley commented on #745
@YannMoisan I believe from previously looking at that issue that line needs to be removed from the DockerFile since that directory doesn't exist anymore (it did previously in this example).  I'll throw together a PR here shortly.

[2017-05-11 17:47] #745 closed

[2017-05-11 17:55] YannMoisan commented on #745
It fixes the issue. Thx !

[2017-05-12 09:48] amsokol opened #747 "New Feature Request: Add context directory environment variable to output images"
Dear All,

Could you please add source context directory environment variable to output images.
OPENSHIFT_BUILD_SOURCE and context directory are necessary for Golang build to get root package of Golang application.

Thanks,
Aleksandr

[2017-05-12 11:57] bparees commented on #747
How would putting it in the output image help, since the application is already built at that point?

I'm a bit confused as to what you're doing/trying to do.

[2017-05-12 12:27] amsokol commented on #747
Dear @bparees,

I'm really sorry.
It's my mistake.
This request is for OpenShift team.
Issue is closed.
Sorry again.

Thanks,
Aleksandr

[2017-05-12 12:27] #747 closed

[2017-05-12 17:54] bparees commented on #740
closing due to lack of details, please reopen if you're able to provide the requested data to investigate this.

[2017-05-12 17:54] #740 closed

[2017-05-12 17:55] #738 closed

[2017-05-12 17:56] bparees commented on #737
I think i've addressed how to make the image available in the openshift console, closing this issue.

[2017-05-12 17:56] #737 closed

[2017-05-12 18:03] bparees commented on #735
@goern did that help?

[2017-05-12 18:03] bparees commented on #732
closing due to lack of information to investigate this further.  please reopen if you can provide additional details.

[2017-05-12 18:03] #732 closed

[2017-05-12 19:00] #726 closed

[2017-05-12 20:26] #730 closed

[2017-05-12 21:06] bparees commented on #730
@yuvipanda i've cut a new release with this change: https://github.com/openshift/source-to-image/releases/tag/v1.1.6

[2017-05-12 21:08] yuvipanda commented on #730
w00t, awesome! Thank you :)

On Fri, May 12, 2017 at 2:06 PM, Ben Parees <notifications@github.com>
wrote:

--
Yuvi Panda T
http://yuvi.in/blog

[2017-05-18 13:55] fortinj66 opened #749 "The seems to be an issue with a maximum directory size during source upload"
There appears to be an issue with the total size/length of a directory uploaded by s2i.  Source files with a path that is too long gets truncated to just the filename and loses any path information.

Here is the example source (without the git stuff):

[code]

after running s2i I get this in the /tmp directory on the target image:
[code]

Note that the files test8.java, test9.java, test10.java, te

[2017-05-18 15:04] coreydaley commented on #749
Can you run this with --loglevel 5 and paste the output here or use pastebin?

[2017-05-18 15:18] fortinj66 commented on #749
Here you go:  https://pastebin.com/7NdfqdVU

It looks like the files are being added to the tar but the end processing is screwy...

[2017-05-18 15:47] coreydaley commented on #749
Is there any chance you can tar up your test files and scripts and post them?  if not can we at least get your assemble script.

[2017-05-18 15:59] fortinj66 commented on #749
[s2i.tar.gz](https://github.com/openshift/source-to-image/files/1011480/s2i.tar.gz)

This should have everything in it.  The johntest directory contains the Makefile to create the s2i image and the email directory contains the source I was testing with...

[2017-05-18 16:00] fortinj66 commented on #749
This failed with a real source tree.  The above is just a testcase I was able to recreate the issue with

[2017-05-18 16:00] coreydaley commented on #749
Can you also post the output of 's2i version'

[2017-05-18 16:02] fortinj66 commented on #749
[johnf@majeftest-sb01 s2i]$ ./s2i version
s2i v1.1.6

The executable I'm using is included in the tarball

[2017-05-18 16:02] coreydaley commented on #749
Are you using Linux or OS X? (and what version)

[2017-05-18 16:10] fortinj66 commented on #749
[johnf@majeftest-sb01 etc]$ cat redhat-release
CentOS Linux release 7.3.1611 (Core)

[2017-05-18 16:32] coreydaley commented on #749
@fortinj66 I am unable to replicate this issue on Fedora 25, or Centos (the same one you are using).

Here is the procedure that I am following (using the tar.gz you sent):

- tar -xvzf s2i.tar.gz
- cd johntest
- make
- cd ..
- ./sti --loglevel 5 build email-processor-micro johntest johntest-app

Here is the output: https://pastebin.com/NCKWzyXB

You can see that all files are present.

is there a

[2017-05-18 16:43] coreydaley commented on #749
Your output that you posted shows that it is checking out HEAD for the git repo, are all of those files in HEAD? Is that the correct branch etc for all of the files?

[2017-05-18 16:44] fortinj66 commented on #749
What version of docker are you using?

[johnf@majeftest-sb01 etc]$ docker -v
Docker version 1.12.6, build 3a094bd/1.12.6

This is 100% reproducible on my side on this server.  Let me try another to see what happens

[2017-05-18 16:45] fortinj66 commented on #749
This is a new repo with just this test in it and everything added and commited.  No other branches created

[2017-05-18 16:46] coreydaley commented on #749
[corey@li1315-97 ~]$ docker -v
Docker version 1.12.6, build 3a094bd/1.12.6

[corey@li1315-97 ~]$ cat /etc/redhat-release
CentOS Linux release 7.3.1611 (Core)

[2017-05-18 17:01] fortinj66 commented on #749
memory/cpu/filesystems are fine with plenty of resources...

[2017-05-18 17:12] fortinj66 commented on #749
did you run yours as root or as a normal user?

[2017-05-18 17:13] coreydaley commented on #749
root, but i can fix my groups and do it as a user.  which did you run yours as?

[2017-05-18 17:14] fortinj66 commented on #749
try it as a regular user...

[2017-05-18 17:21] coreydaley commented on #749
Just ran it as a regular user, same result, it worked for me.  Can you verify that all of your files that you are testing with have the correct permissions/owners?

[2017-05-18 17:25] coreydaley commented on #749
Were you able to replicate the issue on another virtual machine?

[2017-05-18 17:29] fortinj66 commented on #749
They're all owned by me with the same permissions as you should have...  access to /tmp is also good...

[2017-05-18 17:29] coreydaley commented on #749
If you exec into your container and look at the tmp directory, what is there?
What if you run the find /tmp command manually in the container?

[2017-05-18 17:33] fortinj66 commented on #749
I was not able to recreate this on another server...

And here is the even odder thing...  The process is now working on the original server.  Except for logging out I haven't changed anything...  And I had logged out before (and rebooted) and still had the issue.

I also tested with the original real source and it also completed successfully...

I'm baffled...  Lets call it a non-issue for the ti

[2017-05-18 17:34] fortinj66 commented on #749
Thank you so much for working through this...  I try my best to resolve this type of stuff myself before I ask for help...

--John

[2017-05-18 17:34] coreydaley commented on #749
Weird,
Feel free to re-open this issue if you encounter it again or find more information.

[2017-05-18 17:34] #749 closed

[2017-05-18 17:34] fortinj66 commented on #749
will do...

[2017-05-24 08:03] slaskawi commented on #475
@GrahamDumpleton Just in case you were looking for a workaround for this issue, here it is:
https://github.com/jboss-dockerfiles/infinispan/pull/49/files#diff-d0463d5d7460c28597180b6a29b001b8R6

The idea is to check whether a script in ENTRYPOINT was invoked with assembly script parameters. If so, just pass everything into `exec`.

@bparees @mfojtik Since the change has been reverted, may I ask to

[2017-05-24 15:54] bparees commented on #475
yes i'll reopen it, but we need to make sure whatever solution we come up with addresses the problem we encountered previously:

[code]

[2017-05-25 16:23] jim-minter commented on #739
Hi @cainj13 , please can you provide more detail? E.g. the actual s2i command you ran, full s2i output, a simple reproducer if at all possible? It's taking me a while to build a reproducer and I'd sooner be working from the same starting point that you are.  Cheers.

[2017-05-25 16:35] bparees commented on #739
s2i doesn't override the entrypoint, it sets the cmd.  see:  https://github.com/openshift/source-to-image/issues/475

[2017-05-25 19:03] ruifortes opened #751 "Any docs about bind mounts using template?"
Hello.
Any docs o example how to use [bind mounts](https://github.com/openshift/source-to-image/pull/461) on templates?
Thanks

[2017-05-25 19:06] bparees commented on #751
what do you mean by templates?

[2017-05-25 19:07] bparees commented on #751
if you are referring to openshift templates and doing s2i builds within openshifts:  bind mounts are not available in that environment because it would give you access to files on the node host.

[2017-05-25 23:59] ruifortes commented on #751
Yes, openshift templates
What do you mean by "access to files on the node host"?
Access to "all" files in the host? Access only the mounted host folder?
If it's just access to the folder what is the problem?
Sorry If I'm missing something obvious cause I'm new to all this container technology.

[2017-05-26 00:55] bparees commented on #751
Since you choose what folder to mount, you can access any folder on the host by choosing to mount it.

[2017-05-26 00:57] bparees commented on #751
So if your query is specifically about bind mounts for builds the answer is its not possible. If you want to bind mount into an application pod, it's possible but only with very privileged permissions and it's probably not what you want to be doing.

[2017-05-29 10:22] ruifortes commented on #751
Hi.
Thanks for bearing with me.
I having some trouble understanding the security issues here.

If its possible to mount a host folder in a regular pod (through DeploymentConfig) why not in the build pod (buildconfig)?

I would like to use a host folder in the build pod has the yarn cache.
Is there other way to avoid downloading all node modules in each deployment?

I understand that if just the so

[2017-05-29 10:29] ruifortes commented on #751
I guess [Mount local directories for s2i builds #948](https://github.com/minishift/minishift/issues/948) is relevant

[2017-05-30 02:38] bparees commented on #751
the build pod runs with higher privileges than pods run by users, it would be able to mount and access more things than a normal pod can.

Is there other way to avoid downloading all node modules in each deployment?

There are several options to provide dependencies to your build without downloading them in each build:

1) you can use incremental builds in which the dependencies which were downloa

[2017-06-04 10:45] donkeybanana opened #752 "Blank lines in .s2iignore causes the entire src folder to be left out of the build"
**Reproducing the issue**

Given the `.s2iignore` file:

[code]

Running `s2i` with `--loglevel 5` provides the following output (separation added for emphasis):

[code]

Blank lines are clearly not being skipped, while comments are. This is extremely confusing, given this behaviour is not present with `.dockerignore` and `.gitignore`, at least one of which most developers will be familiar with.

[2017-06-04 19:57] bparees commented on #752
@donkeybanana thanks for the bug report, agree we should be stripping empty lines.

[2017-06-16 04:23] #752 closed

[2017-06-21 12:28] orhuidobro opened #758 "S2I Extended Build: Error extracting tar stream"
S2I Extended Build fails during PostExecute function.
The images are based in Ubuntu 14, the code is Python with Conda. The problem seems to be related with SymLinks inside Conda folder.

[code]
This is the content of that folder:
[code]
The S2I command I use is:
[code]

**Is it a problem with SymLinks?
Is it a problem related to case (2621A vs 2621a)?**

This S2I works fine when it's not extended

[2017-06-22 18:06] #751 closed

[2017-06-23 00:49] coreydaley commented on #667
@jawnsy

I just ran `go get github.com/openshift/source-to-image/cmd/s2i `and it downloaded, installed into $GOPATH/bin and I was able to run it without issue.  Maybe it did not work like that before for some reason?

Can you please check it / try it again and see what results you get?

Maybe what is needed is just a docs update to add this installation method?

[2017-06-23 01:59] jawnsy commented on #667
@coreydaley Yeah it was just a suggestion to add it to the docs, but I never got around to doing it :neutral_face:

[2017-06-23 17:37] #667 closed

[2017-06-26 15:15] dromie opened #761 "Setting multiple environment variables in .s2ifile does not work"
Executing the following command work as expected:
s2i build . ubuntu:latest --scripts-url file://.s2i/exec -e "TEST_VAR1=testvar1" -e "TEST_VAR2=testvar2"

If I try to create an .s2ifile with multiple env vars by executing the same command with --use-config added it generates an .s2ifile with "flags":{"env":"TEST_VAR1=testvar1,TEST_VAR2=testvar2" ......}

After this executing "s2i build --use-conf

[2017-06-27 13:55] #443 closed

[2017-06-27 20:01] bparees commented on #533
it's baaaaaaaack: https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_s2i_windows/209/

[2017-06-27 20:20] #761 closed

[2017-06-28 09:30] jim-minter commented on #533
Hello old friend.

In https://ci.openshift.redhat.com/jenkins/job/test_pull_requests_s2i_windows/209/ I think something like the following happened:
win -> lin: send some tar data
lin: run sh, try to run tar, fail, send error message, close file descriptors, exit
win -> lin: keep on sending tar data
lin: send TCP reset

Then, perhaps due to packet loss, reordering or TCP stack implementation (e.g.

[2017-06-28 13:24] bparees commented on #533
lots of bad options :)

if it were day one i'd vote for (3), but alas.

for now i'm going to mark it low priority and go with (1).

[2017-06-28 14:52] bparees commented on #758
is your image available on dockerhub?  or can you share your assemble-runtime script?

[2017-07-01 08:32] yuvipanda opened #766 "Pass `--quiet` to `git checkout`"
Currently every time you run s2i with a non-master ref you get:

[code]

If we pass `--quiet` flag to git checkout this won't appear!

Alternatively, we can also use `git reset --hard <ref>` instead.

[2017-07-01 13:27] bparees commented on #766
sgtm, but we'll want to decide whether to pass the flag based on the logging verbosity level i think.

[2017-07-05 17:57] djohnston89 opened #767 "Use of Custom Assemble file by simply placing in .s2i/bin/assemble (OpenShift feature)"
Hey,

With OpenShift s2i, simply placing an assemble file in .s2i/bin will automatically overwrite the default assemble script.

How can this be done with the command line s2i (we're running s2i build on a Jenkins slave instead of OpenShift)?

[2017-07-05 18:11] bparees commented on #767
same way.  if your git repo (or directory) that you're building with "s2i build" contains a .s2i/bin folder and scripts, they will be used.

[2017-07-05 18:13] bparees commented on #767
note that there's currently a bug in s2i when using scripts from the app repo.  If you use the latest release (1.1.7) you'll be fine, but you'll hit the bug if you use master.

[2017-07-05 18:58] bparees commented on #767
(fix for the aforementioned issue is here: https://github.com/openshift/source-to-image/pull/768 )

[2017-07-05 18:58] bparees commented on #767
closing since i think i've answered your question but let me know if you're still having issues.

[2017-07-05 18:58] #767 closed

[2017-07-06 19:11] willtcarey opened #772 "Incremental builds uses the save-artifacts script from the previous image"
Today I was trying to develop and debug a save-artifacts script to make incremental builds work the workflow is a little bit cumbersome to do that when the save-artifacts scripts are baked into the image.

As far as I can tell currently, every time you change the save-artifacts script you need to rebuild your docker image and then run the `s2i build` command again with the incremental flag. Except

[2017-07-06 19:19] bparees commented on #772
you should be able to provide your own save-artifacts script (e.g. the same way you do w/ your assemble or run script), that would be the easiest way to ensure you're always getting the save-artifacts behavior you want/expect.  (That said, i'm actually not 100% certain we handle that correctly, so i'd love to hear back as to whether it works as expected for you).

Copying the save-artifacts script

[2017-07-07 01:20] #735 closed

[2017-07-07 01:31] bparees commented on #652
i don't see us getting to this and if it were an issue i'd sort of expect to see it show up in the form of test flakes given all the builds we run as part of tests.

[2017-07-07 01:31] #652 closed

[2017-07-07 01:33] bparees commented on #629
@coreydaley let's just drop the field and change the doc.  i doubt anyone is even using this callback feature anyway.

[2017-07-07 03:58] #629 closed

[2017-07-07 14:07] #766 closed

[2017-07-07 16:36] bparees commented on #758
@orhuidobro bump

[2017-07-11 13:37] willtcarey commented on #772
@bparees Ok that makes sense why you wouldn't want to copy the script over. We were developing using scripts built into the image but I can see how using external scripts could improve that, we'll try it!

[2017-07-11 18:52] rikatz opened #776 "Specify which network to use while constructing the image"
We're using s2i outside openshift, for some of our local projects.

What happens is that we have a different Network that can access internet (other than the default bridge network), and when we run the s2i command, it creates a Docker Container for this build inside this default network. This doesn't allow our s2i process (that makes some pip/python installs from internet) happen.

How can we spe

[2017-07-11 19:33] bparees commented on #776
right now i don't think it's possible, we'd have to add a flag to s2i to allow specifying the network to use.  In the meantime, I believe it is possible to change the configuration of the bridge network, would it be possible for you to do that instead?  (apparently docker does not allow you to change the default network, unfortunately)

[2017-07-13 04:47] rikatz commented on #776
Hi @bparees thank you for your answer.

I've opened a PR that allows you to specify which network should be used, instead of the default flow.

Thank you!

[2017-07-16 01:39] #776 closed

[2017-07-27 13:08] magick93 opened #780 "How to get application image into OpenShift registry?"
Hi

I am using s2i on my laptop to build an application image, so that it can run on a remote OpenShift environment.

I have been told that s2i does everything - does the build, and pushes image into OpenShift registry.

But how do I tell s2i how to reach the OpenShift registry? Is there a parameter that I should pass in when running the build, eg `s2i --remoteRegistry=http...`?

Or do I need to u

[2017-07-27 15:25] bparees commented on #780
The s2i cli tool does not push the image to the registry, it just builds it and then you use docker push to push it.

You can use s2i from within openshift, in which case yes, the built image will be pushed somewhere you specify (usually the openshift registry) (see: https://docs.openshift.org/latest/dev_guide/builds/index.html and related sections/links)

But if you're running it standalone on yo

[2017-07-27 15:25] #780 closed

[2017-07-28 02:00] johnreytanquinco commented on #780
Hi @bparees - where to find my OpenShift registry value? Thanks!

[2017-07-28 02:39] magick93 opened #781 "Adding custom s2i builder to OpenShift?"
We are using a custom s2i (https://github.com/universityofadelaide/s2i-shepherd-drupal) - and to simplify the workflow, it would be good if we can add this to OpenShift.

I have read
https://docs.openshift.com/container-platform/3.3/creating_images/custom.html
https://docs.openshift.com/enterprise/3.1/creating_images/s2i.html but couldnt see how to add custom s2i builders to OpenShift.

Any help i

[2017-07-28 02:52] bparees commented on #780
@johnreytanquinco it depends how your cluster is setup.  Normally you're going to need a route to the registry configured, so it would be the route.  If you don't have a route, and you're a cluster admin, you'll want to set one up.  The registry service will be in the default project, so you can see it with "oc get services -n default", but the service will only be accessible from within the clust

[2017-07-28 02:55] bparees commented on #781
@magick93 to add a builder to openshift you need to define an imagestream for it:

https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L6-L50

And the imagestream needs to indicate the image is a builder:
https://github.com/openshift/origin/blob/master/examples/image-streams/image-streams-centos7.json#L23

you'll need to create the imagestream in the o

[2017-07-28 02:55] #781 closed

[2017-07-28 03:18] johnreytanquinco commented on #780
Ah. that's perfect! `oc get services -n default` is what I did to show the list of services.

[2017-08-01 17:32] reddyrocks opened #782 "S2I Build error due to read: connection reset by peer"
I am running s2i build on Jenkins slave that has s2i mixin and it used to work fine for most of the builds but all of a sudden, I am seeing a new error.
I0801 17:18:20.244127 9638 docker.go:948] Removing container "12f9115bbf9dff39984dee60326c9f05bf6a146d64bb6a46f24f79624e5ddd19" ...
I0801 17:18:20.487410 9638 docker.go:952] Removed container "12f9115bbf9dff39984dee60326c9f05bf6a146d64bb6a46f24f79

[2017-08-01 17:38] bparees commented on #782
Can you please explain your scenario and configuration in more detail?  It sounds like you're doing an s2i build from within a jenkins slave?  is this running on openshift?  Can you share the buildconfig and the rest of the log?

[2017-08-03 13:48] renatoppuccini commented on #419
I got a similar issue when s2i from a githut repo, but using a branch and contextDir using OpenShift 3.3

I0802 21:17:02.776536       1 glog.go:50] Setting build revision to &api.GitSourceRevision{Commit:"28fe372a015c502cc626ca806a8bc09b5c346e61", Author:api.SourceControlUser{Name:"Pete Muir", Email:"pmuir@bleepbleep.org.uk"}, Committer:api.SourceControlUser{Name:"Pete Muir", Email:"pmuir@bleepble

[2017-08-04 12:30] johnreytanquinco opened #783 "run multiple exec command"
I have an application image and a database(separate container pod). Basically, I was able to successfully connect the app into database using manual steps(running `drush install` command in the container pod). I want that when I deploy the image, `drush install` will also be called in the process.

Now I created a script(`entrypont.sh`) that will connect the app into its database.

My concern is h

[2017-08-04 13:18] bparees commented on #783
No, exec replaces the running script with the exec'd process, so that will not work (your 2nd exec would never run unless the first exec terminates).

The right solution to this is probably a post-deployment hook:
https://docs.openshift.org/latest/dev_guide/deployments/deployment_strategies.html#lifecycle-hooks

-D is an argument to httpd that allows you to pass config parameters, in this case the

[2017-08-04 13:19] bparees commented on #783
Note that you'll want to protect your installation logic with a check that only does it the first time, if your app is already setup you don't want to do it again.

[2017-08-04 13:19] #783 closed

[2017-08-04 13:20] coreydaley commented on #419
@renatoppuccini Can you please supply the full command that you used to create the application?

[2017-08-04 13:30] johnreytanquinco commented on #783
Thanks you for your response. Will try that out.

[2017-08-04 13:55] johnreytanquinco commented on #783
Hi @bparees , that works for me. I modified the deploy config from OpenShift web console and redeploy but how can I add the hook config in the image since this is like a different approach. TIA

[2017-08-04 14:09] bparees commented on #783
you don't add the hook config to the image, you define what the hook should do as part of the deploymentconfig.

[2017-08-04 14:11] johnreytanquinco commented on #783
Updated my comment.

[2017-08-04 14:19] johnreytanquinco commented on #783
Okay, I understand but my goal is that when I create a new project using the image I push into OpenShift registry, a fresh installed site should be spin up. No more steps be done.

So if we only define the hook in the deployconfig, maybe there is an option to create an init command to include it when building the image that will run 1st - apache, then 2nd - enttrypoint script.

[2017-08-04 14:41] magick93 commented on #783
@johnreytanquinco - to clarify, you are saying, when using the post deploy hook in the deployment config, OpenShift would spin up a new pod to run the command in. It would not run the command in the primary web pod?

[2017-08-04 14:45] bparees commented on #783
If you want the image to spin up self-contained, the deploymenthook won't work since you're always going to require the user to configure the deploymenthook.  One way to handle that is to define an openshift template for your application, and have users instantiate the template.  The template would include the deploymentconfig with the deploymenthook defined.

However if you are determined to have

[2017-08-07 13:08] johnreytanquinco opened #785 "Clearing cache inside application image"
Is there any way we can include `drush cr` inside `run` or `assemble` file? My application requires clearing of cache for pages to be properly displayed after a complete installation. I don't want to do it manually so if this can be added in the image, it will be great. I don't wanna create some post deploy hook but just want to add it in the image. Is this possible? Thanks!

[2017-08-07 13:26] johnreytanquinco commented on #785
Duplicated in my previous concern in https://github.com/openshift/source-to-image/issues/783

[2017-08-07 13:26] #785 closed

[2017-08-07 14:46] johnreytanquinco commented on #783
Hi @bparees , thanks for your suggestions.
For:

Are the steps will look like this?
[code]
Thanks!

[2017-08-07 15:07] bparees commented on #783
@johnreytanquinco not quite:

[code]

Again, this is going to leave the container in a state where signals are sent to the shell script, not to the apache process, so things like clean shutdown will not work properly unless you setup the shell script to relay the signals to the apache process.

[2017-08-07 21:37] akostadinov opened #786 "Allow installing RPMs from configured builder image repos"
Hello, IMO it's ultimate to allow installing list of RPMs from the already configured repositories in a builder image. We can't bloat builder images with everything, on the other hand many apps will miss dependencies.

Originally I filed [bug 1470866](https://bugzilla.redhat.com/show_bug.cgi?id=1470866) and you can see it for one specific use case. In short tried to create a `sopel` IRC bot app wi

[2017-08-07 21:39] bparees commented on #786
if your image runs as root your assemble script will run as root and can install all the rpms it wants.

however that image may or may not be allowed to run as an s2i builder on your openshift cluster.

[2017-08-07 21:39] #786 closed

[2017-08-07 22:00] akostadinov commented on #786
Can't we figure out a way to install packages as non-root? Presently there is no good solution for Online where root execution would not be allowed AFAIK.

[2017-08-07 22:03] bparees commented on #786
if you were to find a way (such as described here: https://superuser.com/questions/209808/how-can-i-install-an-rpm-without-being-root) then you wouldn't need s2i to do anything, you can put whatever non-root package installation logic you want into your assemble script.

[2017-08-08 11:00] akostadinov commented on #786
I think the idea is to make app builds as seemless as possible. If user is to create a builder image or setup env with a complicated script, then a lot of the benefits to use s2i would be lost. IMO it's OpenShift job to just take a list of packages and deal with the details in whatever way.

[2017-08-08 12:46] bparees commented on #786
Disagree. Among other things, package management is image/distribution
specific. It is beyond s2i's scope to manage all the myriad ways software
can be installed into an image. Its responsibilities with respect to that
end at the assemble script.

Ben Parees | OpenShift

On Aug 8, 2017 07:00, "Aleksandar Kostadinov" <notifications@github.com>
wrote:

[2017-08-08 17:51] akostadinov commented on #786
I think for UX it's important to allow package installations, especially for languages relying a lot on local libraries a lot like python. Putting the burden on the user to take care of the myriads of ways native packages can be installed on different base operating systems is IMO not a solution. I think we want to save users from that burden as part of the OpenShift project.

Provided we build im

[2017-08-08 18:35] bparees commented on #786
then write a python s2i builder image that solves the problem for python.

it's an intractable problem.

both.  S2I is designed with limited power to provide a constrained environment intentionally, it's not intended to replace the full power provided by dockerfiles.  If you want to do arbitrary things, you do a docker build.

I'll refer you to the summary of s2i goals/advantages here:
https://doc

[2017-08-08 18:35] bparees commented on #786
in other words, these restrictions are features, not bugs/limitations.

[2017-08-08 19:07] akostadinov commented on #786
"restricting build operations instead of allowing arbitrary actions", installing a package from already configured repos is not an arbitrary operation and is under control of the PaaS operator. I think it will unleash the power of Red Hat technology for OpenShift Online users.
Even though you disagree, thank you for taking the time for this conversation.

[2017-08-10 17:16] saikrishnareddygudipati opened #789 "s2i build error: Invalid reference format"
Hello everyone,

I am running into an s2i build error invalid reference format and I couldn't find any solution for this. can  you guys help me out in solving this ???.

I0810 16:51:38.781182     320 sti.go:369] error: Execution of post execute step failed
I0810 16:51:38.781208     320 docker.go:948] Removing container "bcc0f25b8e884536e242e132b755a723cc63ee49d1f09c5587cdbae7aa3cee7e" ...
I0810 16

[2017-08-10 17:25] reddyrocks commented on #782
Okay here is what I am doing, I have my s2i running on a jenkins slave and when I am trying to build docker image using source code and base docker image to deploy on to openshift.  I cannot share the full log down here as it is has some confidential data  but the scenario is this.
I0809 18:07:28.951022     325 tar.go:320] Adding to tar: /tmp/s2i325905238/upload/src/src/main/resources/META-INF/bea

[2017-08-10 18:08] bparees commented on #782
How are you running the jenkins slave?  How are you making the docker socket available to the jenkins slave?

does this fail for all s2i builds?  can you try running a basic s2i build instead and giving me the full logs for that? ie:

[code]

[2017-08-14 15:03] dobbymoodge opened #793 "Windows s2i instance naming breaks pruning script"
https://github.com/openshift/source-to-image/blob/112f0d4fd5163e57b1d9414dabc81f905f38a212/hack/windows/Vagrantfile#L19

This line yields instances named like "`origin_test_pull_requests_s2i_windows_258-windows`". The suffix "`windows`" is redundant, and it breaks the verifier instance matching regexes in our pruning scripts - specifically this one: https://github.com/openshift/li/blob/9618207bcf5

[2017-08-15 21:31] #793 closed

[2017-08-22 15:51] bparees commented on #739
Unfortunately s2i overrides the CMD and not the ENTRYPOINT so your image must either

1) not specify an entrypoint or
2) specify and entrypoint that will defer to invoking the arguments it receives from the CMD, e.g.:
https://github.com/sclorg/s2i-base-container/blob/master/core/root/usr/bin/container-entrypoint
(can be wrapped such that if $@ is empty, it runs other logic instead)

[2017-08-22 15:51] #739 closed

[2017-08-26 03:43] magick93 opened #797 "Custom s2i - separate builder and runner images - how to copy binary?"
Hello

I am working on a custom s2i image. The use-case is, I want to to compile c++ code using a dedicated builder image. Then when the source is compiled, I need to copy the binary artifact to another image, used exclusively for running the application.

I have already created the builder image - and it is compiling the source code.
I have created a separate folder and dockerfile for the runner

[2017-08-26 03:55] bparees commented on #797
are you intending to do this on openshift or in a standalone environment?

[2017-08-26 04:28] magick93 commented on #797
The intention is to ultimately do this in OpenShift.

But, Im taking it one step at a time. So, standalone, initially, is fine.

[2017-08-26 13:05] bparees commented on #797
well if openshift is your target, this is the way to do it:
https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds

doing it outside openshift is a bit trickier.  There is the "extended build" pattern in s2i which enables this, but we're largely moving away from that.  You could also just use "docker cp" to extract the compiled content from your

[2017-09-01 10:29] magick93 commented on #797
Hi @bparees

Doing this in OpenShift does look much cleaner - but honestly, Im confused!

I am making some progress! I have a builder image. I am able to pull source from git, into my builder image. The builder image successfully compiles the (cpp) code.

[code]
Next I want to take the compiled artifact, and using another docker image - a runner image - make a new image, or new tag of the runner i

[2017-09-01 15:26] bparees commented on #797
it'll be easier for you to use imagestreams, but the key issue you're having right now is that since you are using direct DockerImage references, and you haven't indicated a repository, your images are being pushed to docker.io by default.  That means you are trying to push to "docker.io/myrunner:10.1" which, as the error indicates, is a root repository on docker.io and you're not allowed to push

[2017-09-05 14:18] bparees commented on #789
closing due to lack of information.

[2017-09-05 14:18] #789 closed

[2017-09-05 14:19] bparees commented on #782
closing due to lack of information.

[2017-09-05 14:19] #782 closed

[2017-09-08 17:27] oookotooo opened #799 "Develop branch project build"
Hello

Is there a possibility to build a project from develop branch?

[2017-09-08 19:36] bparees commented on #799
yes, use the --ref flag.  --ref can be any valid git reference (tag, commit, or branch).

[2017-09-08 19:36] #799 closed

[2017-09-13 15:55] rezie commented on #797
@bparees Was there a reason why the runtimeImage feature was removed? I realize that it's described as tech preview, but was curious to know if you knew why.

[2017-09-13 16:02] bparees commented on #797
@rezie we decided that the chained builds approach in openshift was more flexible and simpler to support than the runtime-image feature in s2i.  (among other things, chained builds allows you to chain a docker+s2i build together, so you can use an s2i build to produce your artifacts and a docker build to layer them into your application image, for example).

https://docs.openshift.org/latest/dev_g

[2017-09-18 06:07] magick93 opened #800 "assemble: not found"
Hello

Im making a builder image (for compiling cpp). The docker image builds without errors. But when I try to use it as a s2i builder, I get following error:

[code]

**Dockerfile**

[code]

When I build the s2i builder, I do notice that `whereis assemble` returns empty.

Does anyone know why the s2i assembly file is missing?

[2017-09-18 06:21] magick93 commented on #800
Ah, stupid mistake!

I forgot the `bin` folder.

[2017-09-18 06:21] #800 closed

[2017-09-18 22:26] magick93 opened #801 "fix-permissions: Permission denied"
Hello

Im trying to make a custom s2i image for compiling c++ projects.

But I am running into permission issues when Openshift pulls in the git repo of source.

Im trying to solve this by using the `fix-permissions` bash script.
But I get permission errors running this:

`/bin/sh: 1: /usr/local/s2i/bin/fix-permissions: Permission denied` 

Does anyone know what the problem might be?

**Dockerfile

[2017-09-18 22:36] bparees commented on #801
sounds like your fix-permissions script might not be executable?

you're getting that error when doing the docker build?

[2017-09-18 22:50] magick93 commented on #801
Yes, am getting this while doing docker build.
And yes, youre right  - I had forgotten to give the script executable permissions.

Is it recommended to use the fix-permissions script in the dockerfile or `assemble`?

[2017-09-19 01:47] bparees commented on #801
It was intended for use during assemble.  But you can use it anytime you find it useful.

[2017-09-19 01:47] #801 closed

[2017-09-19 23:36] magick93 commented on #797
Hello

I have some further questions related to developing a builder and runner s2i project.

**Copying multiple files from builder to runner**
On the docs, at https://docs.openshift.com/container-platform/3.5/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds there is the following example:

[code]
How would I copy several artifacts? For example, I am compiling a cpp applic

[2017-09-20 01:39] bparees commented on #797
you can have as many paths entries as you want.  the source can also be a directory instead of a specific file.

see more docs here:
https://docs.openshift.org/latest/dev_guide/builds/build_inputs.html#image-source

you can try using "oc export bc/yourbuildconfig" but it may still not be as clean as you want it, getting cleaner exports is something we're working on.  In the meantime, you may still

[2017-09-21 18:20] deads2k commented on #614
@legionus @jim-minter this introduced a cyclical dependency between source-to-image and origin.  Since we flatten the vendor tree in origin, the cycle meant we couldn't move or eliminate our package (we had no need for it to be exposed in openshift).

[2017-09-25 10:14] cchet opened #805 "Always getting S2I failed to install [assemble run]"
Every time when I try to build, I get the following error and I'm not sure why, because the files are available in the image and are executable. Am I missing something ? What can be the reasons for this message ?

## Log of ' s2i --loglevel 5 --ref master build https://github.com/cchet-thesis-msc/app-camel cchet/openshift-app-camel:0.1'
cchet/openshift-app-camel:0.1
I0925 12:04:26.534099    1559 m

[2017-09-25 10:23] cchet commented on #805
Used wrong URL scheme **file://** instead of **image://**.

[2017-09-25 10:23] #805 closed

[2017-09-26 14:53] TomasTomecek opened #806 "buildah support"
Hi, are there any plans to support other container runtimes? The one I have in mind is [buildah](https://github.com/projectatomic/buildah).

[2017-09-26 15:06] bparees commented on #806
Not at present, we are however considering adding a feature to let you generate a Dockerfile from the s2i invocation and you could then build that dockerfile with whatever runtime you want.

[2017-09-26 15:06] #806 closed

[2017-09-27 21:27] magick93 opened #807 "user that is numeric and within the range of allowed users"
Hello

I have created a custom s2i image. However when I try to use this in OpenShift, the compilation of the source code never occurs. Instead I get:

[code]

However my dockerfile looks like this:

[code]

[2017-09-27 22:12] bparees commented on #807
it looks correct to me, i'd ask you to confirm that the image that openshift is running is indeed the correct one (did you have an earlier version of your image that did not specify USER 1001?).

you can check by doing a docker pull 172.30.1.121:5000/mt4/s2i-cpp@sha256:770207022c021c677f8050f56c782bafd4a3e8d4baff7710662d2eb0bb8b8ae9

and then a docker inspect 172.30.1.121:5000/mt4/s2i-cpp@sha256:7

[2017-09-27 22:22] bparees commented on #807
also i'm not sure why you're copying s2i into this image.

[2017-09-27 22:53] magick93 commented on #807
yes I double checked the sha - it the correct s2i builder being used.

Im copying a local s2i folder that contains the assemble etc scripts.

Its a completely fresh s2i image - not extending from any existing s2i image.

[2017-09-27 22:56] bparees commented on #807
that doesn't matter. you don't need s2i inside an s2i builder image.  it's not used.  only your assemble script and run scripts are going to be executed.

Where did your cluster come from?  perhaps your administrator has it locked down in an unusual way such that 1001 is not within the allowed uids.

are you able to use any of the existing s2i builder images on this cluster, within your project?

[2017-09-27 22:59] bparees commented on #807
did you double check that when you docker inspect the image, it reports the default user as 1001?

e.g.
[code]

[2017-09-27 23:08] magick93 commented on #807
Ok. Yes inspect shows it defaults to `root`:

[code]

[2017-09-28 00:16] bparees commented on #807
So you have not built what you think you've built. :)

[2017-09-28 00:32] magick93 commented on #807
Its more confusing!
I have two project. And have built the same s2i project in both
And got different results.

[2017-09-28 00:37] bparees commented on #807
you must have pushed different images to the different projects.

[2017-09-28 03:27] magick93 commented on #807
I found the problem. I had an extra `\` in my installs section of the dockerfile.

Thanks for your help @bparees

[2017-09-28 03:27] #807 closed

[2017-09-28 06:23] magick93 opened #808 "Create service"
Hello

When I create a new application using `oc` and specify a s2i image - it creates a buildconfig and a deployment config.

The application image needs to be exposed via a route. And a route needs a service.

How do I then create a service - and ideally a route - when creating a new application - while specifying the s2i to use?

Thanks

[2017-09-28 11:55] bparees commented on #808
oc expose

[2017-09-28 11:55] #808 closed

[2017-09-29 13:52] ErikLundJensen opened #810 "Error executing 's2i build' at Windows. Looks like newline \r is inserted into filename"
When using version source-to-image-v1.1.7-226afa1-windows-amd64 at Window 7 then I get an error which looks like newline is not handled probably.

An extra \r is inserted into the filename.
Is this a known bug?

s2i build http://bitbucket-devtools.192.168.99.101.nip.io/scm/dem/demo-jenkins.git openshift/jenkins-2-centos7 demo-jenkins
Your branch is up-to-date with 'origin/master'.
---> Copying rep

[2017-09-29 14:06] ErikLundJensen commented on #810
A work-a-round is to remove all empty lines from the plugins.txt however after that the download fails as an extra \r is inserted in the download filename:

Downloading plugin: maven from https://updates.jenkins-ci.org/download/plugins/maven/2.17
/maven.hpi

Really looks like the plugs.txt have to have unix line-ending.

[2017-09-29 14:15] bparees commented on #810
Yeah this doesn't sound like an s2i bug, s2i is just sending the file as it exists on disk (which it got from a git clone).

Where did you get your plugins.txt from?

[2017-09-29 14:17] ErikLundJensen commented on #810
I wrote the plugins.txt in Eclipse running at Windows.

[2017-09-29 14:18] bparees commented on #810
well that's why it has windows newlines in it then...  use a tool to strip them, e.g. https://sourceforge.net/projects/dos2unix/

(not an endorsement of any particular tool).

[2017-09-29 14:22] ErikLundJensen commented on #810
You are right, it must be the script that handles the plugins.txt file here:
https://github.com/openshift/jenkins/tree/master/2/contrib/jenkins/install-plugins.sh

Please close this issue.

[2017-09-29 14:29] #810 closed

[2017-10-01 19:36] magick93 opened #811 "How to give ownership to USER for home directory?"
Hello

I am trying to run an application that needs to create a folder and files in the users home directory.

If it finds that the user does not own the home directory, it will not start.

In the dockerfile I have tried:

`ENV HOME /home/user` and
[code]

And I have also tried  `$STI_SCRIPTS_PATH/bin/fix-permissions $HOME `.
These didnt work.

I have also tried, in the `assemble` file:
`chown -R

[2017-10-01 20:13] bparees commented on #811
see "support arbitrary uids" in this docs:
https://docs.openshift.org/latest/creating_images/guidelines.html#openshift-origin-specific-guidelines

[2017-10-01 20:13] #811 closed

[2017-10-02 00:42] magick93 commented on #811
I have tried the advice in the link above.

Now, in my dockerfile I have the following. I have added the `uid_entrypoint` in the s2i just for convenience - as I am already adding this. I have also run `chmod +x /usr/local/s2i/bin/uid_entrypoint`.

[code]

The builder image builds without problems. However, during assemble - taking source and producing an application image - it fails with following

[2017-10-02 02:04] bparees commented on #811
are you able to run s2i builds on your cluster using other s2i builder images?

please provide the full build logs, not an excerpt.

[2017-10-02 03:16] magick93 commented on #811
Yes, I can run other s2i builder images without problems.
The full build log is:

[code]

[2017-10-02 03:25] bparees commented on #811
your s2i builder image has to have an ENTRYPOINT that just executes the args provided to it:

if you are not already extending one of these images, i suggest you do so:
https://github.com/sclorg/s2i-base-container/tree/master/core

see:
https://github.com/sclorg/s2i-base-container/blob/master/core/Dockerfile#L66
https://github.com/sclorg/s2i-base-container/blob/master/core/root/usr/bin/container-e

[2017-10-02 03:34] magick93 commented on #811
Sorry, I dont understand. I cannot see any example of args being passed to the ENTRYPOINT.

Unfortunately I need to use a completely custom s2i. The image needs to be from an i386 image.

It was almost working. Meaning, the build image would compile. The assemble word complete successfully. It was only failing on the deploy as the application has special requirements that it needs to access a fold

[2017-10-02 03:43] bparees commented on #811
that is what s2i does under the covers.  effectively it is running "docker run yourimage /usr/bin/assemble" (or something close to that, along w/ some additional config)

You have taken the doc a bit too literally.  The only relevant point for you is that you should chgrp the home directory to "root" and chmod g+rwx the homedirectory (And potentially do so recursively if there are files within the

[2017-10-02 03:49] magick93 commented on #811
Unfortunately this doesnt work.

My application has some checks that I unfortunately cannot relax. It will not run unless it is has access to a directory that the user is also the owner.

I have tried every possible chmod and chgrp - but without knowing the UID of the user who will run the container, how can I possibly make the user who runs the app the owner?

[2017-10-02 03:52] magick93 commented on #811
I followed the example, yes, literally:

And it resulted in the above error.

[2017-10-02 03:54] bparees commented on #811
I have tried every possible chmod and chgrp - but without knowing the UID of the user who will run the container, how can I possibly make the user who runs the app the owner?

the solution in that case is to create a new directory (either in /tmp, or in some other dir that you've made writable in your image) as the first thing in your run script.  That dir will then be owned by the current contain

[2017-10-02 04:02] magick93 commented on #811
I think I have tried this, but will try again.

Thanks @bparees

Will let you know how it goes.

[2017-10-02 06:11] magick93 commented on #811
Unfortunately

did not work.

This is my `run` script:
[code]

[2017-10-02 06:35] magick93 commented on #811
Ah - my mistake.

[code]

I will do some more investigation as to why this isnt working.

[2017-10-02 23:11] magick93 commented on #811
@bparees - thank you for your patients and your advice. Your suggestion worked perfectly.

Thanks again.

[2017-10-02 23:58] bparees commented on #811
great!

[2017-10-02 23:58] bparees commented on #811
(and you're welcome!)

[2017-10-04 10:03] TomasTomecek commented on #806
Why would you want to commit to dockerfiles?

[2017-10-04 13:50] bparees commented on #806
because for better or worse, dockerfiles are now the standard way to define image shape, regardless of what tool you actually use to construct the image.

[2017-10-05 05:19] TomasTomecek commented on #806
That's what worries me: will they be a standard way in one year? Or three years?

[2017-10-05 13:58] bparees commented on #806
They'll certainly be *a* standard.  and if something else comes along, we can always add support for producing that too.

[2017-10-06 06:56] TomasTomecek commented on #806
okay, sounds reasonable

[2017-10-11 20:24] Computician commented on #419
FWIW, I am having the same issue. Numerous files are extracted from the archive into `/tmp` instead of their originally archived directory `/tmp/stc/original/path/to/file`.

This is on OSX 10.11.6, s2i v1.1.7 and v1.1.6 being extracted onto a Centos7 image.

This is a Java application with some nasty directories, but none of them are above 256 bytes in length from what I can tell (double checking)

[2017-10-12 11:10] csrwng commented on #419
@Computician is this a public repository that we can use to reproduce locally?

[2017-10-12 12:32] Computician commented on #419
@csrwng sadly no. Let me see if I can create a test application that causes the same failure.

[2017-10-12 15:09] wangchong666 opened #815 "image dotnet/dotnet-20-rhel7:latest not found"
ERROR: An error occurred: unable to get dotnet/dotnet-20-rhel7:latest
ERROR: Suggested solution: check image name, or if using local image add --pull-policy=never flag
ERROR: If the problem persists consult the docs at https://github.com/openshift/source-to-image/tree/master/docs. Eventually reach us on freenode #openshift or file an issue at https://github.com/openshift/source-to-image/issues pro

[2017-10-12 15:26] bparees commented on #815
unless your docker daemon lists registry.access.redhat.com as a default registry, you need to specify the full path to the image:
registry.access.redhat.com/dotnet/dotnet-20-rhel7

(and though those images are not currently secured, you should only be using them w/ an appropriate subscription. there is no centos version available currently).

[2017-10-12 15:26] #815 closed

[2017-10-12 23:11] magick93 opened #816 "cannot unmarshal"
Hello

In our team we are trying to use the same s2i builder image that we also use in OpenShift - to simplify and make consistent the development environment.

However two developers are getting similar, but not identical, errors.

In both cases there seems to be a Go unmarshalling error:
`cannot unmarshal object into Go struct field Process` and `cannot unmarshal number into Go value of type str

[2017-10-13 01:07] bparees commented on #816
doesn't have anything to do w/ the builder image.  this appears to be a docker daemon issue.

is there anything interesting in the docker daemon logs?

[2017-10-13 01:08] bparees commented on #816
also please confirm you can docker run and docker build images on both of these environments.

[2017-10-18 15:20] burdiyan opened #819 "Implement incremental builds with runtime image"
Right now s2i does not allow to use incremental build when using runtime images and throws the following error: `ERROR: Incremental build with runtime image isn't supported`.

I would like to know what is the reason of disallowing that (whether there is some technical implications or just lack of time to implement and test it).

I always use a runtime image, event for dynamic languages (my builder

[2017-10-18 15:33] bparees commented on #819
dupe of https://github.com/openshift/source-to-image/issues/738, see response there for another workaround.

[2017-10-18 15:33] #819 closed

[2017-11-07 13:00] TomasTomecek opened #822 "s2i segfaults (source-to-image-1.0.9)"
[code]

This is fedora rawhide and `source-to-image-1.0.9-7.fc27.x86_64`

Edit: so the issue seem to be that s2i expects this to be a file: `~/.docker/config.json`, but in my case, it was a directory -- no idea if docker created it.

[2017-11-07 13:18] TomasTomecek commented on #822
Tried upstream git master and it works -- can you please update this in Fedora? @humaton @ingvagabund @hhorak

[2017-11-07 13:53] bparees commented on #822
I don't know who maintains the fedora package but it isn't us.  Maybe open a BZ?

[2017-11-07 13:53] #822 closed

[2017-11-07 13:57] TomasTomecek opened #823 "`s2i usage` prints in odd streams"
[code]

I'm not interest in the log line, so I expected that `-q` would disable it:

[code]

Hm, that's the exact opposite of what I want. Would it be possible to change that behaviour?

One way to solve this is doing:
[code]
Which I guess is okay, but I would still prefer a s2i-native solution where I don't have to tinker around my shell.

[2017-11-07 14:02] bparees commented on #823
s2i usage just outputs the usage script from your image.

i'm not seeing the log line that you're seeing, perhaps the log level has been changed in a newer s2i version:

[code]

[2017-11-07 14:02] #823 closed

[2017-11-07 14:07] TomasTomecek commented on #823
perhaps the log level has been changed in a newer s2i version

Seems so, this s2i from git master.

[2017-11-07 14:09] bparees commented on #823
@TomasTomecek what i ran was master.

[2017-11-07 14:11] TomasTomecek commented on #822
https://bugzilla.redhat.com/show_bug.cgi?id=1510476

[2017-11-07 17:10] #816 closed

[2017-11-07 18:11] #772 closed

[2017-11-08 07:49] TomasTomecek commented on #823
Hm, I don't understand then.

[2017-11-08 10:27] TomasTomecek commented on #823
I do now: the issue is present in older version and fixed in the new one.

[2017-11-09 03:14] aizuddin85 commented on #758
We are having same issue here too.
[code]

[2017-11-09 23:18] asottile opened #824 "Clarify why incremental + runtime builds are prohibited"
I'm reaching for something like this but [the documentation](https://github.com/openshift/source-to-image/blob/master/docs/runtime_image.md#extended-build-and-incremental-build) indicates this is prohibited.

I'm hoping to understand more of the _why_ here.  Is it not possible given the current architecture or just not implemented?

[2017-11-09 23:23] bparees commented on #824
not implemented, but not likely to be implemented as the extended build feature was ultimately deemed to be an unnecessary re-invention of capabilities that exist elsewhere.

for example, docker multistage builds allow you to extract content from one image and layer it into another:
https://docs.docker.com/engine/userguide/eng-image/multistage-build/#use-multi-stage-builds

and openshift chained b

[2017-11-09 23:23] #824 closed

[2017-11-09 23:37] asottile commented on #824
Sounds great -- for others looking for something like this I'm essentially using these steps:

[code]

[2017-11-10 02:43] nnachefski opened #825 "go-md2man dependency breaks s2i-base build on rhel7"
## From a RHEL7 system

### get and install the s2i tool
wget https://github.com/openshift/source-to-image/releases/download/v1.1.8/source-to-image-v1.1.8-e3140d01-linux-386.tar.gz
tar -xzvf source-to-image-v1.1.8-e3140d01-linux-386.tar.gz
cp s2i /usr/bin

### install make and gcc
yum -y install make libtool

### git clone the s2i base
cd ~
git clone https://github.com/sclorg/s2i-base-container.gi

[2017-11-10 02:49] bparees commented on #825
this isn't a source to image issue.  please open your issue against the s2i-base-container repo.

[2017-11-10 02:49] #825 closed

[2017-11-10 16:06] bparees commented on #533
closing as won't fix (not high enough impact and the fixes are unpalatable)

[2017-11-10 16:06] #533 closed

[2017-11-10 16:07] bparees commented on #659
closing, if circumstances eventually force us to move then we will move, until then we won't pursue it.

[2017-11-10 16:07] #659 closed

[2017-11-10 17:51] jainmnsh opened #826 "s2i - committing the image due to error: invalid reference format"
Hello,
I am getting an error when Building image using s2i tool. : invalid reference format error while doing build using s2i. I have attached following information.

s2i v1.1.7-dirty
Docker version 17.06.2-ce, build cec0b72
OS : macOs 10.12.6
s2i build <github-->nodejs application > registry.access.redhat.com/rhscl/nodejs-6-rhel7:latest  my/loadTesting --loglevel=3

ERROR
I1110 09:43:14.441094

[2017-11-10 18:09] csrwng commented on #826
Hi @jainmnsh,
What is the purpose of the redirect in your command line?
[code]

[2017-11-10 18:40] jainmnsh commented on #826
@csrwng sorry, typo while reporting the command. I meant "nodejs application repo" but my issue is resolved after i change the casing of new image . from "my/loadTesting" to "my/loadtesting" and it worked. thanks for your help.

[2017-11-10 18:41] csrwng commented on #826
@jainmnsh thx, good to know.

[2017-11-10 18:45] csrwng commented on #826
Investigating whether we should guard against tags with upper case letters

[2017-11-10 18:56] csrwng commented on #826
So I reproduced the behavior on Docker for Mac 17.09 and 1.13.1 (last version before CE). Both failed committing the image.

@bparees do you think it's worth validating in the s2i build command whether you're passing something with uppercase letters ?

[2017-11-10 19:16] bparees commented on #826
Depends.  On linux we get a nice error already:
[code]

but if that has changed on docker 17, then yes it probably is since the error that @jainmnsh got is pretty obscure.

[2017-11-10 19:17] bparees commented on #826
I guess the short answer is yes, let's just do the validation.  it's easy and will save diagnosing this again in the future if we can't count on docker to report a good error.

[2017-11-13 23:08] #826 closed

[2017-11-16 16:14] asottile opened #831 "`--incremental` build leaks anonymous image"
The specific builder I'm using isn't important, I've tested it with a trivial builder as well.

### reproduction

[code]

### output

[code]

[2017-11-16 17:02] asottile commented on #831
Adding a little more debugging information:

[code]

[code]

The image that it is leaking is the "incremental" image, despite overwriting the tag to the new image.

[2017-11-16 19:01] bparees commented on #831
If i'm understanding what you're seeing, I would consider that working as designed.

you have an image:tag1 on your system with id "1".

If you create a new image also tagged as image:tag1 on your system with id "2", the image with id "1" is not deleted, it just loses its tag.

That's just how docker works and I don't think it's appropriate for s2i to be deleting your old images.

(you would see t

[2017-11-16 19:07] asottile commented on #831
Ah yes indeed,  that makes sense.

[2017-11-16 19:07] #831 closed

[2017-11-16 20:42] asottile opened #832 "Potential improvements to I/O wrt /tmp/artifacts and /tmp/src"
I've been playing a lot with incremental builds recently and trying to optimize some of the time spent in them, here's some of the things I've noticed and potentially some improvements that can be made there:

1. `/tmp/artifacts` and `/tmp/src` are added to the builder, nearly every builder must `rm -rf /tmp/artifacts /tmp/src` as part of `assemble`
    - this is pretty easy to forget and can caus

[2017-11-16 23:36] asottile commented on #832
An idea for 3. would be to change the tar protocol to a docker volume:
- create a docker volume
- run `save-artifacts-v2` in an old image, this script now has the responsibility of copying artifacts into `/tmp/artifacts` (the docker volume, mounted `rw`)
- mount the docker volume to `/tmp/artifacts` (`ro`), `assemble` can copy things out of it

[2017-11-16 23:57] #797 closed

[2017-11-17 00:05] bparees commented on #832
they should do a mv to move the artifacts/source to the desired location, not a cp+rm -rf:
https://github.com/sclorg/s2i-python-container/blob/master/3.6/s2i/bin/assemble#L15

obviously the second copy is inevitable.  The first one could potentially be avoided but i believe today we use the /tmp/s2iXXX as a working dir and do some manipulation of the source there, that can't be done on the user's

[2017-11-17 00:22] asottile commented on #832
https://github.com/sclorg/s2i-python-container/blob/master/3.6/s2i/bin/assemble#L15

ah I guess I was assuming more than checking things -- I've been avoiding `mv` here as it pulls in a bunch of unnecessary things that would usually get filtered out by `.dockerignore` / etc.

I'll look into the other things but I don't really want to add to the tangle 😆

[2017-11-17 00:31] asottile commented on #832
Seems the primary confusing is I usually like to assume source is immutable during builds whereas s2i allows (encourages?) mutation -- I'll think about this some more :)

[2017-11-17 18:48] asottile commented on #832
fwiw, here's a prototype of how `/tmp/artifacts` as a volume (instead of `tar`) might work: https://github.com/asottile/minis2i/pull/1/files

[2017-11-20 13:35] burdiyan commented on #832
Point 3 is really a stopper for us to use s2i. Incremental builds with large node_modules folder with many small files is very slow because of streaming those files to the host, and then to the build container.

I was about to post some proposals for improving that and found out this issue. The solution with volumes can really speed up incremental builds and also can bring some other benefits:

-

[2017-11-20 16:55] soltysh opened #833 "Drop github.com/docker/engine-api packages"
This is a continuation of https://github.com/openshift/source-to-image/pull/818 and a post-[1.8 k8s rebase](https://github.com/openshift/origin/pull/17115/) task.
The problem is that `github.com/docker/docker` already contains the types from `github.com/docker/engine-api`, the latter is just an old version of the former. This in the end should clean our vendor dir slightly and eventually lead to a

[2017-11-22 01:26] antonin07130 opened #835 "make test fails on osx high Sierra"
Hi I tried the test script, my s2i image seems to work but when I run the make test script I get the following errors :
[code]

https://github.com/openshift/source-to-image/blob/60a42d774045e6b1ec5c5aabee9c0ec6d1bbd7e6/examples/nginx-centos7/test/run#L17

[2017-11-22 01:27] antonin07130 commented on #835
Also I modified the make script to take into account corporate proxy when building an image. I guess this is a frequent use case.

[2017-11-22 14:38] csrwng commented on #835
@antonin07130 please install coreutils using brew:
[code]
This will give you the GNU version of readlink and mktemp (as greadlink and gmktemp)

[2017-11-23 12:12] antonin07130 commented on #835
thanks @csrwng I try that right now.
Also, I am creating this s2i image from a git repo, and I've noticed that the test scripts changes my git properties (user.email user.name).

[2017-11-28 13:07] #833 closed

[2017-12-07 15:17] mikz opened #838 "runtime error: invalid memory address or nil pointer dereference when assemble-runtime creates image_metadata.json"
[code]

version 1.1.7 fails with

[code]

[code]

[2017-12-07 15:21] bparees commented on #838
@mikz s2i version?

[2017-12-07 15:24] mikz commented on #838
@bparees 1.1.7, updating to 1.1.8 does not fix the issue.

1.1.8 trace:

[code]

[2017-12-07 15:26] mikz commented on #838
The assemble works just fine when adding labels to docker. The crash happens only when  `assemble-runtime` uses the `/tmp/.s2i/image_metadata.json`: https://github.com/3scale/apicast/blob/4e4510dcc41f2408f15dda9277e404152ff68039/gateway/.s2i/bin/assemble-runtime#L10-L16

[2017-12-14 22:29] Luladjiev opened #839 "No executable permissions on s2i scripts on Windows"
I have the same problem as #620 but when I create an app with minishift on Windows system

[code]

Is this a problem in s2i or in minishift?

[2017-12-14 22:32] bparees commented on #839
Likely neither.  What s2i builder image are you trying to use?

[2017-12-14 22:33] bparees commented on #839
And how did you "create an app"?  This looks like you're just trying to run one of the s2i builder images directly (they default to printing out their usage information) w/o having actually run an s2i build to add your app's source code and produce an application image.

[2017-12-14 22:36] Luladjiev commented on #839
The image I use is openshift/base-centos7

this is the Dockerfile

[code]

The steps I made are:
[code]

[2017-12-14 22:37] Luladjiev commented on #839
If I try

[code]

it works as expected

[2017-12-14 22:42] bparees commented on #839
this does an s2i build using esport-centos as the s2i builder image.  not surprising it works.

this is going to detect the Dockerfile in your repo and setup a Docker strategy build that effectively does a "docker build ." on your repository.  Since your Dockerfile ends with:

https://github.com/LunixGames/Esport-Schedule/blob/master/Dockerfile#L28

The image it produces is going to try to run tha

[2017-12-14 23:01] Luladjiev commented on #839
Ahh I see, thanks. Closing the issue.

[2017-12-14 23:01] #839 closed

[2018-01-05 13:20] coreydaley commented on #838
@mikz Can you please check the value of the io.openshift.s2i.assemble-input-files label on your runtime image and make sure that the source and destination exist?

[2018-01-05 19:56] coreydaley commented on #527
@jawnsy Are you still interested in creating a pull request for this enhancement or should we go ahead and close this issue?

[2018-01-05 20:03] bparees commented on #527
even if this were contributed i would not want to support the fallout from it.

[2018-01-05 20:03] #527 closed

[2018-01-05 20:03] coreydaley commented on #835
@antonin07130 Did @csrwng 's suggestion resolve your issue?

[2018-01-06 01:28] coreydaley commented on #758
@aizuddin85 Can you please provide more information such as steps to reproduce the error and perhaps test files?

[2018-01-09 16:56] coreydaley commented on #838
@mikz bump

[2018-01-09 17:01] mikz commented on #838
@coreydaley yes both the source and destination are there. The build works just fine and it starts segfaulting only when it creates `/tmp/.s2i/image_metadata.json`.

[2018-01-10 13:03] mikz commented on #838
@coreydaley https://github.com/3scale/apicast/pull/524/commits/9fd880e743f162577d325e2a7adba77a7e8cca5f fixes the segfaulting build, so just creating that file (even just empty json `{}) will make it crash

[2018-01-12 04:47] coreydaley commented on #206
@bparees
The only code that I see in newCmdBuild that MIGHT be useful to factor out into something reusable is https://github.com/openshift/source-to-image/blob/master/pkg/cmd/cli/cmd/build.go#L100-L123

So, with that being said:
- Do you see other code that would be useful?
- Is it worth it?
- Is this github issue still relevant?

[2018-01-12 15:48] bparees commented on #206
not worth it.

[2018-01-12 15:48] #206 closed

[2018-01-19 02:38] magick93 opened #842 "Chained builds question"
Hello

I'm trying to figure out how to deploy Keycloak along with one or more custom themes.

I can deploy Keycloak as a docker image, using one of the images on https://hub.docker.com/r/jboss/keycloak-openshift/tags/

Is it possible to then have an image stream that would take source (for a custom theme) from git, build the theme, and copy it into a new image, based on the above docker keycloak i

[2018-01-19 03:20] bparees commented on #842
yes, that's basically what chained builds are for:
https://docs.openshift.org/latest/dev_guide/builds/advanced_build_operations.html#dev-guide-chaining-builds

you would use the first build (either an s2i or docker build) to produce an image containing the theme.

you'd then use the second build (probably a dockerbuild) to add the theme (from the first image) to the second image (via a dockerfile)

[2018-01-19 03:20] #842 closed

[2018-01-19 10:23] TheMidgardWatcher commented on #722
Hi guys, I have same question - Is it possible to run some commands inside assemble/run scripts as root user?

[2018-01-19 14:24] bparees commented on #722
@TheMidgardWatcher the scripts run as the default user for your image.  if it's root, they'll run as root (note that when running on openshift, there are additional restrictions that may prevent this).

in theory you may also be able to sudo from within your script, depending again on the constraints placed on the container environment.

[2018-01-20 14:52] davidmason opened #843 "Windows defender reports Trojan:Win32/Azden.A!cl for s2i.exe and sti.exe"
I tried installing the latest s2i on Windows 10 Home, using `source-to-image-v1.1.8-e3140d01-windows-amd64.zip` and the binaries disappeared after I extracted them. Turns out Windows Defender identified them as containing "Trojan:Win32/Azden.A!cl" and quarantined them.

Is this a true positive? False positive?

[2018-01-21 03:49] davidmason commented on #843
I ran the zip from the releases page through VirusTotal and it got a hit on one hit: https://www.virustotal.com/#/url/67756d6d0f78c49594e91ee6f0d779908c74554012128c7da8c795b040647de2/detection

but when I ran each of the .exe files in the zip individually, it didn't get any hits. Looks like a reasonable bet that it's a false positive.

[2018-01-21 03:51] davidmason commented on #843
@bparees I suggest adding a note to the Windows instructions that Windows Defender may have a false positive hit on these files.

[2018-01-22 15:15] bparees commented on #843
done https://github.com/openshift/source-to-image/pull/844

[2018-01-23 06:31] eliu opened #845 "How to build an S2I image and running as a "Privileged Container" in OpenShift"
I create a s2i builder imagestream into openshift and now for some reason I need s2i to build the repo as a `privileged` container. But I didn't find proper ways to do that.

Right now, i have to waiting for the build process finished and see the warning of the pod then manually edit YAML adding privileged as true in order to make it work.

[2018-01-23 10:41] marthanda93 commented on #845
Please run below command on master
**oc edit scc privileged**
Add the following under **users**:
`   - system:serviceaccount:My_Project:My_SVCACCT
`

Then u can use below code in yml file
[code]

[2018-01-23 12:07] eliu commented on #845
Please see my OP and I got no problem to do setup after s2i builder finishes to build. My question is how to finish this setup during the building process of the s2i builder. It is possible to do that? or i have to do this each time a new app / deployment is created by s2i builder.

[2018-01-23 19:57] bparees commented on #845
please open this issue against openshift origin.

also it's very unclear what you did/are trying to do.  Please provide exact steps and resource yaml where appropriate so we can follow what you have done.

[2018-01-23 19:57] #845 closed

[2018-01-30 20:49] helio-frota opened #847 "panic: runtime error: invalid memory address or nil pointer dereference"
**Fedora 27**
**s2i v1.1.8**

How to reproduce:

1. clone https://github.com/bucharest-gold/centos7-s2i-nodejs
2. pip install docker-squash --user
3. make all

[code]

[2018-01-30 21:07] bparees commented on #847
looks like `file://.` isn't the right syntax, it works fine if you strip the `file://.` and just pass `test/test-app`, or if you use an absolute path `file:///tmp/foo/test-app`

will add logic to prevent the nil pointer error though.

(I think this was a change in golang's url parsing)

[2018-02-01 13:51] bparees commented on #758
closing due to lack of information

[2018-02-01 13:51] #758 closed

[2018-02-04 22:10] #847 closed

[2018-02-21 23:31] #838 closed

[2018-02-27 20:55] simbo1905 opened #850 "incremental build failing with "ERROR: Error reading next tar header: archive/tar: invalid tar header""
I have an s2i with a [save-artifacts](https://github.com/UniqKey/s2i-nginx-php7-container/blob/master/7.1/s2i/bin/save-artifacts) that matches the [documented example](https://github.com/openshift/source-to-image/blob/master/docs/builder_image.md#save-artifacts). When I run s2i multiple times with:

[code]

It outputs:

[code]

I am using:

[code]

If I log into the builder image with `docker run

[2018-02-27 21:25] bparees commented on #850
yeah i've reproduced this but i don't understand it yet:

After building the image once, running:
`docker run -it --entrypoint=/usr/libexec/s2i/save-artifacts hello-composer | tar -tvf -`

reports an invalid tar error and extracts a single partial file (Exception.php, but not even the whole file).

I'm pretty baffled since, as you show, if you actually run the image there's no trouble manually tar

[2018-02-27 21:29] bparees commented on #850
sorry, the `--entrypoint=tar` failures appear to have been caused by the `-it` flags.

`docker run  --entrypoint=tar hello-composer cf - vendor composer.phar | tar -tvf -`

appears to work ok. still investigating.

[2018-02-27 21:32] bparees commented on #850
ah, I see the issue.

your entrypoint for your image is printing content.

[code]

which ends up in the tar stream.  Fix your image entrypoint to not print anything (your "run", "assemble", and "usage" scripts can print stuff, but your entrypoint itself should not)

[2018-02-27 21:37] bparees commented on #850
ah, well it's not your entrypoint, i think it's scl enablement logic that gets invoked when "/bin/bash" gets invoked in your save-artifacts script.

so you have a few options.  One is to get rid of these env vars in your image, which will stop it trying to enable the package (but if your app needs that package, that won't work):

[code]

Another option might be to use "/bin/sh" in your save-artifa

[2018-02-27 23:05] simbo1905 commented on #850
Adding `>> /dev/null` to the end of the last line of `scl_enable` worked. Incremental compile now works on a large private repo with 111 deps saving 3 minutes. Thanks!

Thanks for the suggestions about scl. It came with the repo that I forked and I am not convinced it is adding anything so will look into removing it.

Thanks again!

[2018-02-27 23:05] #850 closed

[2018-02-27 23:07] bparees commented on #850
awesome!

@sspeiche ^^^ :)

[2018-02-28 02:55] sspeiche commented on #850
very awesome!

[2018-02-28 08:42] ilovezfs opened #851 "Go 1.10 failure due to version comparison bug"
https://github.com/openshift/source-to-image/blob/master/hack/common.sh#L204

1.10 is not actually less than 1.4 but the install fails because 1<4

[code]

workaround: string replace 1.4 -> 1.0

[2018-02-28 15:32] #851 closed

[2018-02-28 22:59] lance opened #853 "assemble and run scripts appear to run as different users"
I am seeing some strange behavior when using s2i builder images within minishift. I am not sure if this is a problem with s2i or minishift, tbh.

When the `/usr/libexec/s2i/assemble` script is run, it is executed as `uid=1001(default) gid=0(root) groups=0(root)`. This is fine and makes sense for the ultimate runtime instance, because that's the same user/group as the runtime user.

But the `/usr/l

[2018-02-28 23:40] bparees commented on #853
it's expected behavior.

your assemble script runs as the default user for the builder image (whatever the last USER line in your dockerfile indicates).

your application image, when run on openshift, gets assigned a random uid.

The standard workaround is to chmod og+rwx such files (during assembly), and make them owned by the root group.

see: https://github.com/sclorg/s2i-base-container/blob/ma

[2018-02-28 23:40] #853 closed

[2018-03-01 02:54] lance commented on #853
Yeah - we're doing the `chmod` stuff in `assemble`. But it doesn't really resolve the issue for me. It's a little more complicated than what you describe. In `assemble` we run `npm install --only=production` in order to keep the image size small and as secure as possible. There is no need to install development dependencies in the normal case. But, if the user has set `DEV_MODE=true` or `NODE_ENV=

[2018-03-01 02:56] lance commented on #853
Just to be clear...

We install the dev dependencies during `/usr/libexec/s22i/run`.

[2018-03-01 03:41] bparees commented on #853
I don't know how you are ending up with both uid 1001 and uid 100120000 at runtime.

Either the files were created during assemble time, by user uid 1001, or they were installed at runtime, by uid 100120000.

It sounds like you're saying that at runtime, uid 100120000 installs the deps(via the run script), but at that point nothing is running as uid 1001, so your statement that 1001 is being denie

[2018-03-01 16:23] lance commented on #853
Yes I misspoke and was incorrect - because this stuff is complicated and sometimes it's easy to not see exactly what the problem is. I appreciate your continued patience.

But the fact remains that assemble writes files as `1001`, and run writes them as `10012000` (or whatever random ID). I have worked around a few issues related to this, there is only one remaining. It is somewhat minor, I admit,

[2018-03-01 16:29] bparees commented on #853
so two things:

1) this isn't really an s2i topic at this point.  Your concerns are with how openshift runs images (it runs them as a random uid by default, and you need special permissions to be able to choose what user to run as)
2) due to (1), such a pre-run hook really isn't likely to be implemented in openshift (and it can't be implemented in s2i since s2i isn't responsible for running your i

[2018-03-01 16:31] lance commented on #853
@bparees ok - thanks for taking the time to discuss it. I think I can work this out, and just having this little chat has helped me to figure out some next steps. 👍

[2018-03-02 16:33] cvschleich opened #854 "GitHub clone failing"
Hello! I've tried a number of times to get the S2I working with my private GitHub repository. I've followed a few tutorials, and have thus far failed to successfully have it clone. I have my deploy key at github, and it's configured as the source secret in OpenShift, but still fails. Here's a level 5 log excerpt:

`I0302 16:13:58.914761       1 builder.go:74] redacted build: {"kind":"Build","apiVe

[2018-03-02 17:27] bparees commented on #854
how did you create your source secret?  the most likely issue is that your secret data is not correct.

[2018-03-02 21:13] cvschleich commented on #854
Tried a couple of different ways.

From: https://blog.openshift.com/private-git-repositories-part-2a-repository-ssh-keys/
I used:

`ssh-keygen -C "openshift-source-builder/repo@github" -f repo-at-github -N ''`

Anything there look amiss?

[2018-03-02 21:16] bparees commented on #854
I mean how did you actually turn the key into an openshift secret?

(i'm going to assume you've confirmed you can clone w/ that ssh key locally, but that would be worth validating as well of course)

[2018-03-02 21:56] cvschleich commented on #854
Ah. Sorry about that. I followed the instructions as in the link above. Namely:

And yes, it clones locally just fine. Just reconfirmed. Thanks so much for your help!

[2018-03-02 22:06] cvschleich commented on #854
Gah! I'm an idiot.

I was giving it the https link instead of the ssh link. Fixed and running now.

Thanks so much and sorry to bother you!

[2018-03-02 22:06] #854 closed

[2018-03-02 22:07] bparees commented on #854
heh, cool :)

[2018-03-09 13:07] atlasloewenherz opened #858 "Documentation question: Enterypoint for S2I"
Hi Everyone,

i have the following situation, i have multiple docker based images, from down to top:

01: basic linux image built from scratch
02: based on 01-image adds a user under which the application server will runs
03: based on 02-image and installs JVM
04: based on 03-image and installs ( application server)
05: based on 04-image and deploys artifacts pulled from central maven repos

I wan

[2018-03-09 14:53] bparees commented on #858
I'm a little unclear on what (4) does.  You say installs (application server). Is it also building/installing the application, or is that done in (5)?

The normal structure for an s2i builder is that the builder image contains:

1) the runtime for running an application (but not the application itself)
2) the compilation tools to build/assemble an application

so assuming you want to retain the la